In [1]:

File3 = "03. Stage 3 07 (python)"
File4 = "03. Stage 1 & 2 0724  (python)"

#control + F + dropdown new to search bar to find and replace 
import pandas as pd
import numpy as np
import xlsxwriter

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

FILE3 = pd.read_excel(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\\"+str(File3)+".xlsx", sheet_name='Export Worksheet', header=0) # skiprows = 2, nrows=18,  usecols= 'A:D'
FILE4 = pd.read_excel(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\\"+str(File4)+".xlsx", sheet_name='Export Worksheet', header=0) # skiprows = 2, nrows=18,  usecols= 'A:D'

In [2]:
FILE3.head(1)

,Loan_Acc_,Ccy,Borrower,Type_of_Financing,LAF_ECL_FC,LAF_ECL_MYR,CnC_ECL_FC,CnC_ECL_MYR
0,500010,USD,PT Bumi International Tankers,Conventional,2.86e+06,1.31e+07,0.0,0.0

In [3]:
FILE4.head(1)

,Account_No,Borrower_name,Category,Month,LAF_ECL_FC,LAF_ECL_MYR,CnC_ECL_FC,CnC_ECL_MYR
0,500271,"MBI DEVELOPMENT D.O.O, BOSNIA&HERZE",Conventional,EUR,0.0,0.0,0.0,0.0

In [4]:
FILE3_1 = FILE3[['Loan_Acc_','LAF_ECL_FC','LAF_ECL_MYR','CnC_ECL_FC','CnC_ECL_MYR']]
FILE4_1 = FILE4[['Account_No','LAF_ECL_FC','LAF_ECL_MYR','CnC_ECL_FC','CnC_ECL_MYR']]

In [5]:
FILE3_1.columns = FILE4_1.columns

In [6]:
ecl1 = pd.concat([FILE3_1,FILE4_1])

ecl2 = ecl1.fillna(0).groupby(['Account_No'])[['LAF_ECL_FC','LAF_ECL_MYR','CnC_ECL_FC','CnC_ECL_MYR']].sum().reset_index()

In [7]:
ecl2['Account_No'].value_counts()

Account_No
0                       1
500559                  1
500631                  1
500625                  1
500617                  1
                       ..
501051                  1
501050                  1
501049                  1
501045                  1
EXIM/SMH/TNBG/21/039    1
Name: count, Length: 343, dtype: int64

In [8]:
ecl2.to_excel(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\04. ECL Combine.xlsx",index=False)

In [9]:
ecl2.head(1)

  Account_No  LAF_ECL_FC  LAF_ECL_MYR  CnC_ECL_FC  CnC_ECL_MYR
0          0         0.0          0.0         0.0          0.0