In [1]:
#nanti amend SAP no bina puri & OM material 500724 yg BG

#Manually check column closing yg mne satu

#Expected Credit Loss LAF (ECL) (Facility Currency) 
#Expected Credit Loss LAF (ECL) (MYR)
#Expected Credit Loss C&C (ECL) (Facility Currency)
#Expected Credit Loss C&C (ECL) (MYR) 

Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\Finance\ECL"
File = "ECL 0724 - MIS"

#control + F + dropdown new to search bar to find and replace 
import pandas as pd
import numpy as np
import xlsxwriter

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

#Stage 3
LAF = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='LAF (2)', header=2) # skiprows = 2, nrows=18,  usecols= 'A:D'
CnC = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='C&C (2)', header=2) # skiprows = 2, nrows=18,  usecols= 'A:D'

In [2]:
MRate = pd.read_excel(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\\00. Month End Rate.xlsx", header=2) # skiprows = 2, nrows=18,  usecols= 'A:D'

In [3]:
LAF.columns = LAF.columns.str.replace("\n", "_")
LAF.columns = LAF.columns.str.replace(" ", "_")
LAF.columns = LAF.columns.str.replace(".", "_")

CnC.columns = CnC.columns.str.replace("\n", "_")
CnC.columns = CnC.columns.str.replace(" ", "_")
CnC.columns = CnC.columns.str.replace(".", "_")

In [4]:
LAF1 = LAF.iloc[np.where(~(LAF.Account_No.isna()))]

LAF1['LAF_ECL_MYR'] = LAF1['Stage_1_Conventional'] + LAF1['Stage_2_Conventional'] + LAF1['Stage_1_Islamic'] + LAF1['Stage_2_Islamic']

LAF1 = LAF1.fillna(0).groupby(['Account_No','Borrower_name','Category','Unnamed:_5'])[['LAF_ECL_MYR']].sum().reset_index()

LAF2 = LAF1.rename(columns={'Unnamed:_5':'Month'}).merge(MRate[['Month','Curr']], on='Month', how='left')

LAF2['LAF_ECL_FC'] = LAF2['LAF_ECL_MYR']/LAF2['Curr']

C:\Users\syahidhalid\AppData\Local\Temp\3\ipykernel_35520\927349768.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  LAF1['LAF_ECL_MYR'] = LAF1['Stage_1_Conventional'] + LAF1['Stage_2_Conventional'] + LAF1['Stage_1_Islamic'] + LAF1['Stage_2_Islamic']

In [5]:
CnC1 = CnC.iloc[np.where(~(CnC.Account_No.isna()))]

CnC1['CnC_ECL_MYR'] = CnC1['Stage_1_Conventional'] + CnC1['Stage_2_Conventional'] + CnC1['Stage_1_Islamic'] + CnC1['Stage_2_Islamic']

CnC1 = CnC1.fillna(0).groupby(['Account_No','Borrower_name','Category','Unnamed:_5'])[['CnC_ECL_MYR']].sum().reset_index()

CnC2 = CnC1.rename(columns={'Unnamed:_5':'Month'}).merge(MRate[['Month','Curr']], on='Month', how='left')

CnC2['CnC_ECL_FC'] = CnC2['CnC_ECL_MYR']/CnC2['Curr']

C:\Users\syahidhalid\AppData\Local\Temp\3\ipykernel_35520\2448283237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CnC1['CnC_ECL_MYR'] = CnC1['Stage_1_Conventional'] + CnC1['Stage_2_Conventional'] + CnC1['Stage_1_Islamic'] + CnC1['Stage_2_Islamic']

In [6]:
merge = pd.concat([LAF2,CnC2])

merge.fillna(0, inplace=True)

merge.Borrower_name = merge.Borrower_name.str.strip()
merge.Borrower_name = merge.Borrower_name.str.upper()

merge1 = merge.fillna(0).groupby(['Account_No','Borrower_name','Category','Month'])[['LAF_ECL_FC',
                                                            'LAF_ECL_MYR','CnC_ECL_FC','CnC_ECL_MYR']].sum().reset_index()

In [7]:
print(sum(merge1.LAF_ECL_FC))
print(sum(merge1.LAF_ECL_MYR))
print(sum(merge1.CnC_ECL_FC))
print(sum(merge1.CnC_ECL_MYR))

66164146.49768944
166849246.9568898
11543145.934112819
15361822.175733848

In [8]:
#merge1.to_excel(str(Location)+'\\03. Stage 1 & 2 '+str(File[4:9])+' (python).xlsx', sheet_name='Export Worksheet', index = False)
merge1.to_excel(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\03. Stage 1 & 2 '+str(File[4:9])+' (python).xlsx', sheet_name='Export Worksheet', index = False)

In [9]:
#str(Location)+'\\04. Stage 1 & 2 '+str(File[4:9])+' (python).xlsx'

In [62]:
str(File[4:9])

'May24'

In [57]:
merge1['Account_No'].value_counts()

Account_No
BG        6
500271    1
501057    1
501035    1
501040    1
         ..
500912    1
500914    1
500916    1
500920    1
CEL       1
Name: count, Length: 168, dtype: int64

In [6]:
CnC2.iloc[np.where(CnC2['Month']=='MYR')]

,Account_No,Borrower_name,Category,Month,CnC_ECL_MYR,Curr,CnC_ECL_FC
9,500629,Facade Treatment Engineering Sdn Bhd,Conventional,MYR,0.00e+00,1.0,0.00e+00
16,500693,Perusahaan Otomobil Nasional Sdn Bhd- VF,Conventional,MYR,2.61e+04,1.0,2.61e+04
17,500694,Perusahaan Otomobil Nasional Sdn Bhd- VF,Islamic,MYR,1.07e+06,1.0,1.07e+06
22,500727,Mewah Datu Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
23,500729,SOP Edible Oil Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
26,500783,Mewah Oleo Industries Sdn Bhd,Islamic,MYR,1.24e+06,1.0,1.24e+06
27,500784,Felda Global Ventures Capital Sdn Bhd,Islamic,MYR,6.31e+06,1.0,6.31e+06
28,500785,Welford Manufacturing (M) Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
29,500786,Syarikat Motosikal dan Enjin Nasional Sdn. Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
30,500790,Mewah Oils Sdn Bhd,Islamic,MYR,1.96e+06,1.0,1.96e+06
31,500794,Tabco Food Services Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
38,500815,Central Sugar Refinery Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
42,500851,Foresight Industries Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
44,500855,TS Global Network Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
45,500859,Welford Manufacturing (M) Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
46,500860,Lantana Services Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
47,500861,TS Global Network Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
48,500865,Padiberas Nasional Berhad,Islamic,MYR,0.00e+00,1.0,0.00e+00
50,500878,Wok Delights Sdn Bhd,Conventional,MYR,0.00e+00,1.0,0.00e+00
58,500912,Ingress Katayama Technical Centre Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
60,500916,Ingress Katayama Technical Centre Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
65,500929,Lipidchem Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
66,500930,Usaha Tegar Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
67,500931,Lipidchem Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
70,500941,PWN Excellence Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
71,500942,PWN Excellence Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
72,500943,PWN Excellence Sdn Bhd,Islamic,MYR,3.02e+05,1.0,3.02e+05
75,500949,Rhinoshield Industries (M) Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
76,500952,UCM Industrial Corporation Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
79,500956,Tabco Food Services Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
81,500965,Joyeria Kohinoor Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
82,500966,Joyeria Kohinoor Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
87,500985,SSP Raw Metals Tradings Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
91,500995,Zaid Ibrahim & Co,Islamic,MYR,5.53e+03,1.0,5.53e+03
103,501027,Joyeria Kohinoor Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
104,501030,SSP Raw Metals Tradings Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
106,501032,Tabco Food Services Sdn Bhd (Loan 1),Islamic,MYR,0.00e+00,1.0,0.00e+00
107,501033,Tabco Food Services Sdn Bhd (Loan 2),Islamic,MYR,0.00e+00,1.0,0.00e+00
108,501035,Bio Eneco Sdn Bhd,Islamic,MYR,1.37e+03,1.0,1.37e+03
112,501050,Ingress Industrial (M) Sdn Bhd,Islamic,MYR,0.00e+00,1.0,0.00e+00
114,501055,Tabco Food Services Sdn Bhd (TS0005),Islamic,MYR,0.00e+00,1.0,0.00e+00
115,501056,Taiace Energy Services Sdn Bhd (Tranche 1),Islamic,MYR,0.00e+00,1.0,0.00e+00
116,501057,Taiace Energy Services Sdn Bhd (Tranche 2),Islamic,MYR,0.00e+00,1.0,0.00e+00
117,501058,Taiace Energy Services Sdn Bhd (Tranche 3),Islamic,MYR,0.00e+00,1.0,0.00e+00
118,501060,Joyeria Kohinoor Sdn Bhd - TF-i1,Islamic,MYR,0.00e+00,1.0,0.00e+00
119,501061,Joyeria Kohinoor Sdn Bhd - TF-i2,Islamic,MYR,0.00e+00,1.0,0.00e+00
120,501065,U.C.M. Industrial Corporation Berhad,Islamic,MYR,0.00e+00,1.0,0.00e+00
123,501071,Taiace Energy Services Sdn Bhd (Tranche 4),Islamic,MYR,0.00e+00,1.0,0.00e+00
131,501080,Sri Dayaa Manufacturing Sdn Bhd,Islamic,MYR,3.72e+00,1.0,3.72e+00
134,501090,Sri Dayaa Manufacturing Sdn Bhd - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
135,501091,Uzma Kuala Muda Sdn Bhd - new account,Islamic,MYR,3.21e+03,1.0,3.21e+03
139,501097,Tiong Nam Logistics Solutions Sdn Bhd - TF-i1 - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
143,501106,Biforst Logistics Sdn Bhd (TF-i1) - new account,Islamic,MYR,1.15e+01,1.0,1.15e+01
144,501107,Biforst Logistics Sdn Bhd (TF-i2) - new account,Islamic,MYR,2.32e+01,1.0,2.32e+01
145,501108,Biforst Logistics Sdn Bhd (TF-i3) - new account,Islamic,MYR,3.76e+03,1.0,3.76e+03
146,501109,Biforst Logistics Sdn Bhd (TF-i5) - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
147,501110,PTS Goldkist Industries Sdn Bhd,Islamic,MYR,9.25e+04,1.0,9.25e+04
148,501111,Agro 19 Berhad,Islamic,MYR,3.50e+04,1.0,3.50e+04
149,501112,Energy Equipment Tech Sdn Bhd - ACE Programme (Petronas),Islamic,MYR,8.13e+04,1.0,8.13e+04
150,501113,MK Precision Castings (M) Sdn Bhd,Islamic,MYR,8.03e+04,1.0,8.03e+04
151,501114,Bhavani Foods (M) Sdn Bhd - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
155,501118,Radysis Asia Sdn Bhd - new account,Islamic,MYR,7.02e+02,1.0,7.02e+02
156,501120,Urban Pinnacle Sdn B hd - TF-i1 - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
157,501121,Urban Pinnacle Sdn B hd - TF-i2 - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
158,501122,Urban Pinnacle Sdn B hd - TF-i3 - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
159,501125,Aescomed Healthcare Sdn Bhd,Islamic,MYR,3.28e+04,1.0,3.28e+04
160,501126,Urban Pinnacle Sdn Bhd - TF-i4 - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
161,501127,Siti Khadijah Apparel Sdn Bhd - new account,Islamic,MYR,0.00e+00,1.0,0.00e+00
162,501128,Hernan Corporation Sdn Bhd,Islamic,MYR,3.51e+05,1.0,3.51e+05
163,501129,AMC Cincaria Sdn Bhd,Islamic,MYR,1.19e+05,1.0,1.19e+05
164,501130,Helms Geomarine Sdn Bhd - new account,Islamic,MYR,3.34e+03,1.0,3.34e+03
165,501131,Bhavani Foods (M) Sdn Bhd,Islamic,MYR,1.18e+04,1.0,1.18e+04
166,501133,Ingress Industrial (Malaysia) Sdn Bhd,Islamic,MYR,2.48e+05,1.0,2.48e+05
169,BG,OM Materials (Sarawak) Sdn Bhd,Conventional,MYR,6.15e+05,1.0,6.15e+05

In [24]:
sum(merge.LAF_ECL_MYR)

189277832.60950887

In [20]:
#LAF1.shape

In [26]:
LAF2.head(1)

  Account_No       Type      Category Month  LAF_ECL_MYR  Curr  LAF_ECL_FC
0     500271  Non Trade  Conventional   EUR          0.0   5.1         0.0

In [27]:
CnC2.head(1)

  Account_No       Type      Category Month  CnC_ECL_MYR  Curr  CnC_ECL_FC
0     500271  Non Trade  Conventional   EUR          0.0   5.1         0.0

In [32]:
LAF

,Unnamed:_0,Account_No,Borrower_name,Type,Category,Unnamed:_5,Stage_1_Conventional,Stage_2_Conventional,Unnamed:_8,Stage_1_Islamic,Stage_2_Islamic,Unnamed:_11,Stage_1_Conventional_1,Stage_2_Conventional_1,Unnamed:_14,Stage_1_Islamic_1,Stage_2_Islamic_1
0,3308-02230-205-0051-00,500626,Akbank T.A.S. Turkey,Trade,Conventional,USD,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,NaN,0.00e+00,0.00e+00
1,3308-02137-102-0172-00,500891,Amcorp Properties Bhd,Non Trade,Islamic,USD,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,NaN,0.00e+00,0.00e+00
2,3308-04137-102-0214-00,500953,Amcorp Properties Bhd,Non Trade,Islamic,EUR,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,NaN,0.00e+00,0.00e+00
3,3308-02224-101-0215-00,500955,Aquawalk (Thailand) Co.Ltd,Non Trade,Islamic,USD,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,NaN,0.00e+00,0.00e+00
4,3308-02205-201-0129-00,500805,Armada Kraken Pte Ltd,Non Trade,Conventional,USD,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,NaN,0.00e+00,0.00e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,GRAND TOTAL,NaN,NaN,NaN,9.30e+07,5.09e+07,1.44e+08,3.44e+07,1.09e+07,1.89e+08,-1.36e+06,-4.31e+06,NaN,1.48e+06,2.95e+06
171,NaN,NaN,As per SAP,NaN,NaN,NaN,-9.30e+07,-5.09e+07,1.44e+08,-3.44e+07,-1.09e+07,1.89e+08,-1.36e+06,-4.31e+06,0.0,1.48e+06,2.95e+06
172,NaN,NaN,Differences,NaN,NaN,NaN,1.75e-02,-2.59e-02,0.00e+00,3.21e-02,-1.43e-02,NaN,2.97e-03,-8.27e-04,0.0,-1.78e-03,-1.75e-03