# Raw File

In [1]:
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

EXIB_name = "EXIB Apr2024_v3"
 
EXIM_name = "EXIM Apr2024_v2"

EXTF_name = "EXTF Apr2024"

date_file = 202404

Income_curr = "04. Income statement Apr 2024"

Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\"+str(date_file)

EXIB = pd.read_excel(str(Location)+"\\Source\\"+str(EXIB_name)+".xlsx", sheet_name=EXIB_name, header=5)
EXIB.columns = EXIB.columns.str.replace("\n", "_").str.replace(" ", "_")

EXIM = pd.read_excel(str(Location)+"\\Source\\"+str(EXIM_name)+".xlsx", sheet_name=EXIM_name, header=5)
EXIM.columns = EXIM.columns.str.replace("\n", "_").str.replace(" ", "_")

EXTF = pd.read_excel(str(Location)+"\\Source\\"+str(EXTF_name)+".xlsx", sheet_name=EXTF_name, header=5)
EXTF.columns = EXTF.columns.str.replace("\n", "_").str.replace(" ", "_")


EXIB1 = EXIB.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXIM1 = EXIM.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXTF1 = EXTF.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

Income_curr_raw = pd.concat([EXIB1, EXIM1, EXTF1])

In [2]:
print(EXIB1.shape)
print(EXIM1.shape)
print(EXTF1.shape)

(345, 18)
(2263, 18)
(325, 18)

In [3]:
#----------------------------------------------data-------------------------------------------------------------
#Income_curr = "01. Income statement Jan 2024"

#Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Sample"


#Income_curr_raw = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_curr_raw.columns = Income_curr_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_raw = pd.read_excel(str(Location)+"\\"+str(Income_prev)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_prev_raw.columns = Income_prev_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_prev_keyin.columns = Income_prev_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_curr_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_curr_keyin.columns = Income_curr_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

# Library

In [4]:

Location_dic = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Working"
file_dic = "Income Statement - Dictionary"

dic_keyin = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Keyin', header=0)
dic_keyin.columns = dic_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_op_rev = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Operating Revenue', header=0)
dic_op_rev.columns = dic_op_rev.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Income', header=0)
dic_int_inc.columns = dic_int_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Expense', header=0)
dic_int_exp.columns = dic_int_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_undwr_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Underwriting_Takaful results', header=0)
dic_undwr_tkfl.columns = dic_undwr_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_inc_isl_biz = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Income from Islamic business', header=0)
dic_inc_isl_biz.columns = dic_inc_isl_biz.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_oth_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Other income', header=0)
dic_oth_inc.columns = dic_oth_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_ovh_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Overhead expenses', header=0)
dic_ovh_exp.columns = dic_ovh_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_laf = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowances for losses on LAF', header=0)
dic_allw_laf.columns = dic_allw_laf.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_dim = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for diminution', header=0)
dic_allw_dim.columns = dic_allw_dim.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_cnc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for com and con', header=0)
dic_allw_cnc.columns = dic_allw_cnc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_invsec = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance on investment sec', header=0)
dic_allw_invsec.columns = dic_allw_invsec.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_sundry = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='General allowance -Sundry debt', header=0)
dic_allw_sundry.columns = dic_allw_sundry.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_sur_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Less_ Surplus attributable', header=0)
dic_sur_tkfl.columns = dic_sur_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

tax = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Taxation', header=0)
tax.columns = tax.columns.str.replace("\n", "_").str.replace(" ", "_")

conv = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Conventional', header=0)
conv.columns = conv.columns.str.replace("\n", "_").str.replace(" ", "_")

isl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Islamic', header=0)
isl.columns = isl.columns.str.replace("\n", "_").str.replace(" ", "_")

# Process

In [5]:

Income_curr_raw1 = Income_curr_raw.iloc[np.where(~Income_curr_raw['GL_no.'].isna())]

Income_curr_raw1 = Income_curr_raw1[['Item','GL_no.','Unnamed:_7','Unnamed:_10']].\
    rename(columns={'GL_no.': 'GL_Code_',\
                    'Unnamed:_10':'YTD '+str(Income_curr[21:]),\
                    'Unnamed:_7':'GL_Category'}).fillna(0)

Income_curr_raw1.GL_Code_ = Income_curr_raw1.GL_Code_.astype(str)
Income_curr_raw1.GL_Category = Income_curr_raw1.GL_Category.astype(str)
Income_curr_raw1['YTD '+str(Income_curr[21:])] = Income_curr_raw1['YTD '+str(Income_curr[21:])].astype(float)

#Income_curr_keyin1 = Income_curr_keyin.iloc[np.where(~Income_curr_keyin['GL_Code_'].isna())][['GL_Code_','GL_Category']]

#----------------------------------------------Keyin-------------------------------------------------------------

dic_keyin1 = dic_keyin.iloc[np.where(~dic_keyin['GL_Code_'].isna())].fillna(0)

dic_keyin1.GL_Code_ = dic_keyin1.GL_Code_.astype(str)
dic_keyin1.GL_Category = dic_keyin1.GL_Category.astype(str)

dic_keyin1 = dic_keyin1.drop_duplicates('GL_Code_', keep='first')

keyin = dic_keyin1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

In [6]:
#----------------------------------------------Op Rev-------------------------------------------------------------

dic_op_rev1 = dic_op_rev.iloc[np.where(~dic_op_rev['GL_Code_'].isna())].fillna(0)

dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(int)
dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(str)

dic_op_rev1 = dic_op_rev1.drop_duplicates('GL_Code_', keep='first')

OpRev = dic_op_rev1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OpRev['YTD '+str(Income_curr[21:])] = OpRev['YTD '+str(Income_curr[21:])]*-1

#Islamic
OpRev = OpRev.iloc[np.where(OpRev.Business_Category=="Islamic")]

OpRev1 = OpRev.fillna(0).groupby(['Class','Business_Category'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

OpRev2 = OpRev1.drop('Business_Category',axis=1)

In [7]:
dic_op_rev.Business_Category.value_counts()

Business_Category
Conventional    86
Islamic         42
Takaful         28
Name: count, dtype: int64

In [8]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

dic_inc_isl_biz1 = dic_inc_isl_biz.iloc[np.where(~dic_inc_isl_biz['GL_Code_'].isna())].fillna(0)
dic_inc_isl_biz1 = dic_inc_isl_biz1.iloc[np.where(~dic_inc_isl_biz1.GL_Description_2.isin(['Forex loss/gain realised','Forex loss/gain unrealised']))]

dic_inc_isl_biz1.GL_Code_ = dic_inc_isl_biz1.GL_Code_.astype(int)
dic_inc_isl_biz1.GL_Code_ = dic_inc_isl_biz1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

IncIslBiz = dic_inc_isl_biz1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IncIslBiz['YTD '+str(Income_curr[21:])] = IncIslBiz['YTD '+str(Income_curr[21:])]*-1

#unwind
IncIslBiz.loc[IncIslBiz.GL_Code_ == '5500306' , 'GL_Description_2'] = 'Other Income'

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Banking','Other Income']) , 'Class'] = 'Income derived from Islamic banking fund'

IncIslBiz_islbankfund = IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Banking','Other Income']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [9]:
IncIslBiz_islbankfund

                                      Class  YTD Apr 2024
0  Income derived from Islamic banking fund      5.85e+07

In [10]:
sum(IncIslBiz_islbankfund['YTD '+str(Income_curr[21:])])

58499732.06

In [11]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Financing cost']) , 'Class'] = 'Financing cost'

IncIslBiz_FunCos= IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Financing cost']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [12]:
sum(IncIslBiz_FunCos['YTD '+str(Income_curr[21:])])

-36033842.480000004

In [13]:
frames = [OpRev2, IncIslBiz_islbankfund, IncIslBiz_FunCos] 
appendR = pd.concat(frames)

appendR.set_index('Class', inplace=True)

b = appendR.T
b['Net income from Islamic banking fund'] = b['Income derived from Islamic banking fund'] + b['Financing cost']

c = b.T
newdf =c.reset_index()

In [14]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Financing cost']) , 'Class'] = 'Financing cost'

IncIslBiz_FunCos= IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Financing cost']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [15]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Wakalah fee']) , 'Class'] = 'Wakalah fee'

IncIslBiz_wakalah= IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Wakalah fee']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [16]:
sum(IncIslBiz_wakalah['YTD '+str(Income_curr[21:])])

415691.38

In [17]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Movement in expense liabilities']) , 'Class'] = 'Movement in expense liabilities'

IncIslBiz_movinliab= IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Movement in expense liabilities']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [18]:
sum(IncIslBiz_movinliab['YTD '+str(Income_curr[21:])])

0.0

In [19]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

IncIslBiz.loc[IncIslBiz.GL_Description_2.isin(['Takaful fees']) , 'Class'] = 'Takaful fees'

IncIslBiz_tkflfees= IncIslBiz.iloc[np.where(IncIslBiz['GL_Description_2'].isin(['Takaful fees']))].fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [20]:
sum(IncIslBiz_tkflfees['YTD '+str(Income_curr[21:])])

4533.5

In [21]:
appendnew = pd.concat([newdf, IncIslBiz_wakalah, IncIslBiz_movinliab, IncIslBiz_tkflfees])

appendnew.set_index('Class', inplace=True)

la = appendnew.T
la['Income from takaful activities'] = la['Wakalah fee'] + la['Movement in expense liabilities'] + la['Takaful fees']

la['Income from Islamic business'] = la['Net income from Islamic banking fund'] + la['Income from takaful activities']

la1 = la.T
newdf1 =la1.reset_index()

In [22]:
#----------------------------------------------Other Income-------------------------------------------------------------

dic_oth_inc1 = dic_oth_inc.iloc[np.where(~dic_oth_inc['GL_Code_'].isna())].fillna(0)

dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(int)
dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

OthInc = dic_oth_inc1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OthInc['YTD '+str(Income_curr[21:])] = OthInc['YTD '+str(Income_curr[21:])]*-1

#Islamic
OthInc.loc[OthInc.GL_Code_.isin(['4410101','4410106','4410107','4410108','4410109','4410102',
'4410103','4410111','4410112','4410702','4410104','4410105','4400201','4410703','4420706','4400112','4400114']),'Class']='Other Income - Fee Income'

OthInc.loc[OthInc.GL_Code_.isin(['4420709','4420712']),'Class']='Other Income - Forex loss/gain unrealised'

OthInc.loc[OthInc.GL_Code_.isin(['4420710','4420713','4420719','4420730','4420726',
                                         '4420725']),'Class']='Other Income - Forex loss/gain realised'

OthInc.loc[OthInc.GL_Code_.isin(['4420704','4420732','4420750','4420751']),'Class']='Other Income - Gain/Loss on financial instruments designated FVTPL'

OthInc.loc[OthInc.GL_Code_.isin(['4420600','4420601']),'Class']='Other Income - Gain/Loss on Investment in shares'

OthInc.loc[OthInc.GL_Code_.isin(['4420910','4420911','5540010','5540007']),'Class']='Other Income - Gain/Loss on Sukuk designated FVTPL'

OthIncl = OthInc.iloc[np.where(OthInc.Class.isin(['Other Income - Fee Income',
                                                  'Other Income - Forex loss/gain unrealised',
                                                  'Other Income - Forex loss/gain realised',
                                                 'Other Income - Gain/Loss on financial instruments designated FVTPL',
                                                 'Other Income - Gain/Loss on Investment in shares',
                                                 'Other Income - Gain/Loss on Sukuk designated FVTPL']))]

OthInc1 = OthIncl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [23]:
sum(OthInc1['YTD '+str(Income_curr[21:])])

-11988020.93

In [24]:
appendnew1 = pd.concat([newdf1, OthInc1])

appendnew1.set_index('Class', inplace=True)

laa = appendnew1.T
laa['Total Other Income'] = laa['Other Income - Fee Income'] + laa['Other Income - Forex loss/gain unrealised']+ laa['Other Income - Forex loss/gain realised']+ laa['Other Income - Gain/Loss on financial instruments designated FVTPL']+ laa['Other Income - Gain/Loss on Investment in shares']+ laa['Other Income - Gain/Loss on Sukuk designated FVTPL']

laa['Net income'] = laa['Income from Islamic business'] + laa['Total Other Income']

laa1 = laa.T
newdf2 =laa1.reset_index()

In [25]:
#----------------------------------------------Overhead expenses-------------------------------------------------------------

dic_ovh_exp1 = dic_ovh_exp.iloc[np.where(~dic_ovh_exp['GL_Code_'].isna())].fillna(0)

dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(int)
dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(str)

dic_ovh_exp1 = dic_ovh_exp1.drop_duplicates('GL_Code_', keep='last')

OvhExp = dic_ovh_exp1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OvhExp['YTD '+str(Income_curr[21:])] = OvhExp['YTD '+str(Income_curr[21:])]*-1

#Conventional
OvhExpl = OvhExp.iloc[np.where(OvhExp.GL_Code_.isin(['5510107',
'5510510',
'5510119',
'5510148',
'5510600',
'5510604',
'5510407',
'5510871',
'5510505',
'5510507',
'5511200',
'5511207',
'5510110',
'5510607',
'5510608',
'5510204']))]

OvhExp1 = OvhExpl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [26]:
sum(OvhExp1['YTD '+str(Income_curr[21:])])

-646065.51

In [27]:
OvhExp1

               Class  YTD Apr 2024
0  Overhead expenses    -646065.51

In [28]:
appendnew2 = pd.concat([newdf2, OvhExp1] )

appendnew2.set_index('Class', inplace=True)

laaa = appendnew2.T
laaa['Operating profit'] = laaa['Net income'] + laaa['Overhead expenses']

laaa1 = laaa.T
newdf3 =laaa1.reset_index()

In [29]:
#----------------------------------------------Allowances for losses on loans & financing -------------------------------------------------------------

dic_allw_laf1 = dic_allw_laf.iloc[np.where(~dic_allw_laf['GL_Code_'].isna())].fillna(0)

dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(int)
dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwLaf = dic_allw_laf1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwLaf['YTD '+str(Income_curr[21:])] = AllwLaf['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwLafl = AllwLaf.iloc[np.where(AllwLaf.GL_Code_.isin(['5511422',
'5511421',
'5511411',
'5511412',
'5511417',
'5511418',
'5511424',
'5511400',
'4430103']))]

AllwLaf1 = AllwLafl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [30]:
sum(AllwLaf1['YTD '+str(Income_curr[21:])])

120254.6499999999

In [31]:
#----------------------------------------------Allowance for commitments and contingencies  -------------------------------------------------------------

dic_allw_cnc1 = dic_allw_cnc.iloc[np.where(~dic_allw_cnc['GL_Code_'].isna())].fillna(0)

dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(int)
dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwCnC = dic_allw_cnc1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwCnC['YTD '+str(Income_curr[21:])] = AllwCnC['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwCnC = AllwCnC.iloc[np.where(AllwCnC.GL_Code_.isin(['5511425',
'5511426',
'5511427']))]

AllwCnC1 = AllwCnC.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [32]:
sum(AllwCnC1['YTD '+str(Income_curr[21:])])

546162.2599999998

In [33]:
#----------------------------------------------Allowance on investment securities  -------------------------------------------------------------

dic_allw_invsec1 = dic_allw_invsec.iloc[np.where(~dic_allw_invsec['GL_Code_'].isna())].fillna(0)

dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(int)
dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwInvSec = dic_allw_invsec1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwInvSec['YTD '+str(Income_curr[21:])] = AllwInvSec['YTD '+str(Income_curr[21:])]*-1

#Islamic
AllwInvSec = AllwInvSec.iloc[np.where(AllwInvSec.GL_Code_.isin(['5511423',
'5511428',
'5511429',
'5511430']))]

AllwInvSec1 = AllwInvSec.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [34]:
sum(AllwInvSec1['YTD '+str(Income_curr[21:])])

0.0

In [35]:
appendnew3 = pd.concat([newdf3, AllwLaf1, AllwCnC1, AllwInvSec1] )

appendnew3.set_index('Class', inplace=True)

laaaa = appendnew3.T
laaaa['Profit before taxation'] = laaaa['Operating profit'] + laaaa['Allowances for losses on loans & financing'] + laaaa['Allowance for commitments and contingencies']+laaaa['Allowance on investment securities']

laaaa1 = laaaa.T
newdf4 =laaaa1.reset_index()

In [36]:
#---------------------------------------------Zakat-------------------------------------------------------------

tax1 = tax.iloc[np.where(~tax['GL_Code_'].isna())].fillna(0)

tax1.GL_Code_ = tax1.GL_Code_.astype(int)
tax1.GL_Code_ = tax1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

TAXX = tax1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

TAXX['YTD '+str(Income_curr[21:])] = TAXX['YTD '+str(Income_curr[21:])]*-1

#dividen expense n zakat
TAXX = TAXX.iloc[np.where((TAXX.GL_Description.isin(["Zakat"])))]

TAXX1 = TAXX.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [37]:
appendnew4 = pd.concat([newdf4, TAXX1] )

appendnew4.set_index('Class', inplace=True)

laaaa4 = appendnew4.T
laaaa4['Net profit/Loss for the year'] = laaaa4['Profit before taxation'] + laaaa4['Zakat']

laaaa14 = laaaa4.T
newdf5 =laaaa14.reset_index()

newdf5.rename(columns={'Class':'Income Statement'}, inplace=True)

In [38]:
sum(newdf5.iloc[np.where(newdf5['Income Statement']=='Net profit/Loss for the year')]['YTD '+str(Income_curr[21:])])

10918444.929999998

# Export

In [39]:
newdf5.to_excel(str(Location)+'\\'+str(Income_curr[:4])+'YTD - Income Statement '+str(Income_curr[21:])+' Islamic (python).xlsx', sheet_name="Profit Loss Islamic", index = False)

In [40]:
Location

'C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\\\202404'

# Monthly BI

In [41]:
print(OpRev.shape)
print(IncIslBiz.shape)
print(OthIncl.shape)
print(OvhExpl.shape)
print(AllwLafl.shape)
print(AllwCnC.shape)
print(AllwInvSec.shape)
print(TAXX.shape)

(40, 9)
(72, 7)
(35, 7)
(16, 8)
(9, 7)
(3, 7)
(4, 7)
(1, 7)

In [42]:
#smpi sini

In [43]:
#---------------------------------------------Power BI-------------------------------------------------------------

OpRev1_BI = OpRev.rename(columns={'Business_Unit':'GL_Description_2'})[['GL_Description','GL_Code_','GL_Category','GL_Description_2','Class','Item','YTD '+str(Income_curr[21:]),'Business_Category']]

IncIslBiz['Business_Category'] = 'NA'
OthIncl['Business_Category'] = 'NA'

#.drop('GL_Category',axis=1)
OvhExpBI = OvhExpl.rename(columns={'Class_2':'Business_Category'})[['GL_Description',
'GL_Code_','GL_Category','GL_Description_2','Class','Item','YTD '+str(Income_curr[21:]),'Business_Category']]

#OvhExp1 = OvhExp.drop('GL_Category',axis=1).rename(columns={'Class_2':'GL_Description_2','GL_Description_2':'GL_Category'})[['GL_Description','GL_Code_','GL_Category','GL_Description_2','Class','Item','YTD '+str(Income_curr[21:]),'Business_Category']]

AllwLafl['Business_Category'] = 'NA'
AllwCnC['Business_Category'] = 'NA'
AllwInvSec['Business_Category'] = 'NA'
TAXX['Business_Category'] = 'NA'


PnL_BI = pd.concat([OpRev1_BI,
                    IncIslBiz,
                    OthIncl,
                    OvhExpBI,
                    AllwLafl,
                    AllwCnC,
                    AllwInvSec,
                    TAXX])

C:\Users\syahidhalid\AppData\Local\Temp\1\ipykernel_8464\2616631614.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OthIncl['Business_Category'] = 'NA'
C:\Users\syahidhalid\AppData\Local\Temp\1\ipykernel_8464\2616631614.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllwLafl['Business_Category'] = 'NA'

In [44]:
print(OpRev1_BI.shape)
print(IncIslBiz.shape)
print(OthIncl.shape)
print(OvhExpBI.shape)
print(AllwLafl.shape)
print(AllwCnC.shape)
print(AllwInvSec.shape)
print(TAXX.shape)

(40, 8)
(72, 8)
(35, 8)
(16, 8)
(9, 8)
(3, 8)
(4, 8)
(1, 8)

# Export

In [45]:
PnL_BI.to_csv(str(Location)+'\\'+str(Income_curr[:4])+'Income Statement '+str(Income_curr[21:])+' Islamic (python).txt', index = False)

In [50]:
Location

'C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\\\202407'

# Adhoc

In [ ]:
#writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\Income Statement '+str(Income_curr[21:])+' (python).xlsx',engine='xlsxwriter')

#newdf4.to_excel(writer2, sheet_name='Profit Loss', index = False)

#writer2._save()