# Raw File

In [1]:
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan


EXIB_name = "EXIB Apr2024_v3"
 
EXIM_name = "EXIM Apr2024_v2"

EXTF_name = "EXTF Apr2024"

date_file = 202404

Income_curr = "04. Income statement Apr 2024"


Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\"+str(date_file)

EXIB = pd.read_excel(str(Location)+"\\Source\\"+str(EXIB_name)+".xlsx", sheet_name=EXIB_name, header=5)
EXIB.columns = EXIB.columns.str.replace("\n", "_").str.replace(" ", "_")

EXIM = pd.read_excel(str(Location)+"\\Source\\"+str(EXIM_name)+".xlsx", sheet_name=EXIM_name, header=5)
EXIM.columns = EXIM.columns.str.replace("\n", "_").str.replace(" ", "_")

EXTF = pd.read_excel(str(Location)+"\\Source\\"+str(EXTF_name)+".xlsx", sheet_name=EXTF_name, header=5)
EXTF.columns = EXTF.columns.str.replace("\n", "_").str.replace(" ", "_")


EXIB1 = EXIB.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXIM1 = EXIM.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXTF1 = EXTF.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

Income_curr_raw = pd.concat([EXIB1, EXIM1, EXTF1])

In [2]:
print(EXIB1.shape)
print(EXIM1.shape)
print(EXTF1.shape)

(345, 18)
(2263, 18)
(325, 18)

In [3]:

#----------------------------------------------data-------------------------------------------------------------
#Income_curr = "01. Income statement Jan 2024"

#Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Sample"


#Income_curr_raw = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_curr_raw.columns = Income_curr_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_raw = pd.read_excel(str(Location)+"\\"+str(Income_prev)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_prev_raw.columns = Income_prev_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_prev_keyin.columns = Income_prev_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_curr_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_curr_keyin.columns = Income_curr_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

# Library

In [4]:

Location_dic = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Working"
file_dic = "Income Statement - Dictionary"

dic_keyin = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Keyin', header=0)
dic_keyin.columns = dic_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_op_rev = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Operating Revenue', header=0)
dic_op_rev.columns = dic_op_rev.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Income', header=0)
dic_int_inc.columns = dic_int_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Expense', header=0)
dic_int_exp.columns = dic_int_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_undwr_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Underwriting_Takaful results', header=0)
dic_undwr_tkfl.columns = dic_undwr_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_inc_isl_biz = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Income from Islamic business', header=0)
dic_inc_isl_biz.columns = dic_inc_isl_biz.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_oth_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Other income', header=0)
dic_oth_inc.columns = dic_oth_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_ovh_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Overhead expenses', header=0)
dic_ovh_exp.columns = dic_ovh_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_laf = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowances for losses on LAF', header=0)
dic_allw_laf.columns = dic_allw_laf.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_dim = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for diminution', header=0)
dic_allw_dim.columns = dic_allw_dim.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_cnc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for com and con', header=0)
dic_allw_cnc.columns = dic_allw_cnc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_invsec = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance on investment sec', header=0)
dic_allw_invsec.columns = dic_allw_invsec.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_sundry = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='General allowance -Sundry debt', header=0)
dic_allw_sundry.columns = dic_allw_sundry.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_sur_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Less_ Surplus attributable', header=0)
dic_sur_tkfl.columns = dic_sur_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

tax = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Taxation', header=0)
tax.columns = tax.columns.str.replace("\n", "_").str.replace(" ", "_")

conv = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Conventional', header=0)
conv.columns = conv.columns.str.replace("\n", "_").str.replace(" ", "_")

isl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Islamic', header=0)
isl.columns = isl.columns.str.replace("\n", "_").str.replace(" ", "_")

# Process

In [5]:

Income_curr_raw1 = Income_curr_raw.iloc[np.where(~Income_curr_raw['GL_no.'].isna())]

Income_curr_raw1 = Income_curr_raw1[['Item','GL_no.','Unnamed:_7','Unnamed:_10']].\
    rename(columns={'GL_no.': 'GL_Code_',\
                    'Unnamed:_10':'YTD '+str(Income_curr[21:]),\
                    'Unnamed:_7':'GL_Category'}).fillna(0)

Income_curr_raw1.GL_Code_ = Income_curr_raw1.GL_Code_.astype(str)
Income_curr_raw1.GL_Category = Income_curr_raw1.GL_Category.astype(str)
Income_curr_raw1['YTD '+str(Income_curr[21:])] = Income_curr_raw1['YTD '+str(Income_curr[21:])].astype(float)

#Income_curr_keyin1 = Income_curr_keyin.iloc[np.where(~Income_curr_keyin['GL_Code_'].isna())][['GL_Code_','GL_Category']]

#----------------------------------------------Keyin-------------------------------------------------------------

dic_keyin1 = dic_keyin.iloc[np.where(~dic_keyin['GL_Code_'].isna())].fillna(0)

dic_keyin1.GL_Code_ = dic_keyin1.GL_Code_.astype(str)
dic_keyin1.GL_Category = dic_keyin1.GL_Category.astype(str)

dic_keyin1 = dic_keyin1.drop_duplicates('GL_Code_', keep='first')

keyin = dic_keyin1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

In [6]:
#----------------------------------------------Op Rev-------------------------------------------------------------

dic_op_rev1 = dic_op_rev.iloc[np.where(~dic_op_rev['GL_Code_'].isna())].fillna(0)

dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(int)
dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(str)

dic_op_rev1 = dic_op_rev1.drop_duplicates('GL_Code_', keep='first')

OpRev = dic_op_rev1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left',suffixes=("_Excel","_SAP")).fillna(0)

OpRev['YTD '+str(Income_curr[21:])] = OpRev['YTD '+str(Income_curr[21:])]*-1

#Takaful
#OpRev = OpRev.iloc[np.where(OpRev.GL_Category.isin(["Gross premium contribution","Wakalah fee","Reinsurance outward","Income from recoveries"]))]
                            
OpRev = OpRev.iloc[np.where(OpRev.Business_Category.isin(["Takaful"]))]

OpRev.loc[OpRev.GL_Category.isin(['Gross premium contribution']), 'Class'] = 'Gross premium contribution'
OpRev.loc[OpRev.GL_Category.isin(['Wakalah fee']), 'Class'] = 'Wakalah fee'
OpRev.loc[OpRev.GL_Category.isin(['Reinsurance outward']), 'Class'] = 'Reinsurance outward'
OpRev.loc[OpRev.GL_Category.isin(['Income from recoveries']), 'Class'] = 'Income from recoveries'

OpRev.loc[OpRev.GL_Category.isin(['Unearned contribution -ST']), 'Class'] = 'Unearned contribution -ST'
OpRev.loc[OpRev.GL_Category.isin(['Unearned contribution -MLT']), 'Class'] = 'Unearned contribution -MLT'
OpRev.loc[OpRev.GL_Category.isin(['Unearned contribution -Reinsurance MLT']), 'Class'] = 'Unearned contribution -Reinsurance MLT'
OpRev.loc[OpRev.GL_Category.isin(['Unexpired risk reserve']), 'Class'] = 'Unexpired risk reserve'

#OpRev.loc[OpRev.GL_Category.isin(['Claim- General']), 'Class'] = 'Claim- General'
#OpRev.loc[OpRev.GL_Category.isin(['Claim- Specific']), 'Class'] = 'Claim- Specific'

OpRev= OpRev.iloc[np.where(~OpRev.Class.isin(["Operating Revenue"]))]

OpRev1 = OpRev.fillna(0).groupby(['Class','Business_Category'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

OpRev2 = OpRev1.drop('Business_Category',axis=1)

OpRev2.set_index('Class', inplace=True)

b = OpRev2.T

b['Total Op Rev'] = b['Gross premium contribution'] + b['Wakalah fee'] + b['Reinsurance outward'] + b['Income from recoveries']
b['Movement in premium contribution liability'] = b['Unearned contribution -ST'] + b['Unearned contribution -MLT'] + b['Unearned contribution -Reinsurance MLT'] + b['Unexpired risk reserve']
#b['Movement in claim liability'] = b['Claim- General'] + b['Claim- Specific'] 

b = b[['Gross premium contribution','Wakalah fee','Reinsurance outward','Income from recoveries','Total Op Rev',
                   'Unearned contribution -ST','Unearned contribution -MLT','Unearned contribution -Reinsurance MLT','Unexpired risk reserve','Movement in premium contribution liability']]

c = b.T
newdf =c.reset_index()

In [7]:
#OpRev1

In [8]:
sum(newdf.iloc[np.where(newdf.Class=="Total Op Rev")]['YTD '+str(Income_curr[21:])])

297506.5199999999

In [9]:
sum(newdf.iloc[np.where(newdf.Class=="Movement in premium contribution liability")]['YTD '+str(Income_curr[21:])])

201222.74

In [10]:
#----------------------------------------------Underwriting/Takaful results-------------------------------------------------------------

dic_undwr_tkfl1 = dic_undwr_tkfl.iloc[np.where(~dic_undwr_tkfl['GL_Code_'].isna())].fillna(0)

#dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(int)
dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(str)

dic_undwr_tkfl1 = dic_undwr_tkfl1.drop_duplicates('GL_Code_', keep='first')

UndwrTkfl = dic_undwr_tkfl1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

UndwrTkfl['YTD '+str(Income_curr[21:])] = UndwrTkfl['YTD '+str(Income_curr[21:])]*-1

#Takaful
UndwrTkfl = UndwrTkfl.iloc[np.where(UndwrTkfl.GL_Code_.isin(['460004','460007']))]

UndwrTkfl.loc[UndwrTkfl.GL_Code_.isin(['460004']), 'Class'] = 'Claim- General'
UndwrTkfl.loc[UndwrTkfl.GL_Code_.isin(['460007']), 'Class'] = 'Claim- Specific'

UndwrTkfl1 = UndwrTkfl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [11]:
UndwrTkfl1

             Class  YTD Apr 2024
0   Claim- General     -88042.98
1  Claim- Specific          0.00

In [12]:
appendnew = pd.concat([newdf, UndwrTkfl1] )

appendnew.set_index('Class', inplace=True)

la = appendnew.T

la['Movement in claim liability'] = la['Claim- General'] + la['Claim- Specific'] 

la1 = la.T
newdf1 =la1.reset_index()

In [13]:
#----------------------------------------------Op Rev2-------------------------------------------------------------

Comission = dic_op_rev1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left',suffixes=("_Excel","_SAP")).fillna(0)

Comission['YTD '+str(Income_curr[21:])] = Comission['YTD '+str(Income_curr[21:])]*-1

#Takaful
#OpRev = OpRev.iloc[np.where(OpRev.GL_Category.isin(["Gross premium contribution","Wakalah fee","Reinsurance outward","Income from recoveries"]))]
                            
Comission = Comission.iloc[np.where(Comission.GL_Code_.isin(["461001",'461002','461003','460006']))]

Comission.loc[Comission.GL_Code_.isin(['460006']), 'Class'] = 'Brokerage commission'
Comission.loc[Comission.GL_Category.isin(['Reinsurance commission']), 'Class'] = 'Reinsurance commission'
Comission.loc[Comission.GL_Code_.isin(['461002']), 'Class'] = 'Ceding commission'
Comission.loc[Comission.GL_Category.isin(['Profit Others']), 'Class'] = 'Profit Others'


#xleh ad brokerage & ceding comission sbb takaful is islamic
Comission.loc[Comission.GL_Code_.isin(['460006','461002']), 'YTD '+str(Income_curr[21:])] = 0

Comission1 = Comission.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [14]:
Comission1

                    Class  YTD Apr 2024
0    Brokerage commission           0.0
1       Ceding commission           0.0
2           Profit Others           0.0
3  Reinsurance commission           0.0

In [15]:
appendnew1 = pd.concat([newdf1, Comission1] )

appendnew1.set_index('Class', inplace=True)

laa = appendnew1.T

laa['Takaful fees'] = laa['Brokerage commission'] + laa['Reinsurance commission'] + laa['Ceding commission'] + laa['Profit Others'] 

laa1 = laa.T
newdf2 =laa1.reset_index()

In [16]:
#---------------------------------------------Less: Surplus attributable from Takaful Participants-------------------------------------------------------------

dic_sur_tkfl1 = dic_sur_tkfl.iloc[np.where(~dic_sur_tkfl['GL_Code_'].isna())].fillna(0)

#dic_sur_tkfl1.GL_Code_ = dic_sur_tkfl1.GL_Code_.astype(int)
dic_sur_tkfl1.GL_Code_ = dic_sur_tkfl1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

SurTfkl = dic_sur_tkfl1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

SurTfkl = SurTfkl.iloc[np.where(SurTfkl.GL_Code_.isin(['460011','462000']))]

SurTfkl.loc[SurTfkl.GL_Code_.isin(['460011']), 'Class'] = 'Bad debt written-off'
SurTfkl.loc[SurTfkl.GL_Code_.isin(['462000']), 'Class'] = 'Provision for doubtful debt'

SurTfkl['YTD '+str(Income_curr[21:])] = SurTfkl['YTD '+str(Income_curr[21:])]*-1

SurTfkl1 = SurTfkl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [17]:
SurTfkl1

                         Class  YTD Apr 2024
0         Bad debt written-off           0.0
1  Provision for doubtful debt      -25189.1

In [18]:
appendnew2 = pd.concat([newdf2, SurTfkl1] )

appendnew2.set_index('Class', inplace=True)

laaa = appendnew2.T

laaa['Allowance for doubtful debts'] = laaa['Bad debt written-off'] + laaa['Provision for doubtful debt']

laaa['Income from takaful activities'] = laaa['Total Op Rev'] +laaa['Movement in premium contribution liability'] + laaa['Movement in claim liability'] +laaa['Takaful fees'] + laaa['Allowance for doubtful debts']

laaa1 = laaa.T
newdf3 =laaa1.reset_index()

In [19]:
sum(newdf3.iloc[np.where(newdf3.Class=="Income from takaful activities")]['YTD '+str(Income_curr[21:])])

385497.17999999993

In [20]:
#---------------------------------------------Less: Surplus attributable from Takaful Participants2-------------------------------------------------------------

last = dic_sur_tkfl1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left',suffixes=("_Excel","_SAP")).fillna(0)

last['YTD '+str(Income_curr[21:])] = last['YTD '+str(Income_curr[21:])]*-1

#Takaful
#OpRev = OpRev.iloc[np.where(OpRev.GL_Category.isin(["Gross premium contribution","Wakalah fee","Reinsurance outward","Income from recoveries"]))]
                            
last = last.iloc[np.where(last.GL_Code_.isin(["461000",'465000']))]

last.loc[last.GL_Code_.isin(['461000']), 'Class'] = 'Short-term investment'
last.loc[last.GL_Code_.isin(['465000']), 'Class'] = 'Bank Charges'

#xleh ad brokerage & ceding comission sbb takaful is islamic
#Comission.loc[Comission.GL_Code_.isin(['460006','461002']), 'YTD '+str(Income_curr[21:])] = 0

last1 = last.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [21]:
appendnew3 = pd.concat([newdf3, last1] )

appendnew3.set_index('Class', inplace=True)

laaaa = appendnew3.T

laaaa['Income from placement with banks & financial institutions'] = laaaa['Short-term investment']
laaaa['Administrative expenses'] = laaaa['Bank Charges']
laaaa['Takaful fund results'] = laaaa['Income from takaful activities'] + laaaa['Bank Charges'] + laaaa['Short-term investment']

laaaa = laaaa[["Gross premium contribution",
"Wakalah fee",
"Reinsurance outward",
"Income from recoveries",
"Total Op Rev",
"Unearned contribution -ST",
"Unearned contribution -MLT",
"Unearned contribution -Reinsurance MLT",
"Unexpired risk reserve",
"Movement in premium contribution liability",
"Claim- General",
"Claim- Specific",
"Movement in claim liability",
"Brokerage commission",
"Ceding commission",
"Profit Others",
"Reinsurance commission",
"Takaful fees",
"Bad debt written-off",
"Provision for doubtful debt",
"Allowance for doubtful debts",
"Income from takaful activities",
"Short-term investment",
"Income from placement with banks & financial institutions",
"Bank Charges",
"Administrative expenses",
"Takaful fund results"]]

laaaa1 = laaaa.T
newdf4 =laaaa1.reset_index()

In [22]:
sum(newdf4.iloc[np.where(newdf4.Class=="Takaful fund results")]['YTD '+str(Income_curr[21:])])

385441.37999999995

In [23]:
#smpi sini, buat bank charges n short term investment

# Export

In [24]:
newdf4.to_excel(str(Location)+'\\'+str(Income_curr[:4])+'YTD - Income Statement '+str(Income_curr[21:])+' Takaful (python).xlsx', sheet_name="Profit Loss Takaful", index = False)

# Monthly BI

In [25]:
print(OpRev.shape)
print(UndwrTkfl.shape)
print(Comission.shape)
print(SurTfkl.shape)
print(last.shape)

(24, 9)
(2, 7)
(4, 9)
(2, 7)
(2, 7)

In [26]:
#---------------------------------------------Power BI-------------------------------------------------------------

OpRev1_BI = OpRev.rename(columns={'Business_Unit':'GL_Description_2'})[['GL_Description','GL_Code_','GL_Category','GL_Description_2','Class','Item','YTD '+str(Income_curr[21:]),'Business_Category']]

UndwrTkfl['Business_Category'] = 'NA'
SurTfkl['Business_Category'] = 'NA'
last['Business_Category'] = 'NA'

Comission_BI = Comission.rename(columns={'Business_Unit':'GL_Description_2'})[["GL_Description","GL_Code_","GL_Category","GL_Description_2","Class","Item",'YTD '+str(Income_curr[21:]),"Business_Category"]]

PnL_BI = pd.concat([OpRev1_BI,UndwrTkfl,Comission_BI,SurTfkl,last])

In [27]:
print(OpRev1_BI.shape)
print(UndwrTkfl.shape)
print(Comission_BI.shape)
print(SurTfkl.shape)
print(last.shape)

(24, 8)
(2, 8)
(4, 8)
(2, 8)
(2, 8)

# Export

In [28]:
PnL_BI.to_csv(str(Location)+'\\'+str(Income_curr[:4])+'Income Statement '+str(Income_curr[21:])+' Takaful (python).txt', index = False)

In [ ]:
#str(Location[:-6])+'\\'+str(Income_curr[:4])+'Income Statement '+str(Income_curr[21:])+' (python).txt'

# Adhoc

In [ ]:
#writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\Income Statement '+str(Income_curr[21:])+' (python).xlsx',engine='xlsxwriter')

#newdf4.to_excel(writer2, sheet_name='Profit Loss', index = False)

#writer2._save()