# Raw File

In [239]:
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

#----------------------------------------------data-------------------------------------------------------------
EXIB_name = "EXIB_Jan2024"
 
EXIM_name = "EXIM_Jan2024_v2"

EXTF_name = "EXTF_Jan2024"

date_file = 202401

Income_curr = "01. Income statement Jan 2024"

Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\"+str(date_file)

EXIB = pd.read_excel(str(Location)+"\\Source\\"+str(EXIB_name)+".xlsx", sheet_name=EXIB_name, header=5)
EXIB.columns = EXIB.columns.str.replace("\n", "_").str.replace(" ", "_")

EXIM = pd.read_excel(str(Location)+"\\Source\\"+str(EXIM_name)+".xlsx", sheet_name=EXIM_name, header=5)
EXIM.columns = EXIM.columns.str.replace("\n", "_").str.replace(" ", "_")

EXTF = pd.read_excel(str(Location)+"\\Source\\"+str(EXTF_name)+".xlsx", sheet_name=EXTF_name, header=5)
EXTF.columns = EXTF.columns.str.replace("\n", "_").str.replace(" ", "_")


EXIB1 = EXIB.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXIM1 = EXIM.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

EXTF1 = EXTF.rename(columns={"C":"Unnamed:_1",
                            "Comp":"Item",
                            "Bus.":"Account",
                            "Texts":"GL_no.",
                            "Unnamed:_5":"Mapped_to",
                            "Unnamed:_6":"Unnamed:_6",
                            "Unnamed:_7":"Unnamed:_7",
                            "Unnamed:_8":"GL_Category",
                            "Reporting_period":"RM",
                            "Unnamed:_10":"Unnamed:_10"})

Income_curr_raw = pd.concat([EXIB1, EXIM1, EXTF1])

#Income_curr = "01. Income statement Jan 2024"

#Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Sample"


#Income_curr_raw = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_curr_raw.columns = Income_curr_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_raw = pd.read_excel(str(Location)+"\\"+str(Income_prev)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_prev_raw.columns = Income_prev_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_prev_keyin.columns = Income_prev_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_curr_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_curr_keyin.columns = Income_curr_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

# Library

In [240]:

Location_dic = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Working"
file_dic = "Income Statement - Dictionary"

dic_keyin = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Keyin', header=0)
dic_keyin.columns = dic_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_op_rev = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Operating Revenue', header=0)
dic_op_rev.columns = dic_op_rev.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Income', header=0)
dic_int_inc.columns = dic_int_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Expense', header=0)
dic_int_exp.columns = dic_int_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_undwr_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Underwriting_Takaful results', header=0)
dic_undwr_tkfl.columns = dic_undwr_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_inc_isl_biz = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Income from Islamic business', header=0)
dic_inc_isl_biz.columns = dic_inc_isl_biz.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_oth_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Other income', header=0)
dic_oth_inc.columns = dic_oth_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_ovh_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Overhead expenses', header=0)
dic_ovh_exp.columns = dic_ovh_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_laf = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowances for losses on LAF', header=0)
dic_allw_laf.columns = dic_allw_laf.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_dim = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for diminution', header=0)
dic_allw_dim.columns = dic_allw_dim.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_cnc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for com and con', header=0)
dic_allw_cnc.columns = dic_allw_cnc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_invsec = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance on investment sec', header=0)
dic_allw_invsec.columns = dic_allw_invsec.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_sundry = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='General allowance -Sundry debt', header=0)
dic_allw_sundry.columns = dic_allw_sundry.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_sur_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Less_ Surplus attributable', header=0)
dic_sur_tkfl.columns = dic_sur_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

tax = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Taxation', header=0)
tax.columns = tax.columns.str.replace("\n", "_").str.replace(" ", "_")

conv = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Conventional', header=0)
conv.columns = conv.columns.str.replace("\n", "_").str.replace(" ", "_")

isl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Islamic', header=0)
isl.columns = isl.columns.str.replace("\n", "_").str.replace(" ", "_")

In [241]:
#----------------------------------------------Keyin-------------------------------------------------------------

Income_curr_raw1 = Income_curr_raw.iloc[np.where(~Income_curr_raw['GL_no.'].isna())]

Income_curr_raw1 = Income_curr_raw1[['Item','GL_no.','Unnamed:_7','Unnamed:_10']].\
    rename(columns={'GL_no.': 'GL_Code_',\
                    'Unnamed:_10':'YTD '+str(Income_curr[21:]),\
                    'Unnamed:_7':'GL_Category'}).fillna(0)

Income_curr_raw1.GL_Code_ = Income_curr_raw1.GL_Code_.astype(str)
Income_curr_raw1.GL_Category = Income_curr_raw1.GL_Category.astype(str)
Income_curr_raw1['YTD '+str(Income_curr[21:])] = Income_curr_raw1['YTD '+str(Income_curr[21:])].astype(float)

#Income_curr_keyin1 = Income_curr_keyin.iloc[np.where(~Income_curr_keyin['GL_Code_'].isna())][['GL_Code_','GL_Category']]

dic_keyin1 = dic_keyin.iloc[np.where(~dic_keyin['GL_Code_'].isna())].fillna(0)

dic_keyin1.GL_Code_ = dic_keyin1.GL_Code_.astype(str)
dic_keyin1.GL_Category = dic_keyin1.GL_Category.astype(str)

dic_keyin1 = dic_keyin1.drop_duplicates('GL_Code_', keep='first')

keyin = dic_keyin1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)


#----------------------------------------------Op Rev-------------------------------------------------------------

dic_op_rev1 = dic_op_rev.iloc[np.where(~dic_op_rev['GL_Code_'].isna())].fillna(0)

dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(int)
dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(str)

dic_op_rev1 = dic_op_rev1.drop_duplicates('GL_Code_', keep='first')

OpRev = dic_op_rev1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OpRev['YTD '+str(Income_curr[21:])] = OpRev['YTD '+str(Income_curr[21:])]*-1

#Conventional
OpRev = OpRev.iloc[np.where(OpRev.Business_Category=="Conventional")]

OpRev1 = OpRev.fillna(0).groupby(['Class','Business_Category'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

OpRev2 = OpRev1.drop('Business_Category',axis=1)

In [242]:
OpRev2

               Class  YTD Jan 2024
0  Operating Revenue      1.29e+07

In [243]:
#----------------------------------------------Int Inc-------------------------------------------------------------

dic_int_inc1 = dic_int_inc.iloc[np.where(~dic_int_inc['GL_Code_'].isna())].fillna(0)

dic_int_inc1.GL_Code_ = dic_int_inc1.GL_Code_.astype(int)
dic_int_inc1.GL_Code_ = dic_int_inc1.GL_Code_.astype(str)

dic_int_inc1 = dic_int_inc1.drop_duplicates('GL_Code_', keep='first')

IntInc = dic_int_inc1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IntInc['YTD '+str(Income_curr[21:])] = IntInc['YTD '+str(Income_curr[21:])]*-1

IntInc1 = IntInc.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [244]:
#sme cm all
IntInc1

             Class  YTD Jan 2024
0  Interest Income      8.74e+06

In [245]:
#----------------------------------------------Int Exp-------------------------------------------------------------

dic_int_exp1 = dic_int_exp.iloc[np.where(~dic_int_exp['GL_Code_'].isna())].fillna(0)

dic_int_exp1.GL_Code_ = dic_int_exp1.GL_Code_.astype(int)
dic_int_exp1.GL_Code_ = dic_int_exp1.GL_Code_.astype(str)

dic_int_exp1 = dic_int_exp1.drop_duplicates('GL_Code_', keep='first')

IntExp = dic_int_exp1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IntExp['YTD '+str(Income_curr[21:])] = IntExp['YTD '+str(Income_curr[21:])]*-1

IntExp1 = IntExp.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [246]:
#sme cm all
sum(IntExp['YTD '+str(Income_curr[21:])])

-5668139.74

In [247]:
frames = [OpRev2, IntInc1, IntExp1] 
appendR = pd.concat(frames)


appendR.set_index('Class', inplace=True)

b = appendR.T
b['Net Interest Income'] = b['Interest Income'] + b['Interest Expense']

c = b.T
newdf =c.reset_index()

In [248]:
#----------------------------------------------Underwriting/Takaful results-------------------------------------------------------------

dic_undwr_tkfl1 = dic_undwr_tkfl.iloc[np.where(~dic_undwr_tkfl['GL_Code_'].isna())].fillna(0)

#dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(int)
dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(str)

dic_undwr_tkfl1 = dic_undwr_tkfl1.drop_duplicates('GL_Code_', keep='first')

UndwrTkfl= dic_undwr_tkfl1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

UndwrTkfl['YTD '+str(Income_curr[21:])] = UndwrTkfl['YTD '+str(Income_curr[21:])]*-1

#Conventional
UndwrTkfl = UndwrTkfl.iloc[np.where(UndwrTkfl.GL_Description_2.isin(['Gross premiums',
                                                             'Reinsurance',
                                                             'Movement in premium liabilities reserves',
                                                             'Write-back in allowance for doubtful debts',
                                                             'Other fee income',
                                                             'Net claims incurred']))]

UndwrTkfl1 = UndwrTkfl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [249]:
UndwrTkfl1

                          Class  YTD Jan 2024
0  Underwriting/Takaful results     -14725.84

In [250]:
#----------------------------------------------Other Income-------------------------------------------------------------

dic_oth_inc1 = dic_oth_inc.iloc[np.where(~dic_oth_inc['GL_Code_'].isna())].fillna(0)

dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(int)
dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

OthInc = dic_oth_inc1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OthInc['YTD '+str(Income_curr[21:])] = OthInc['YTD '+str(Income_curr[21:])]*-1

#Conventional
OthIncl = OthInc.iloc[np.where(OthInc.GL_Code_.isin(['410104',
'410116',
'410117',
'410118',
'410105',
'410119',
'410120',
'410121',
'410107',
'410122',
'410123',
'410124',
'410125',
'410109',
'410110',
'410114',
'410115',
'410111',
'410680',
'410650',
'410103',
'410701',
'410702',
'410704',
'410705',
'400201',
'410101',
'410102',
'410113',
'410112',
'410655',
'410100',
'420709',
'420712',
'420719',
'420710',
'420713',
'420724',
'420726',
'420725',
'420730',
'420732',
'420707',
'420711',
'420708',
'421302',
'421300',
'420729',
'420731',
'420704',
'420751',
'420750',
'420910',
'420911',
'420912',
'540007',
'540008',
'540014',
'420702',
'420727',
'420608',
'511310',
'420609',
'420706',
'420701',
'420705',
'420703']))]

OthInc1 = OthIncl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [251]:
sum(OthIncl['YTD '+str(Income_curr[21:])])

-14896263.969999999

In [252]:
appendnew = pd.concat([newdf, UndwrTkfl1, OthInc1] )

appendnew.set_index('Class', inplace=True)

la = appendnew.T
la['Net Income'] = la['Net Interest Income'] + la['Underwriting/Takaful results'] + la['Other income'] #+ la['Income from Islamic business']

la1 = la.T
newdf1 =la1.reset_index()

In [253]:
#newdf1

In [254]:
#----------------------------------------------Overhead expenses-------------------------------------------------------------

dic_ovh_exp1 = dic_ovh_exp.iloc[np.where(~dic_ovh_exp['GL_Code_'].isna())].fillna(0)

dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(int)
dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(str)

dic_ovh_exp1 = dic_ovh_exp1.drop_duplicates('GL_Code_', keep='last')

OvhExp = dic_ovh_exp1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OvhExp['YTD '+str(Income_curr[21:])] = OvhExp['YTD '+str(Income_curr[21:])]*-1

#Conventional
OvhExpl = OvhExp.iloc[np.where(OvhExp.GL_Code_.isin(['510613','510402',
'510508','510501',
'510406','510405',
'510302','510300',
'510301','510608',
'510404','510403',
'510601','510219',
'510210','510223',
'510209','511401',
'510110','511206',
'511207','510304',
'510305','510211',
'511102','511104',
'511100','511108',
'511101','511105',
'510202','510205',
'510703','510704',
'510700','510705',
'510702','510206',
'510901','511201',
'510504','510900',
'510203','510204',
'510407','510303',
'510902','510502',
'510607','510509',
'510500','510510',
'510603','511313',
'510609','510215',
'510214','510605',
'511209','510213',
'510218','510207',
'510200','500400',
'500401','510872',
'510106','510150',
'510600','510604',
'510612','510611',
'510610','500103','500200','511200','511203','511204','511208','510870','510871','511404','511405','511300','511301',
'511302','510401','510400','510803','510800','510802','510801','510505','510506','510511','510507','510109','510104','510115','510126','510117',
'510105','510107','510108','510116','510118','510152','510128','510111','510155','510216','510103','510141','510125','510113','510147','510100',
'510101','510102','510132','510221','510130','510114','510139','510133','510138','510137','510121','510140','510129','510135','510149','510122',
'510512','510123','510145','510134','510136','510220','510146','510148','510154','510120','510208','510119','511205','510156','510151','510153']))]

OvhExp1 = OvhExpl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [255]:
sum(OvhExp1['YTD '+str(Income_curr[21:])])

-5959414.82

In [256]:
appendnew1 = pd.concat([newdf1, OvhExp1] )

appendnew1.set_index('Class', inplace=True)

laa = appendnew1.T
laa['Operating profit/loss'] = laa['Net Income'] + laa['Overhead expenses']

laa1 = laa.T
newdf2 =laa1.reset_index()

In [257]:
#----------------------------------------------Allowances for losses on loans & financing -------------------------------------------------------------

dic_allw_laf1 = dic_allw_laf.iloc[np.where(~dic_allw_laf['GL_Code_'].isna())].fillna(0)

dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(int)
dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwLaf = dic_allw_laf1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwLaf['YTD '+str(Income_curr[21:])] = AllwLaf['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwLafl = AllwLaf.iloc[np.where(AllwLaf.GL_Code_.isin(['511422',
'400108',
'511424',
'511421',
'511417',
'511418',
'511411',
'511400',
'430103',
'511425',
'511426',
'511427',
'511414']))]

AllwLaf1 = AllwLafl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [258]:
sum(AllwLaf1['YTD '+str(Income_curr[21:])])

-3346040.6300000004

In [259]:
#----------------------------------------------Allowance on investment securities  -------------------------------------------------------------

dic_allw_invsec1 = dic_allw_invsec.iloc[np.where(~dic_allw_invsec['GL_Code_'].isna())].fillna(0)

dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(int)
dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwInvSec = dic_allw_invsec1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwInvSec['YTD '+str(Income_curr[21:])] = AllwInvSec['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwInvSec = AllwInvSec.iloc[np.where(AllwInvSec.GL_Code_.isin(['511423',
'511428',
'511429',
'511430']))]

AllwInvSec1 = AllwInvSec.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [260]:
sum(AllwInvSec1['YTD '+str(Income_curr[21:])])

0.0

In [261]:
#---------------------------------------------General allowance -Sundry debtors-------------------------------------------------------------

dic_allw_sundry1 = dic_allw_sundry.iloc[np.where(~dic_allw_sundry['GL_Code_'].isna())].fillna(0)

dic_allw_sundry1.GL_Code_ = dic_allw_sundry1.GL_Code_.astype(int)
dic_allw_sundry1.GL_Code_ = dic_allw_sundry1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwInvSun = dic_allw_sundry1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwInvSun['YTD '+str(Income_curr[21:])] = AllwInvSun['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwInvSun = AllwInvSun.iloc[np.where(AllwInvSun.GL_Code_.isin(['511403']))]

AllwInvSun1 = AllwInvSun.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [262]:
sum(AllwInvSun1['YTD '+str(Income_curr[21:])])

0.0

In [263]:
#----------------------------------------------Allowance for commitments and contingencies  -------------------------------------------------------------

dic_allw_cnc1 = dic_allw_cnc.iloc[np.where(~dic_allw_cnc['GL_Code_'].isna())].fillna(0)

dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(int)
dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwCnC = dic_allw_cnc1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwCnC['YTD '+str(Income_curr[21:])] = AllwCnC['YTD '+str(Income_curr[21:])]*-1

#Conventional
AllwCnC = AllwCnC.iloc[np.where(AllwCnC.GL_Code_.isin(['511425',
'511426',
'511427']))]

AllwCnC1 = AllwCnC.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [264]:
sum(AllwCnC1['YTD '+str(Income_curr[21:])])

2462036.43

In [265]:
#----------------------------------------------Allowance for diminution in value of investment in subsidiaries  -------------------------------------------------------------

dic_allw_dim1 = dic_allw_dim.iloc[np.where(~dic_allw_dim['GL_Code_'].isna())].fillna(0)

dic_allw_dim1.GL_Code_ = dic_allw_dim1.GL_Code_.astype(int)
dic_allw_dim1.GL_Code_ = dic_allw_dim1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwDim = dic_allw_dim1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwDim['YTD '+str(Income_curr[21:])] = AllwDim['YTD '+str(Income_curr[21:])]*-1

AllwDim1 = AllwDim.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [266]:
sum(AllwDim1['YTD '+str(Income_curr[21:])])

0.0

In [267]:
#---------------------------------------------PBT-------------------------------------------------------------

appendnew2 = pd.concat([newdf2,
AllwLaf1,
AllwInvSec1,
AllwInvSun1,
AllwCnC1,
AllwDim1] )

appendnew2.set_index('Class', inplace=True)

laaa = appendnew2.T

laaa['Profit/Loss before taxation'] = laaa['Operating profit/loss'] + laaa['Allowances for losses on loans & financing']+ laaa['Allowance on investment securities']+ laaa['General allowance -Sundry debtors']+ laaa['Allowance for commitments and contingencies']+ laaa['Allowance for diminution in value of investment in subsidiaries ']

laaa1 = laaa.T
newdf3 =laaa1.reset_index()

In [268]:
#---------------------------------------------Taxation-------------------------------------------------------------

tax1 = tax.iloc[np.where(~tax['GL_Code_'].isna())].fillna(0)

tax1.GL_Code_ = tax1.GL_Code_.astype(int)
tax1.GL_Code_ = tax1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

TAXX = tax1.merge(Income_curr_raw1[['Item','GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

TAXX['YTD '+str(Income_curr[21:])] = TAXX['YTD '+str(Income_curr[21:])]*-1

#dividen expense n zakat
TAXX = TAXX.iloc[np.where(~(TAXX.GL_Code_.isin(["530001","5520003"])))]

TAXX1 = TAXX.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [269]:
appendnew3 = pd.concat([newdf3, TAXX1] )

appendnew3.set_index('Class', inplace=True)

laaaa = appendnew3.T
laaaa['Net Profit/Loss fo the year'] = laaaa['Profit/Loss before taxation'] + laaaa['Taxation']

laaaa1 = laaaa.T
newdf4 =laaaa1.reset_index()

newdf4.rename(columns={'Class':'Income Statement'}, inplace=True)

# Export

In [32]:
newdf4.to_excel(str(Location)+'\\'+str(Income_curr[:4])+'YTD Income Statement '+str(Income_curr[21:])+' Conventional (python).xlsx', sheet_name="Profit Loss Conventional", index = False)

In [33]:
Location

'C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\\\202404'

# Monthly BI

In [270]:
print(OpRev.shape)
print(IntInc.shape)
print(IntExp.shape)
print(UndwrTkfl.shape)
print(OthIncl.shape)
print(OvhExpl.shape)
print(AllwLafl.shape)
print(AllwInvSec.shape)
print(AllwInvSun.shape)
print(AllwCnC.shape)
print(AllwDim.shape)
print(TAXX.shape)

(86, 9)
(60, 7)
(29, 7)
(36, 7)
(66, 7)
(149, 8)
(10, 7)
(4, 7)
(1, 7)
(3, 7)
(1, 7)
(4, 7)

In [271]:
#OpRev.Business_Unit.value_counts()

In [272]:
OvhExpl.Class_2.value_counts()
#GL_Description_2

Class_2
General administrative expenses       83
Personnel costs                       52
Establishment & marketing expenses    14
Name: count, dtype: int64

In [273]:
#---------------------------------------------Power BI-------------------------------------------------------------

OpRevBI = OpRev.rename(columns={'Business_Unit':'GL_Description_2'})[['GL_Description',
                    'GL_Code_','GL_Category','GL_Description_2','Class','Item','YTD '+str(Income_curr[21:]),'Business_Category']]

IntInc['Business_Category'] = 'NA'
IntExp['Business_Category'] = 'NA'
UndwrTkfl['Business_Category'] = 'NA'
OthIncl['Business_Category'] = 'NA'
#vhExp['Business_Category'] = 'NA'

#.drop('GL_Category',axis=1)
OvhExpBI = OvhExpl.rename(columns={'Class_2':'Business_Category'})[['GL_Description',
'GL_Code_','GL_Category','GL_Description_2','Class','YTD '+str(Income_curr[21:]),'Business_Category']]

AllwLafl['Business_Category'] = 'NA'
AllwInvSec['Business_Category'] = 'NA'
AllwInvSun['Business_Category'] = 'NA'
AllwCnC['Business_Category'] = 'NA'
AllwDim['Business_Category'] = 'NA'
TAXX['Business_Category'] = 'NA'

PnL_BI = pd.concat([OpRevBI,IntInc,IntExp,UndwrTkfl,OthIncl,OvhExpBI,AllwLafl,AllwInvSec,AllwInvSun,AllwCnC,AllwDim,TAXX])

C:\Users\syahidhalid\AppData\Local\Temp\2\ipykernel_19756\2179065753.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OthIncl['Business_Category'] = 'NA'
C:\Users\syahidhalid\AppData\Local\Temp\2\ipykernel_19756\2179065753.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AllwLafl['Business_Category'] = 'NA'

# Export

In [274]:
PnL_BI.to_csv(str(Location)+'\\'+str(Income_curr[:4])+'Income Statement '+str(Income_curr[21:])+' Conventional (python).txt', index = False)

In [275]:
Location

'C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\\\202401'

In [ ]:
#writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\Income Statement '+str(Income_curr[21:])+' (python).xlsx',engine='xlsxwriter')

#newdf4.to_excel(writer2, sheet_name='Profit Loss', index = False)

#writer2._save()