# Power BI

In [1]:
#----------------------------------------------BI-------------------------------------------------------------

import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

year_a = 202401
year_b = 202402
year_c = 202403
year_d = 202404
year_e = 202405
year_f = 202406
year_g = 202407

a = "01. Income Statement Jan 2024 (python)"
b = "02. Income Statement Feb 2024 (python)"
c = "03. Income Statement Mar 2024 (python)"
d = "04. Income Statement Apr 2024 (python)"
e = "05. Income Statement May 2024 (python)"
f = "06. Income Statement Jun 2024 (python)"
g = "07. Income Statement Jul 2024 (python)"

Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account"

bi1 = pd.read_csv(str(Location)+"\\"+str(year_a)+"\\"+str(a)+".txt", sep = ",", header = 0)
bi2 = pd.read_csv(str(Location)+"\\"+str(year_b)+"\\"+str(b)+".txt", sep = ",", header = 0)
bi3 = pd.read_csv(str(Location)+"\\"+str(year_c)+"\\"+str(c)+".txt", sep = ",", header = 0)
bi4 = pd.read_csv(str(Location)+"\\"+str(year_d)+"\\"+str(d)+".txt", sep = ",", header = 0)
bi5 = pd.read_csv(str(Location)+"\\"+str(year_e)+"\\"+str(e)+".txt", sep = ",", header = 0)
bi6 = pd.read_csv(str(Location)+"\\"+str(year_f)+"\\"+str(f)+".txt", sep = ",", header = 0)
bi6 = pd.read_csv(str(Location)+"\\"+str(year_f)+"\\"+str(f)+".txt", sep = ",", header = 0)
bi7 = pd.read_csv(str(Location)+"\\"+str(year_g)+"\\"+str(g)+".txt", sep = ",", header = 0)

In [2]:
g[21:-9]

'Jul 2024'

In [3]:
bi1.rename(columns={'YTD '+str(a[21:-9]):'YTD'}, inplace=True)
bi2.rename(columns={'YTD '+str(b[21:-9]):'YTD'}, inplace=True)
bi3.rename(columns={'YTD '+str(c[21:-9]):'YTD'}, inplace=True)
bi4.rename(columns={'YTD '+str(d[21:-9]):'YTD'}, inplace=True)
bi5.rename(columns={'YTD '+str(e[21:-9]):'YTD'}, inplace=True)
bi6.rename(columns={'YTD '+str(f[21:-9]):'YTD'}, inplace=True)
bi7.rename(columns={'YTD '+str(g[21:-9]):'YTD'}, inplace=True)

bi1['Position'] = str(a[-13:-9])+''+str(a[:2])
bi2['Position'] = str(b[-13:-9])+''+str(b[:2])
bi3['Position'] = str(c[-13:-9])+''+str(c[:2])
bi4['Position'] = str(d[-13:-9])+''+str(d[:2])
bi5['Position'] = str(e[-13:-9])+''+str(e[:2])
bi6['Position'] = str(f[-13:-9])+''+str(f[:2])
bi7['Position'] = str(g[-13:-9])+''+str(g[:2])

bi1.columns = bi2.columns = bi3.columns = bi4.colums = bi5.columns = bi6.columns = bi7.columns

bi = pd.concat([bi1,bi2,bi3,bi4,bi5,bi6,bi7])

C:\Users\syahidhalid\AppData\Local\Temp\3\ipykernel_14224\4266144094.py:17: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  bi1.columns = bi2.columns = bi3.columns = bi4.colums = bi5.columns = bi6.columns = bi7.columns

In [4]:
bi.Item.value_counts()

Item
EXIM    3136
EXIB     666
EXTF     658
0        615
Name: count, dtype: int64

In [5]:
bi.loc[bi.Item.isin(['EXIB','EXTF']),'Type of Financing'] = "Islamic"
bi.loc[bi.Item.isin(['EXIM']),'Type of Financing'] = "Conventional"

In [7]:
bi.Position.fillna(0,inplace=True)
bi.Position.value_counts()

Position
202401    725
202402    725
202403    725
202404    725
202405    725
202406    725
202407    725
Name: count, dtype: int64

In [8]:
bi.head(1)

,GL_Description,GL_Code_,GL_Category,GL_Description_2,Class,Item,YTD,Business_Category,Position,Type of Financing
0,Interest Income - Trade Debtors - ECR (,400102,ECR Pre,Banking,Operating Revenue,EXIM,123636.9,Conventional,202401,Conventional

In [9]:
bi.YTD.dtypes

dtype('float64')

In [10]:
bi = bi.reset_index()

bi.loc[bi.Position.isin(["202401"]),"Aver"] = (bi["YTD"])/1
bi.loc[bi.Position.isin(["202402"]),"Aver"] = (bi["YTD"])/2
bi.loc[bi.Position.isin(["202403"]),"Aver"] = (bi["YTD"])/3
bi.loc[bi.Position.isin(["202404"]),"Aver"] = (bi["YTD"])/4
bi.loc[bi.Position.isin(["202405"]),"Aver"] = (bi["YTD"])/5
bi.loc[bi.Position.isin(["202406"]),"Aver"] = (bi["YTD"])/6
bi.loc[bi.Position.isin(["202407"]),"Aver"] = (bi["YTD"])/7

In [12]:
bi.to_csv(str(Location)+'\\Income Statement (BI).txt', index = False)

# For The Month

In [ ]:
#----------------------------------------------FTM-------------------------------------------------------------

import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

Income_curr = "02. Income Statement Feb 2024 (python)"
Income_prev = "01. Income Statement Jan 2024 (python)"

Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\Result"

Income_curr_raw = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Profit Loss', header=0)
#Income_curr_raw.columns = Income_curr_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

Income_prev_raw = pd.read_excel(str(Location)+"\\"+str(Income_prev)+".xlsx", sheet_name='Profit Loss', header=0)
#Income_prev_raw.columns = Income_prev_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

combine = Income_curr_raw.merge(Income_prev_raw,on="Income Statement",how='left')

combine['FTM '+str(Income_curr[21:-9])] = combine['YTD '+str(Income_curr[21:-9])] - combine['YTD '+str(Income_prev[21:-9])] 

writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\Result\\'+str(Income_curr[:4])+'Income Statement '+str(Income_curr[21:])+' FTM.xlsx',engine='xlsxwriter')

combine.to_excel(writer2, sheet_name='Profit Loss', index = False)

writer2._save()