# ====================================
# 01 FIX
# ====================================

In [11]:
T001.iloc[np.where(T001.M_Account_No=='764016800783')]

,M_Account_No,M_Cus_No,Common_Coa_Id,As_Of_Date,Amrt_Term,Amrt_Term_Mult,Branch_Code,Cur_Gross_Rate,Issue_Date,Record_Count,M_Date_Aa_Approved,M_Acct_Status_Cd,M_Approved_Limit,M_Approved_Limit_Myr,M_Source_Prod_Type_Cd,M_Mths_Installment_In_Arrears,M_Special_Mention_Acct_Flg,M_Bnm_Balance,M_Interest_Income,M_Penalty_Charges,M_Economic_Sector_Cd,M_Full_Writeoff_Flg,M_Reschedule_Flg,M_Restructure_Flg,M_Npl_Flg,M_New_Npl_Flg,M_Profit_On_Cost,M_Entity_Cd,M_Sub_Market_Segment_Cd,M_Product_Hierarchy_Cd,M_Financing_Concept,Avg_Book_Bal,Avg_Book_Bal_Myr,M_Interest_Income_Myr,M_Interest_Code,M_Aa_Number,Gl_Account_Id,M_Date_Final_Released,M_Date_First_Released,M_Rescheduled_Date,M_Restructured_Date,M_Npl_Date,Ead_Proportional_Myr,Expected_Loss_Myr,Rwa_After_Risk_Mit_Myr,Approach,Sector_Category,Rsme_Inclusion_Indicator,Rs_Inclusion_Indicator,Report_Indicator,Rsme_Rating_Grade,Rating,Pd_Segment_Id,PD_SEGMENT
221,764016800783,27697114,12000,31-MAY-2022,60,M,6401,0.0,12-JAN-2021,0,28-OCT-2020,1,3.00e+06,1.31e+07,H5,0,N,1.31e+07,5882.25,0.0,9999,N,NaN,NaN,N,N,0.0,MIB,5,H5,A04,3.00e+06,1.31e+07,25758.37,10,2020DU00010,120301210114,13-JAN-2021,13-JAN-2021,01-JAN-1900,01-JAN-1900,01-JAN-1900,1.32e+07,0.0,1.32e+07,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
T001_1.PD_SEGMENT.dtypes

dtype('O')

In [16]:
RDMS.iloc[np.where(RDMS.Account_No=='764016800783')]

,As_Of_Date,Account_No,Cus_No,Org_Unit,Pd_Segment_Id,Ead_Proportional,Ead_Proportional_Myr,Expected_Loss,Expected_Loss_Myr,Rwa_After_Risk_Mit,Rwa_After_Risk_Mit_Myr,Approach,Drawn_Amt_Myr,Facility_Type,Free_Line_Myr,Lgd,Probability_Of_Default,Product_Type,Rating,Risk_Weight,Sector_Category,M_Sub_Market_Segment_Cd,Rsme_Rating_Grade,Rsme_Inclusion_Indicator,Rs_Inclusion_Indicator,Report_Indicator,Retail_Scorecard,Corporate_Scorecard
1150771,31-MAY-2022,764016800783,27697114,MIB,NaN,3.01e+06,1.32e+07,0.0,0.0,3.01e+06,1.32e+07,2,1.31e+07,H5,0.0,0.0,NaN,MH5,NaN,1.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Product_Hierarchy.iloc[np.where(Product_Hierarchy.Source_Prod_Type_Cd=='PCA')]

,Product_Hierarchy_Cd,Product_Hierarchy_Dsc,Source_Prod_Type_Cd,Source_Prod_Type_Dsc,Data_Source,Level_0,Level_1,Level_2,Level_3,Level_4,...,Level_6,Level_7,Level_8,Instrument_Type_Cd,Last_Update_By,Last_Update_Dt,Last_Update_Dt:_Year,Last_Update_Dt:_Quarter,Last_Update_Dt:_Month,Last_Update_Dt:_Day
549,PCA,All Product -> On Balance Sheet -> Liabilities...,PCA,PREMIER CA,3.0,All Product,On Balance Sheet,Liabilities,Customer Deposits,Current Account,...,Current Account,Current Account,Current Account,211.0,SYSOFSA,25-JUL-2011,2011.0,Q3,Jul,25.0
1192,PCA_I-ACCOUNT,All Product -> On Balance Sheet -> Liabilities...,PCA,PREMIER CA,3.0,All Product,On Balance Sheet,Liabilities,Customer Deposits,Current Account,...,Current Account,Current Account,Current Account,211.0,SYSOFSA,24-APR-2012,2012.0,Q2,Apr,24.0
1193,PCA_PREMIER-1,All Product -> On Balance Sheet -> Liabilities...,PCA,PREMIER CA,3.0,All Product,On Balance Sheet,Liabilities,Customer Deposits,Current Account,...,Current Account,Current Account,Current Account,211.0,SYSOFSA,24-APR-2012,2012.0,Q2,Apr,24.0
2104,PCA_CASALITE,All Product -> On Balance Sheet -> Liabilities...,PCA,CASALITE,3.0,All Product,On Balance Sheet,Liabilities,Other Liabilities,Other Liabilities,...,Other Liabilities,Other Liabilities,Other Liabilities,211.0,SYSOFSA,05-OCT-2018,2018.0,Q4,Oct,5.0
2225,PCA_MAE,All Product -> On Balance Sheet -> Liabilities...,PCA,Islamic MAE,3.0,All Product,On Balance Sheet,Liabilities,Other Liabilities,Other Deposits,...,Other Deposits,Other Deposits,Other Deposits,211.0,SYSADMIN,03-MAR-2020,2020.0,Q1,Mar,3.0
2382,PCA_MAE_DC,All Product -> On Balance Sheet -> Liabilities...,PCA,MAE VISA DEBIT,3.0,All Product,On Balance Sheet,Liabilities,Other Liabilities,Other Deposits,...,Other Deposits,Other Deposits,Other Deposits,211.0,SYSADMIN,08-MAY-2021,2021.0,Q2,May,8.0
2383,PCA_M2U,All Product -> On Balance Sheet -> Liabilities...,PCA,Share STP via Maybank2u,3.0,All Product,On Balance Sheet,Liabilities,Customer Deposits,Current Account,...,Current Account,Current Account,Current Account,211.0,SYSADMIN,08-JUN-2021,2021.0,Q2,Jun,8.0

In [6]:
Product_Hierarchy.iloc[np.where(Product_Hierarchy.Source_Prod_Type_Dsc=='FESTIVAL LOAN')]

,Product_Hierarchy_Cd,Product_Hierarchy_Dsc,Source_Prod_Type_Cd,Source_Prod_Type_Dsc,Data_Source,Level_0,Level_1,Level_2,Level_3,Level_4,...,Level_6,Level_7,Level_8,Instrument_Type_Cd,Last_Update_By,Last_Update_Dt,Last_Update_Dt:_Year,Last_Update_Dt:_Quarter,Last_Update_Dt:_Month,Last_Update_Dt:_Day
2028,160_STFLN,All Product -> On Balance Sheet -> Assets -> L...,PCA,FESTIVAL LOAN,65.0,All Product,On Balance Sheet,Assets,Loans And Advances,Term Loans,...,Staff loan,Staff loan,Staff loan,160.0,SYSOFSA,09-OCT-2017,2017.0,Q4,Oct,9.0

# ====================================
# 02 FIX
# ====================================

In [1]:
R_DATE = 20220331
P_DATE1 = 20220228
P_DATE2 = 20220131
P_DATE3 = 20211231
P_DATE4 = 20211130
P_DATE5 = 20211031

import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

#dalam data source ---> business financing
BB = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(R_DATE)+'\\Master BB_'+str(R_DATE)+'.xlsx', sheet_name='Master Raw')
BB_RDMS = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\12_RDMS\\'+str(R_DATE)+'\\RDMS_BB_'+str(R_DATE)+'.xlsx')
BB_NA = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\03_Newly_Approved\\'+str(R_DATE)+'\\Loan Approval_'+str(R_DATE)+'.xlsx')
BB_EWS = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\02_Asset_Quality\\'+str(R_DATE)+'\\Asset_Quality_Master List_'+str(R_DATE)+'.xlsx', sheet_name='EWS')
BB_WATCHLIST = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\02_Asset_Quality\\'+str(R_DATE)+'\\Asset_Quality_Master List_'+str(R_DATE)+'.xlsx', sheet_name='Watchlist')
BB_SMA = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\02_Asset_Quality\\'+str(R_DATE)+'\\Asset_Quality_Master List_'+str(R_DATE)+'.xlsx', sheet_name='SMA')
BB_RnR = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\02_Asset_Quality\\'+str(R_DATE)+'\\Asset_Quality_Master List_'+str(R_DATE)+'.xlsx', sheet_name='R&R')

MIB_BB_CUS_PDATE1 = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(P_DATE1)+'\\BB2_SUMMARY_'+str(P_DATE1)+'.xlsx', sheet_name='CUSBASE')
MIB_BB_CUS_PDATE2 = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(P_DATE2)+'\\BB2_SUMMARY_'+str(P_DATE2)+'.xlsx', sheet_name='CUSBASE')
MIB_BB_CUS_PDATE3 = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(P_DATE3)+'\\BB2_SUMMARY_'+str(P_DATE3)+'.xlsx', sheet_name='CUSBASE')
MIB_BB_CUS_PDATE4 = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(P_DATE4)+'\\BB2_SUMMARY_'+str(P_DATE4)+'.xlsx', sheet_name='CUSBASE')
MIB_BB_CUS_PDATE5 = pd.read_excel (r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(P_DATE5)+'\\BB2_SUMMARY_'+str(P_DATE5)+'.xlsx', sheet_name='CUSBASE')

#BB.fillna(0, inplace = True)
#BB_RDMS.fillna(0, inplace = True)
#BB_NA.fillna(0, inplace = True)
#BB_EWS.fillna(0, inplace = True)
#BB_WATCHLIST.fillna(0, inplace = True)
#BB_SMA.fillna(0, inplace = True)
#BB_RnR.fillna(0, inplace = True)

BB.columns = BB.columns.str.replace(" ", "_")
BB_RDMS.columns = BB_RDMS.columns.str.replace(" ", "_")
BB_NA.columns = BB_NA.columns.str.replace(" ", "_")
BB_EWS.columns = BB_EWS.columns.str.replace(" ", "_")
BB_WATCHLIST.columns = BB_WATCHLIST.columns.str.replace(" ", "_")
BB_SMA.columns = BB_SMA.columns.str.replace(" ", "_")
BB_RnR.columns = BB_RnR.columns.str.replace(" ", "_")

def RISKCD(x):
    if x >= 1 and x<= 5:
        return '01.Very Low Risk'
    elif x >= 6 and x <= 10:
        return '02.Low Risk'
    elif x >= 11 and x <= 15:
        return '03.Moderate Risk'
    elif x >= 16 and x <= 21:
        return '04.High Risk'
    elif x >= 22 and x <= 23:
        return '05.Sub Standard'
    else:
        return '06.Unrated'

def FRRCD(x):
    if x == 'A+':
        return '01.Secured'
    elif x == 'A':
        return '01.Secured'
    elif x == 'B':
        return '02.Partially Secured'
    elif x == 'C':
        return '02.Partially Secured'
    elif x == 'D':
        return '02.Partially Secured'
    elif x == 'E':
        return '02.Partially Secured'
    elif x == 'F':
        return '02.Partially Secured'
    elif x == 'G':
        return '03.Clean'
    else:
        return '03.Clean'
    
BB1 = BB.iloc[np.where((BB.Facility_Level_2!='Non-Funded Tradebills')&(BB.Facility_Level_2!='FEC (10%)'))]

BB1['ISC_NOB'] = BB1['ISC_NOB'].map(str)
BB1['ISC_NOB'] = BB1['ISC_NOB'].str.strip()
BB1['ISC_NOB'] = BB1['ISC_NOB'].str.upper()
BB1.loc[BB1.ISC_NOB.isin(['01120','0113X','01140','0119XA','0119XB','01261A','01261B','01262A','01262B','01263','01269','01273','01279','01291','01299','0130X','0141X','0144X','0145X','0146XA','0146XB','0146XC','0149X','01500','016XX','0170X','0210X','0220X','0230X','0240X','031XXA','031XXB','031XXC','031XXD','032XXA','032XXB','032XXC','1120','113X','1140','119XA','119XB','1261A','1261B','1262A','1262B','1263','1269','1273','1279','1291','1299','130X','141X','144X','145X','146XA','146XB','146XC','149X','1500','16XX','170X','210X','220X','230X','240X','31XXA','31XXB','31XXC','31XXD','32XXA','32XXB','32XXC']),'ISC_PARENT1'] = "01. Agriculture, Forestry and Fishing"
BB1.loc[BB1.ISC_NOB.isin(['05XXX','0610X','0620X','0710X','07210','07291','07299','08XXX','0910XA','0910XB','0910XC','0910XD','0910XE','0910XF','0910XG','09900', '5XXX','610X','620X','710X','7210','7291','7299','8XXX','910XA','910XB','910XC','910XD','910XE','910XF','910XG','9900']),'ISC_PARENT1'] = "02. Mining and Quarrying"
BB1.loc[BB1.ISC_NOB.isin(['1010X','1020X','1030X','10401A','10401B','10402A','10402B','10499','1050X','106XX','107XX','10800','110XXA','110XXB','12000','13XXX','14XXX','151XX','1520X','16XXX','1701X','181XX','18200','19XXXA','19XXXB','20XXX','21XXX','22XXXA','22XXXB','22XXXC','22XXXD','22XXXE','22XXXF','22XXXG','23XXXA','23XXXB','23XXXC','2410XA','2410XB','24201','24202','24209A','24209B','2431XA','2431XB','24320','251XX','25200','25910','25920','25930','2599X','26300','265XX','2670X','26999','27500','27999','28170','2819XA','2819XB','2819XC','2819XD','2819XE','28220','28299A','28299B','28299C','28299D','28299E','29XXXA','29XXXB','29XXXC','301XXA','301XXB','301XXC','301XXD','30200','30999A','30999B','30999C','3100X','32500','3290X','33XXXA','33XXXB','33XXXC','33XXXD','33XXXE','33XXXF','33XXXG','33XXXH']),'ISC_PARENT1'] =  "03. Manufacturing";
BB1.loc[BB1.ISC_NOB.isin(['3510XA','3510XB','3510XC','3510XD','3510XE','3510XF','3510XG','3520XA','3520XB','3530X']),'ISC_PARENT1'] = "04. Electricity, Gas, Steam and Air Conditioning Supply"
BB1.loc[BB1.ISC_NOB.isin(['360XX','3700X','38112','38199','382XXA','382XXB','382XXC','3830X','39000']),'ISC_PARENT1']="05. Water Supply; Sewerage, Waste Management and Remediation Activities"
BB1.loc[BB1.ISC_NOB.isin(['41001A','41001B','41001C','41001D','41001E','41001F','41001G','41001H','41002A','41002B','41002C','41002D','41002E','41002F','41002G','41002H','41002I','41002J','41003','41009','4210XA','4210XB','4210XC','4210XD','4210XE','4210XF','4210XG','4220XA','4220XB','4220XC','4220XD','429XXA','429XXB','429XXC','431XX','432XX','4330X','4390X']),'ISC_PARENT1'] = "06. Construction"
BB1.loc[BB1.ISC_NOB.isin(['451XXA','451XXB','451XXC','451XXD','451XXE','4520X','4530XA','4530XB','4540X','462XXA','462XXB','462XXC','463XXA','463XXB','463XXC','463XXD','4641X','46496','46499','46510','46595','46599A','46599B','46599C','46999','4711X','4719X','472XXA','472XXB','472XXC','472XXD','478XX','479XX','40799A','40799B','40799C','40799D','40799E']),'ISC_PARENT1'] = "07. Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles"
BB1.loc[BB1.ISC_NOB.isin(['4911X','4912X','4921X','4922X','49230','49300','5011X','50121','50122','5021X','5022X','51101A','51101B','51102','51103','51201','51202','51203','5210XA','5210XB','5221X','5222X','5223X','52241','52249','52291','52292','52299','53XXX']),'ISC_PARENT1'] = "08. Transportation and Storage"
BB1.loc[BB1.ISC_NOB.isin(['55101A','55101B','55101C','55101D','55104','55105','55108','55199','5520X','55900','56101','56102','56103','56104','56105','56106','56107','562XX','56302','56303','56399A','56399B']),'ISC_PARENT1'] = "09. Accommodation and Food Service Activities"
BB1.loc[BB1.ISC_NOB.isin(['58110','5812X','5813X','5819X','582XX','59XXX','60XXX','6110X','6120X','6130X','6190X','620XX','631XX','6391X','63990']),'ISC_PARENT1'] = "10. Information and Communication"
BB1.loc[BB1.ISC_NOB.isin(['64110','64191','64192','64193','64194','64195','64199','64200','64301','64302','64303','64304','64309','64910','64921','64922','64923','64924','64925','64929','64991','64992','64993','64999','651XX','6520X','65301','65302','66111','66112','66113','66114','66119','66121','66122','66123','66124','66125','66129','66191','66192','66199','66211','66212','66221','66222','66223','66224','66290','66301','66302','66303']),'ISC_PARENT1'] = "11. Financial and Insurance/ Takaful Activities"
BB1.loc[BB1.ISC_NOB.isin(['68101A','68101B','68101C','68102A','68102B','68102C','68102D','68102E','68103A','68103B','68104A','68104B','68104C','68104D','68104E','68104F','68104G','68109','68201','68202','68203','68209']),'ISC_PARENT1'] =  "12. Real Estate Activities"
BB1.loc[BB1.ISC_NOB.isin(['69XXX','70100','70201','70202','70203','70209','7110X','71200','72102','72103','72105','72106','72199','7220X','73100','73200','74XXX','75000']),'ISC_PARENT1'] =  "13. Professional, Scientific and Technical Activities"
BB1.loc[BB1.ISC_NOB.isin(['7710X','772XX','77301','77307','77399','77400','78XXX','79XXX','80XXX','81XXX','821XX','82200','8230X','82910','8292XA','8292XB','8292XC','82990']),'ISC_PARENT1'] = "14. Administrative and Support Service Activities"
BB1.loc[BB1.ISC_NOB.isin(['841XX','842XX','8430X']),'ISC_PARENT1'] = "15. Public Administration and Defence; Compulsory Social Security"
BB1.loc[BB1.ISC_NOB.isin(['8510X','852XX','8530X','854XX','8550X']),'ISC_PARENT1'] = "16. Education"
BB1.loc[BB1.ISC_NOB.isin(['861XX','8620X','8690X','87XXX','88XXX']),'ISC_PARENT1'] = "17. Human Health and Social Work Activities"
BB1.loc[BB1.ISC_NOB.isin(['9000X','910XX','92000','93XXX']),'ISC_PARENT1'] = "18. Arts, Entertainment and Recreation"
BB1.loc[BB1.ISC_NOB.isin(['94XXXA','94XXXB','95XXX','960XX']),'ISC_PARENT1'] = "19. Other Service Activities"
BB1.loc[BB1.ISC_NOB.isin(['TXXXX']),'ISC_PARENT1'] =  "20. Activities of Households as Employers; Undifferentiated Goods and Services Producing Activities of Households for Own Use"
BB1.loc[BB1.ISC_NOB.isin(['99000']),'ISC_PARENT1'] = "21. Activities of Extraterritorial Organisations and Bodies"
BB1.loc[BB1.ISC_NOB.isin(['97000']),'ISC_PARENT1'] = "22. Household"
BB1.ISC_PARENT1.fillna(-9999, inplace=True)
BB1.loc[BB1.ISC_NOB.isin([-9999]),'ISC_PARENT1'] = "23. Not Populated"


#--------------------------------------------------BB_ACCT------------------------------------------------

BB_ACCT = BB1.drop('ISC_PARENT', axis = 1)

BB_ACCT = BB_ACCT.rename(columns = {'ISC_PARENT1':'ISC_PARENT'})

BB_ACCT.loc[BB_ACCT['BRR'] == 'Unrated', "BRR"] = 0

BB_ACCT['BRR'] = BB_ACCT['BRR'].map(int)

BB_ACCT['NOA'] = 1

BB_ACCT['OSM'] = BB_ACCT['outstanding_balance']/1000000

BB_ACCT['GIF'] = 0

BB_ACCT['PL_IPL_NPL'] = BB_ACCT['PL_IPL_NPL'].str.strip()
BB_ACCT['PL_IPL_NPL'] = BB_ACCT['PL_IPL_NPL'].str.upper()

BB_ACCT.loc[BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"]),'NOA_GIL'] = 1
BB_ACCT.loc[~(BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"])),'NOA_GIL'] = 0

BB_ACCT.loc[BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"]),'OSM_GIL'] = BB_ACCT['GIF']
BB_ACCT.loc[~(BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"])),'OSM_GIL'] = 0

#BB_ACCT.loc[BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"]),'FINAL_RATING'] = 23
#BB_ACCT.loc[~(BB_ACCT.PL_IPL_NPL.isin(["IPL","NPL","IPL R&R"])),'FINAL_RATING'] = BB_ACCT['BRR']

BB_ACCT['FINAL_RATING'] = BB_ACCT['BRR']

BB_ACCT['FINAL_RATING'] = BB_ACCT['FINAL_RATING'].map(int)

BB_ACCT['RISK_CAT'] = BB_ACCT.FINAL_RATING.apply(RISKCD)

BB_ACCT['COLLATERAL_TYPE'] = BB_ACCT.FRR.apply(FRRCD)

BB_ACCT.rename(columns={'Risk_Cat': 'Risk_Cat1'}, inplace=True)

In [68]:
#----------------------------------------------/*CUSTOMER LEVEL TABLE*/

row = ['MBB_Islamic_Ind','GCIF','Borrower_Name','BRR','FRR','ISC_NOB','ISC_PARENT','Broad_Code','Broad_Sector','RISK_CAT','COLLATERAL_TYPE',]

column = ['GIF','outstanding_balance']

C000_1 = BB_ACCT.groupby(row)[column].sum().reset_index().rename(columns={'Broad_Code':'SECTOR_CODE','outstanding_balance':'CUS_BAL'})

C000_2 = C000_1.merge(BB_ACCT[['Borrower_Name','REGION','BC']], on='Borrower_Name', how='left')

C000 = C000_2.iloc[np.where(C000_2.MBB_Islamic_Ind =='I')].sort_values('CUS_BAL', ascending=False).drop_duplicates('Borrower_Name')

C000 = C000[['MBB_Islamic_Ind','GCIF','Borrower_Name','BRR','FRR','ISC_NOB','ISC_PARENT','SECTOR_CODE','Broad_Sector','REGION','BC','RISK_CAT','COLLATERAL_TYPE','GIF', 'CUS_BAL']]

In [ ]:
#----------------------------------------------/*CUSTOMER LEVEL TABLE*/

row = ['MBB_Islamic_Ind','GCIF','Borrower_Name','BRR','FRR','ISC_NOB','ISC_PARENT','Broad_Code','Broad_Sector','REGION','BC','RISK_CAT','COLLATERAL_TYPE',]

column = ['GIF','outstanding_balance']

C000_1 = BB_ACCT.groupby(row)[column].sum().reset_index().rename(columns={'Broad_Code':'SECTOR_CODE','outstanding_balance':'CUS_BAL'})

C000 = C000_1.iloc[np.where(C000_1.MBB_Islamic_Ind =='I')]

C000 = C000[['MBB_Islamic_Ind','GCIF','Borrower_Name','BRR','FRR','ISC_NOB','ISC_PARENT','SECTOR_CODE','Broad_Sector','REGION','BC','RISK_CAT','COLLATERAL_TYPE','GIF', 'CUS_BAL']]

In [52]:
#------------------------------------/*CUSTOMER LEVEL TABLE WITHOUT DUPLICATION*/

row1 = ['MBB_Islamic_Ind','GCIF','Borrower_Name','BRR','FRR','ISC_NOB','ISC_PARENT','Broad_Code','Broad_Sector','REGION','BC','COLLATERAL_TYPE']

column1 = ['FINAL_RATING']

column2 = ['outstanding_balance','OSM_GIL']

C005_1 = BB_ACCT.groupby(row1).agg({'FINAL_RATING': 'max', 'outstanding_balance': 'sum', 'OSM_GIL': 'sum'}).reset_index()

C005_2 = C005_1.rename(columns={'Broad_Code':'SECTOR_CODE','outstanding_balance':'CUS_BAL','FINAL_RATING':'RATING','OSM_GIL':'GIL_BAL'})

C005 = C005_2.iloc[np.where(C005_2.MBB_Islamic_Ind =='I')]

In [93]:
BB_RDMS['GCIF'] =  BB_RDMS.COUNTERPARTY_ORIGINAL*1 

RDMS_001 = BB_RDMS.sort_values('GCIF', ascending=True)

RDMS_001.fillna(0,inplace=True)

RDMS_CUS_ALL1 = RDMS_001.groupby(['DEALBOOK','GCIF'])[['EAD','RWA','EL']].sum().reset_index().rename(columns={'DEALBOOK':'Organizational_Unit','EAD':'CUS_EAD','RWA':'CUS_RWA','EL':'CUS_EL'})

RDMS_CUS_ALL = RDMS_CUS_ALL1.iloc[np.where(RDMS_CUS_ALL1.Organizational_Unit.isin({"MIB_OTH","MIB_RA"}))]

C001 = C005.merge(RDMS_CUS_ALL[['GCIF','CUS_EAD','CUS_RWA','CUS_EL']],on='GCIF',how='left')

C002 = C001
C002['RISK_CAT'] = C002.RATING.apply(RISKCD)
C002['NOC'] = 1
C002['GIL_OSM'] = C002['GIL_BAL']/1000000
C002['CUS_OSM'] = C002['CUS_BAL']/1000000

In [104]:
#----------------------------------------/*TOP30 BY BB*/------------------------------------------------------

#----------------------------------------MIB_BB_CUS_NODUP

C002['TOP_RANK'] = C002['CUS_BAL'].rank(ascending=False)

MIB_BB_CUS_NODUP = C002.iloc[np.where(C002.TOP_RANK <= 30)]
MIB_BB_CUS_NODUP['NOC_TOP30'] = 1 
MIB_BB_CUS_NODUP['CUS_OSM_TOP30'] = MIB_BB_CUS_NODUP['CUS_BAL']/1000000 
MIB_BB_CUS_NODUP['GIL_OSM_TOP30'] = MIB_BB_CUS_NODUP['GIL_BAL']/1000000 
MIB_BB_CUS_NODUP.loc[MIB_BB_CUS_NODUP.GIL_OSM_TOP30 != 0,'NOC_GIL_TOP30'] = 1

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [106]:
MIB_BB_CUS_NODUP

,MBB_Islamic_Ind,GCIF,Borrower_Name,BRR,FRR,ISC_NOB,ISC_PARENT,SECTOR_CODE,Broad_Sector,REGION,BC,COLLATERAL_TYPE,RATING,CUS_BAL,GIL_BAL,CUS_EAD,CUS_RWA,CUS_EL,RISK_CAT,NOC,GIL_OSM,CUS_OSM,TOP_RANK,NOC_TOP30,CUS_OSM_TOP30,GIL_OSM_TOP30,NOC_GIL_TOP30
4,I,1111749,NADIN PROPERTIES SDN BHD,12,A+,68102B,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",SELANGOR/NEGERI SEMBILAN,PETALING JAYA BC,01.Secured,12,7.81e+07,0.0,7.91e+07,5.50e+07,2.93e+05,03.Moderate Risk,1,0.0,78.08,8.0,1,78.08,0.0,NaN
138,I,4411183,MKN HOLDINGS SDN BHD,9,A,68109,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",FEDERAL TERRITORY,BANGSAR BC,01.Secured,9,7.54e+07,0.0,7.59e+07,4.42e+07,1.03e+05,02.Low Risk,1,0.0,75.38,9.0,1,75.38,0.0,NaN
164,I,5018656,THE ONE ACADEMY OF COMMUNICATION DESIGN,11,B,8530X,16. Education,9000,"EDUCATION, HEALTH & OTHERS",SELANGOR/NEGERI SEMBILAN,SUBANG BC,02.Partially Secured,11,7.02e+07,0.0,7.06e+07,5.60e+07,1.95e+05,03.Moderate Risk,1,0.0,70.18,12.0,1,70.18,0.0,NaN
194,I,5287367,BEE LIAN PLASTIC INDUSTRIES BERHAD,11,F,22XXXG,03. Manufacturing,3000,MANUFACTURING,JOHOR/MALACCA,JOHOR BARU BC,02.Partially Secured,11,4.76e+07,0.0,5.54e+07,3.44e+07,1.72e+05,03.Moderate Risk,1,0.0,47.59,27.0,1,47.59,0.0,NaN
211,I,5482378,MYDIN MOHAMED HOLDINGS BHD,14,G,4719X,07. Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles,6000,WHOLESALE AND RETAIL TRADE AND RESTAURANTS AND HOTELS,FEDERAL TERRITORY,JLN P RAMLEE BC,03.Clean,14,5.10e+07,0.0,5.34e+07,6.25e+07,4.21e+05,03.Moderate Risk,1,0.0,50.98,24.0,1,50.98,0.0,NaN
259,I,6001808,ANN YAK SIONG HARDWARE SDN BHD,13,E,46999,07. Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles,6000,WHOLESALE AND RETAIL TRADE AND RESTAURANTS AND HOTELS,FEDERAL TERRITORY,JALAN TUN PERAK BC,02.Partially Secured,13,6.73e+07,0.0,7.48e+07,8.24e+07,5.02e+05,03.Moderate Risk,1,0.0,67.35,14.0,1,67.35,0.0,NaN
312,I,6388478,UCSI EDUCATION SDN BHD,14,B,8530X,16. Education,9000,"EDUCATION, HEALTH & OTHERS",FEDERAL TERRITORY,JALAN TUN PERAK BC,02.Partially Secured,14,1.34e+08,0.0,1.34e+08,1.29e+08,9.81e+05,03.Moderate Risk,1,0.0,134.06,5.0,1,134.06,0.0,NaN
475,I,7850668,TUNAS CAPITAL SDN BHD,9,B,68109,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",PAHANG/KELANTAN/TRENGGANU,KUANTAN BC,02.Partially Secured,9,6.59e+07,0.0,6.59e+07,3.84e+07,8.97e+04,02.Low Risk,1,0.0,65.91,16.0,1,65.91,0.0,NaN
526,I,9007226,LYL CAPITAL SDN. BHD.,8,B,68109,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",SELANGOR/NEGERI SEMBILAN,PETALING JAYA BC,02.Partially Secured,8,6.63e+07,0.0,8.95e+07,3.98e+07,8.71e+04,02.Low Risk,1,0.0,66.31,15.0,1,66.31,0.0,NaN
544,I,9209448,TARGETLANE (M) SDN BHD,8,B,68109,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",SELANGOR/NEGERI SEMBILAN,SHAH ALAM BC,02.Partially Secured,8,7.11e+07,0.0,7.13e+07,3.52e+07,6.96e+04,02.Low Risk,1,0.0,71.12,11.0,1,71.12,0.0,NaN
804,I,12206889,KOPERASI MCIS BERHAD,12,C,88XXX,17. Human Health and Social Work Activities,9000,"EDUCATION, HEALTH & OTHERS",SELANGOR/NEGERI SEMBILAN,SEREMBAN BC,02.Partially Secured,12,5.74e+07,0.0,6.17e+07,5.01e+07,2.36e+05,03.Moderate Risk,1,0.0,57.40,20.0,1,57.40,0.0,NaN
933,I,13961251,KAHANG PALM OIL MILL SDN BHD,12,B,01261A,"01. Agriculture, Forestry and Fishing",1000,AGRICULTURE,SELANGOR/NEGERI SEMBILAN,SEREMBAN BC,02.Partially Secured,12,1.38e+08,0.0,1.39e+08,1.15e+08,5.19e+05,03.Moderate Risk,1,0.0,138.14,4.0,1,138.14,0.0,NaN
999,I,14243591,B.U DEVELOPMENTS SDN. BHD.,14,C,41001A,06. Construction,5000,CONSTRUCTION,PENANG/KEDAH/PERLIS,PRAI BC,02.Partially Secured,14,1.11e+08,0.0,1.16e+08,9.45e+07,1.04e+06,03.Moderate Risk,1,0.0,110.99,6.0,1,110.99,0.0,NaN
1301,I,16083088,JASA MERIN (MALAYSIA) SDN. BHD.,16,D,50122,08. Transportation and Storage,7000,"TRANSPORT, STORAGE AND COMMUNICATION",PAHANG/KELANTAN/TRENGGANU,KEMAMAN BC,02.Partially Secured,16,2.07e+08,0.0,2.08e+08,3.40e+08,3.83e+06,04.High Risk,1,0.0,207.23,1.0,1,207.23,0.0,NaN
1447,I,16855604,NIKMAT MUJUR SDN BHD,18,C,46999,07. Wholesale and Retail Trade; Repair of Motor Vehicles and Motorcycles,6000,WHOLESALE AND RETAIL TRADE AND RESTAURANTS AND HOTELS,FEDERAL TERRITORY,BANGSAR BC,02.Partially Secured,18,5.58e+07,0.0,5.58e+07,3.80e+06,7.86e+04,04.High Risk,1,0.0,55.77,22.0,1,55.77,0.0,NaN
1494,I,17224998,CENTRAL MEDICARE SDN. BHD.,9,F,22XXXC,03. Manufacturing,3000,MANUFACTURING,PERAK,TELUK INTAN BC,02.Partially Secured,9,5.09e+07,0.0,5.91e+07,4.03e+07,1.03e+05,02.Low Risk,1,0.0,50.93,25.0,1,50.93,0.0,NaN
1524,I,17394430,MW ASSEMBLER SDN. BHD.,10,G,29XXXC,03. Manufacturing,3000,MANUFACTURING,FEDERAL TERRITORY,BANGSAR BC,03.Clean,10,6.91e+07,0.0,6.91e+07,4.14e+07,1.69e+05,02.Low Risk,1,0.0,69.06,13.0,1,69.06,0.0,NaN
1533,I,17558239,MAJU INTAN BIOMASS ENERGY SDN BHD,23,A,3510XF,"04. Electricity, Gas, Steam and Air Conditioning Supply",4000,"ELECTRICITY, GAS AND WATER",SELANGOR/NEGERI SEMBILAN,SHAH ALAM BC,01.Secured,23,9.10e+07,0.0,8.64e+07,0.00e+00,3.82e+07,05.Sub Standard,1,0.0,91.02,7.0,1,91.02,0.0,NaN
1642,I,18414583,ASAL HARTA SDN. BHD.,9,C,41001H,06. Construction,5000,CONSTRUCTION,JOHOR/MALACCA,MALACCA BC,02.Partially Secured,9,7.51e+07,0.0,7.51e+07,5.85e+07,1.32e+05,02.Low Risk,1,0.0,75.13,10.0,1,75.13,0.0,NaN
1695,I,18670332,SK COLD CHAIN SOLUTIONS SDN BHD,9,A,5210XB,08. Transportation and Storage,7000,"TRANSPORT, STORAGE AND COMMUNICATION",FEDERAL TERRITORY,JALAN TUN PERAK BC,01.Secured,9,4.63e+07,0.0,4.63e+07,2.70e+07,6.31e+04,02.Low Risk,1,0.0,46.33,29.0,1,46.33,0.0,NaN
2346,I,21983531,PERIMORE SDN. BHD.,15,B,68109,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",PENANG/KEDAH/PERLIS,ALOR SETAR BC,02.Partially Secured,15,6.55e+07,0.0,6.55e+07,6.26e+07,6.72e+05,03.Moderate Risk,1,0.0,65.50,17.0,1,65.50,0.0,NaN
2492,I,22688847,KL TEH LAND & DEVELOPMENT SDN BHD,13,C,41001B,06. Construction,5000,CONSTRUCTION,PERAK,IPOH BC,02.Partially Secured,13,6.03e+07,0.0,6.05e+07,4.47e+07,3.20e+05,03.Moderate Risk,1,0.0,60.25,19.0,1,60.25,0.0,NaN
2523,I,22802849,KILANG BERAS RAJANG SDN. BHD.,15,F,107XX,03. Manufacturing,3000,MANUFACTURING,PENANG/KEDAH/PERLIS,ALOR SETAR BC,02.Partially Secured,15,6.48e+07,0.0,5.66e+07,6.14e+07,7.04e+05,03.Moderate Risk,1,0.0,64.80,18.0,1,64.80,0.0,NaN
2638,I,23389039,ASPEN VISION CITY SDN BHD,11,D,41001A,06. Construction,5000,CONSTRUCTION,PENANG/KEDAH/PERLIS,PENANG BC,02.Partially Secured,11,1.44e+08,0.0,1.53e+08,1.16e+08,4.47e+05,03.Moderate Risk,1,0.0,143.78,3.0,1,143.78,0.0,NaN
2661,I,23503697,ECONSAVE DISTRIBUTION SDN. BHD.,8,D,68104C,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",SELANGOR/NEGERI SEMBILAN,KLANG BC,02.Partially Secured,8,5.56e+07,0.0,5.56e+07,3.20e+07,6.47e+04,02.Low Risk,1,0.0,55.57,23.0,1,55.57,0.0,NaN
3073,I,25846661,RUNNYMEDE PROPERTIES SDN BHD,15,C,41001A,06. Construction,5000,CONSTRUCTION,PENANG/KEDAH/PERLIS,PRAI BC,02.Partially Secured,15,5.00e+07,0.0,5.01e+07,4.13e+07,5.14e+05,03.Moderate Risk,1,0.0,50.00,26.0,1,50.00,0.0,NaN
3086,I,25903517,PELAMAN SDN BHD,9,C,68102A,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",SELANGOR/NEGERI SEMBILAN,SHAH ALAM BC,02.Partially Secured,9,5.67e+07,0.0,5.68e+07,3.15e+07,9.06e+04,02.Low Risk,1,0.0,56.69,21.0,1,56.69,0.0,NaN
3119,I,26131607,IMS DEVELOPMENT SDN BHD,12,B,68102B,12. Real Estate Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",FEDERAL TERRITORY,BANGSAR BC,02.Partially Secured,12,4.63e+07,0.0,4.64e+07,3.79e+07,1.74e+05,03.Moderate Risk,1,0.0,46.30,30.0,1,46.30,0.0,NaN
3303,I,27009962,WESTFIELD GLOBAL SDN. BHD.,10,B,41009,06. Construction,5000,CONSTRUCTION,PENANG/KEDAH/PERLIS,PENANG BC,02.Partially Secured,10,1.68e+08,0.0,1.68e+08,1.23e+08,4.13e+05,02.Low Risk,1,0.0,168.30,2.0,1,168.30,0.0,NaN
3338,I,27142296,EDUCAP SDN. BHD.,16,D,64200,11. Financial and Insurance/ Takaful Activities,8000,"FINANCE, INSURANCE, REAL ESTATE AND BUSINESS SERVICES",FEDERAL TERRITORY,BANGSAR BC,02.Partially Secured,16,4.75e+07,0.0,4.75e+07,7.58e+07,7.72e+05,04.High Risk,1,0.0,47.45,28.0,1,47.45,0.0,NaN

#  ====================================
# 03 FIX
# ====================================

In [ ]:
conn = sqlite3.connect(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\01_Loans\\'+str(date)+'\info01.db')
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS RDMS_1 ({})".format(','.join(RDMS_1.columns)))

for row in RDMS_1.iterrows():
    sql = "INSERT INTO RDMS_1({}) VALUES ({})".format(','.join(RDMS_1.columns), ','.join(['?']*len(RDMS_1.columns)))
    c.execute(sql, tuple(row[1]))
    
conn.commit()

c.execute("CREATE TABLE IF NOT EXISTS loan ({})".format(','.join(loan.columns)))

for row in loan.iterrows():
    sql = "INSERT INTO loan({}) VALUES ({})".format(','.join(loan.columns), ','.join(['?']*len(loan.columns)))
    c.execute(sql, tuple(row[1]))
    
conn.commit()

c.execute("""
CREATE TABLE LN002_info01 AS
SELECT DISTINCT A.*
,SUM(B.EAD_PROPORTIONAL_MYR) AS EAD_PROPORTIONAL_MYR
,SUM(B.EXPECTED_LOSS_MYR) AS EXPECTED_LOSS_MYR
,SUM(B.RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
,B.Approach
,B.Sector_Category
,B.Rsme_Inclusion_Indicator
,B.Rs_Inclusion_Indicator
,B.Report_Indicator
FROM loan A
LEFT JOIN RDMS_1 B
ON A.M_ACCOUNT_NO = B.ACCOUNT_NO
GROUP BY A.M_ACCOUNT_NO
;
""")

conn.commit()

LN002 = pd.read_sql_query("SELECT * FROM LN002_info01", conn)


c.execute("drop table loan")
conn.commit() 

conn.close()

check = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name ;", conn)
check

In [2]:
import pandas as pd

date= 20220630

HP  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\06_AITAB\\"+str(date)+"\infocube_06_aitab"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
HP.columns = HP.columns.str.replace(" ", "_")
HP.Account_No = HP.Account_No.astype(str)
HP['M_Account_No'] = HP.Account_No.str[3:]

In [3]:
HP.head(1)

,Account_No,Aa_Number,Cus_No,As_Of_Date,Amrt_Term,Amrt_Term_Mult,Branch_Code,Common_Coa_Id,Cur_Gross_Rate,Issue_Date,...,Non_Interest_Income_Ann,Overhead_Expenses_Ann,Revenue,NPM,Approach,Sector_Category,Rsme_Inclusion_Indicator,Rs_Inclusion_Indicator,Report_Indicator,M_Account_No
0,589801000011,CCDM/DJ&KUL/8/12/422,16833098,30-JUN-2022,120,D,9801,12000,4.65,02-JUN-2022,...,8068.282904,155314.445911,-8050.424309,10.996864,3.0,7.0,0,0,0.0,801000011

In [4]:
HP.shape

(974725, 128)

In [ ]:
HP1 = HP.iloc[np.where((HP.Record_Count==1)&(HP.Full_Writeoff_Flg=='N'))]

HP1['Sola_No']=0
HP1['Sola_Status_Cd']=0
HP1['Sola_Type_Cd']=0
HP1['Dealer_Acct_Status_Cd']=0
HP1['Dealer_Allow_Limit']=0
HP1['Dealer_Credit_Limit']=0
HP1['Dealer_Unutilised_Amt']=0
HP1['Dealer_Utilised_Amt']=0




HPFS1 = HPFS.iloc[np.where(HPFS.Full_Writeoff_Flg=='N')]

HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due < 30),'Mths_Installment_In_Arrears']= 0
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 30)&(HPFS1.No_Of_Days_Principal_Past_Due < 60),'Mths_Installment_In_Arrears'] =  1
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 60)&(HPFS1.No_Of_Days_Principal_Past_Due < 90) ,'Mths_Installment_In_Arrears'] =  2
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 90)&(HPFS1.No_Of_Days_Principal_Past_Due < 120) ,'Mths_Installment_In_Arrears'] =  3
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 120)&(HPFS1.No_Of_Days_Principal_Past_Due < 150) ,'Mths_Installment_In_Arrears'] =  4
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 150)&(HPFS1.No_Of_Days_Principal_Past_Due < 180) ,'Mths_Installment_In_Arrears'] =  5
HPFS1.loc[(HPFS1.No_Of_Days_Principal_Past_Due >= 180),'Mths_Installment_In_Arrears'] = 6 

HPFS1['Acct_Status_Cd']=0
HPFS1['Cihp_Flg']=0
HPFS1['Financing_Concept']=0
HPFS1['Cash_Price']=0
HPFS1['Year_Of_Vehicle']=0
HPFS1['Goods_Status']=0
HPFS1['Goods_Type']=0
HPFS1['Facility_No']=0
HPFS1['Model_Desc']=0

HPFS1.drop(['No_Of_Days_Principal_Past_Due','No_Of_Days_Interest_Past_Due','Date_Released'],axis=1, inplace=True)

HPBD1 = HPBD.iloc[np.where((HPBD.Dealer_Acct_Status_Cd!=40)&(HPBD.Full_Writeoff_Flg=='N'))]

HPBD1['Acct_Status_Cd']=0
HPBD1['Cihp_Flg']=0
HPBD1['Financing_Concept']=0
HPBD1['Cash_Price']=0
HPBD1['Year_Of_Vehicle']=0
HPBD1['Goods_Status']=0
HPBD1['Goods_Type']=0
HPBD1['Facility_No']=0
HPBD1['Model_Desc']=0
HPBD1['Sola_No']=0
HPBD1['Sola_Status_Cd']=0
HPBD1['Sola_Type_Cd']=0



HP1.columns = HP1.columns.str.strip()
#HP1.columns = HP1.columns.str.upper()
HP2 = HP1.reindex(sorted(HP1.columns), axis=1)


HPFS1.columns = HPFS1.columns.str.strip()
#HPFS1.columns = HPFS1.columns.str.upper()
HPFS2 = HPFS1.reindex(sorted(HPFS1.columns), axis=1)


HPBD1.columns = HPBD1.columns.str.strip()
#HPBD1.columns = HPBD1.columns.str.upper()
HPBD2 = HPBD1.reindex(sorted(HPBD1.columns), axis=1)

#HP2.columns = HPBD2.columns = HPFS2.columns 

aitab = pd.concat([HP2, HPFS2, HPBD2])

In [ ]:
conn = sqlite3.connect(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\12_CC\\'+str(date)+'\\info12.db')
c = conn.cursor()

c.execute("CREATE TABLE IF NOT EXISTS CC ({})".format(','.join(CC.columns)))

for row in CC.iterrows():
    sql = "INSERT INTO CC({}) VALUES ({})".format(','.join(CC.columns), ','.join(['?']*len(CC.columns)))
    c.execute(sql, tuple(row[1]))

conn.commit()


c.execute("""
create table CC01 as
select distinct a.*,
sum(M_Bnm_Balance) as M_Bnm_Balance2
from CC a
group by M_Account_No;""")

conn.commit()

c.execute("""
create table CC02 as
select distinct a.*, 
case 
when M_Card_Block_Cd in ('D','L','X','Z') and M_Bnm_Balance2 = 0 then 1 
else 0 end as close_tag

from CC01 a
where /*Record_Count = 1 and*/ close_tag = 0;
 """)

conn.commit()

c.execute("CREATE TABLE IF NOT EXISTS CC07 ({})".format(','.join(CC07.columns)))

for row in CC07.iterrows():
    sql = "INSERT INTO CC07({}) VALUES ({})".format(','.join(CC07.columns), ','.join(['?']*len(CC07.columns)))
    c.execute(sql, tuple(row[1]))

conn.commit()

c.execute("""
create table SUMM_CC as select distinct
PD_SEGMENT
,Income_Grp
,RACE
,Level_6
,Source_Prod_Type_Dsc
,M_Principal_Flg
,M_Doubtful_Flag as M_NPL_FLG
,case when M_Doubtful_Flag = 'N' and M_MTHS_IN_ARREARS in (2,3) then 'Y' else 'N' end as F_SMA
,substr(M_Acct_Open_Date, 8, 4) as Yr_Open
,sum(M_Bnm_Balance2) as M_Bnm_Balance
,sum(Ead_PROPORTIONAL_MYR) as EAD
,sum(EXPECTED_LOSS_MYR) as EL
,sum(RWA_AFTER_RISK_MIT_MYR) as RWA
,count(M_Account_No) as NOA
from CC07
group by 1,2,3,4,5,6,7,8,9;
 """)

conn.commit()

SUMM_CC = pd.read_sql_query("SELECT * FROM SUMM_CC", conn)



c.execute("drop table CC07")
conn.commit() 

conn.close()

a = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name ;", conn)
a

#  ====================================
# 04 FIX
# ====================================

In [4]:
import pandas as pd
import numpy as np

s = pd.Series(['bat', 'Bear', 'cat', np.nan])

s.str.startswith('B')

0    False
1     True
2    False
3      NaN
dtype: object

In [ ]:
import pandas as pd
import numpy as np
date = 20220630
HP  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\06_AITAB\\"+str(date)+"\infocube_06_aitab"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
HP.columns = HP.columns.str.replace(" ", "_")
HP.Account_No = HP.Account_No.astype(str)
HP['M_Account_No'] = HP.Account_No.str[3:]
HP

In [ ]:
AITAB9.columns = AITAB9.columns.str.upper()

AITAB9.loc[AITAB9['MODEL_DESC'].str.contains('PROTON', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SAGA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PERSONA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PEROSNA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WAJA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WIRA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SATRIA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NEO 1.6', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NEO R3', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NEO CPS', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PREVE', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('EXORA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('EZORA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INSPIRA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ISWARA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PERSONA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PESONA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SAVVY', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SAVY', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PERDANA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('JUARA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GEN 2', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GEN-2', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GEN.2', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GEN2', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GEN 1.6', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SUPRIMA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SUPREMA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ARENA', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('IRIZ', case=False, na=False),'VEHICLE_GROUP']='01.PROTON'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('BLM 1.3'), na=False),'VEHICLE_GROUP']='01.PROTON'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PERODUA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MYVI', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MVYI', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MYV1', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MYVVI', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MYVY', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VIVA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('ELITE'), na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALZA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('AXIA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KANCIL', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KENARI', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KELISA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KEMBARA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NAUTICA', case=False, na=False),'VEHICLE_GROUP']='02.PERODUA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('RUSA'), na=False),'VEHICLE_GROUP']='02.PERODUA'


AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TOYOTA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VIOS', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('VOIS'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VELLFIRE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VELFIRE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VELLFIER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('AVANZA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ESTIMA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INNOVA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INOVA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CAMRY', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HILUX', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HI LUX', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HI-LUX', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALTIS', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RUSH', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WISH', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PRIUS', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORTUNER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORTUNE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALPHARD', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALPAHRD', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PRADO', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HIACE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HI ACE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HAICE', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HARRIER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HARIER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('UNSER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CALDINA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PREVIA', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FJ%CRUISER%', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FJ%CRUSER%', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FJ%CRUSIER%', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FJ%CURSIER%', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LITEACE%', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LY1'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LY2'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('MARK X'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('MARK-X'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('MATRIX'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('YARIS%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WALD WW180%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WALD WW200%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('RAV4'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('RAV 4'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('COROLLA%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CELICA%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('IPSUM'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('ISIS'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LAND%CRUISER%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('L/CRUISER%', case=False, na=False),'VEHICLE_GROUP']=03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%CBA%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%CYGNUS%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%CYNUS%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%HDJ101%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%UZJ100%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%UZJ200%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('L/C%URJ202%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LC%CYGNUS%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LC%HDJ101%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LC%UZJ100%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.startswith(('LC%UZJ200%'), na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('LC%URJ202%'), na=False)) & (AITAB9.MODEL_DESC.str.contains('URJ202')),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SOARER', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VANGUARD', case=False, na=False),'VEHICLE_GROUP']='03.TOYOTA'

AITAB9.VEHICLE_GROUP.value_counts()

AITAB9 MODEL_DESC like '%
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('

AITAB9 MODEL_DESC like '
AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('

%' then 
', case=False, na=False),'VEHICLE_GROUP']=

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HONDA', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CRV', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CR-V', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('C-RV', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HRV', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HR-V', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HR V', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('H-RV', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CITY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CIVIC', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CIVIV', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ACCORD', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ACCCORD', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ACOORD', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('JAZZ', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('STREAM', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FREED', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INSIGHT', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ELYSION', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INTEGRA', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ODYSSEY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ODDYSSEY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ODESSEY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ODDYSEY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ODEYSSEY', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CRZ', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CR-Z', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('STEPWAGON', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('STEP WAGON', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CROSSROAD', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CROSS ROAD', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GOLDWING%1800', case=False, na=False),'VEHICLE_GROUP']='04.HONDA'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NISSAN', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALMERA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALMEERA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALMEARA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('AMERA 1.5', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LIVINA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GRAND LAVINA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TEANA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TEANNA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SYLPHY', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SLYPHY', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SERENA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SENTRA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('URVAN', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VANETTE', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VANNETE', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VANNETTE', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NAVARA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NAVARRA', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LATIO', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FAIRLADY', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FRONTIER', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GTR', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GT-R', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('JUKE', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MURANO', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NV200', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NV 200', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('YU41H5', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('YU41H4', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('YU41T5', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('X-TRAIL', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('X TRAIL', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XTRAIL', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('X-GEAR', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('X GEAR', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XGEAR', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('WINDOW VAN', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SKYLINE', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CEFIRO', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C22 ', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ELGRAND', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('IMPUL ', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('PGC 22', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('PGC22', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PKD211', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PKD214', case=False, na=False),'VEHICLE_GROUP']='05.NISSAN'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NAZA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORTE', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CITRA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SURIA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SUTERA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KIA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SORENTO', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SPECTRA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SPORTAGE', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CERATO', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PICANTO', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('OPTIMA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RIO 1.4', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RIO SX', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RIO UB', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('RIO ', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RONDO', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PREGIO', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CARNIVAL', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CARENS', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BESTARI', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('RIA ', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORZA', case=False, na=False),'VEHICLE_GROUP']='06.NAZA/KIA'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MITSUBISHI', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MITSHUBISHI', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TRITON', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PAJERO', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LANCER', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ASX', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MIRAGE', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MIRRAGE', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FUSO', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GRANDIS', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LITE TURBO', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TRITON', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TRITION', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ATTRAGE', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('AIRTREK', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FE83PG', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FE637', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FE638', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FE639', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('L200 D/CAB', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('L200 4X4', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('STORM ', case=False, na=False),'VEHICLE_GROUP']='07.MITSUBISHI'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MERCEDES', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BENZ', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A160', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A170', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A 200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A 250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B170', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B180', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('MB B200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('MB CLS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B 170', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B 180', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B 200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C180', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C230', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C240', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 180', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 230', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 240', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('C 300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E220', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E230', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E240', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E320', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E400', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 220', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 230', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 240', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 320', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E 400', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SLK', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML 250', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML 270', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML 280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML 300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ML 350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VITO', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S500', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S400', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S320', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 500', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 400', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 320', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 300', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 280', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 200', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('SL350', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('CLS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('CLK', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A CLASS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A-CLASS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E CLASS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('E-CLASS', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A45 AMG', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A45AMG', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('G63 AMG', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('G63AMG', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R280L', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R300L', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R350L', case=False, na=False),'VEHICLE_GROUP']='08.MERCEDES BENZ'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BMW', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('316I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('318I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('320I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('323I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('325I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('328I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('520I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('523I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('525I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('528I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('530I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('630I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('640I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('645CI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('740LI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('750LI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('316 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('318 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('320 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('323 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('325 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('328 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('520 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('523 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('525 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('528 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('530 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('630 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('640 I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('645 CI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('740 LI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('750 LI', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('Z4', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('X6 XDRIVE', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('X6', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('X5', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('X4', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('X3', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('X1', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('M6 ', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('M5 ', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('M4 ', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('M3 ', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('116I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('118I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('120I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('220I', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('528 M%SPORT', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('528M SPORT', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R 1200', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R1200', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S 1000', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S1000', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('K 1300', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('K1300', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('K 1600', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('K1600', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('F 700', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('F700', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('F 800', case=False, na=False),'VEHICLE_GROUP']='09.BMW'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('F800', case=False, na=False),'VEHICLE_GROUP']='09.BMW'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORD', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RANGER', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FIESTA', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ECONOVAN', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ECOSPORT', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ECO SPORT', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FOCUS', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FUSION', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MUSTANG', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ESCAPE', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('EVEREST', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MONDEO', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S MAX', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S-MAX', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KUGA', case=False, na=False),'VEHICLE_GROUP']='10.FORD'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SPECTRON', case=False, na=False),'VEHICLE_GROUP']='10.FORD'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SUZUKI', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SWIFT', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VITARA', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SX4', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('SX 4', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('JIMNY', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('KIZASHI', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ALTO ', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('IGNIS ', case=False, na=False),'VEHICLE_GROUP']='11.SUZUKI'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HYUNDAI', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VELLOSTER', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SONATA', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GETZ', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GETS', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VELOSTER', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ATOS', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ELANTRA', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ELENTRA', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TUCSON', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TUSCON', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ACCENT', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('STAREX', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SANTA FE', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SANTE FE', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SANTAFE', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('I10', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('I-10', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('I 10', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('I30', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('I40', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TRAJET', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('AVANTE 2.0', case=False, na=False),'VEHICLE_GROUP']='12.HYUNDAI'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VOLKSWAGEN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO%SEDAN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GOLF', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('JETTA', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BEETLE', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BETTLE', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PASSAT', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VW POLO', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('V/WAGEN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TOURAN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TOUAREG', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TOUREG', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TIGUAN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SCIROCCO', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SCIRICCO', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SHARAN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO%1.2', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO%1.6', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO%1.4', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO HB', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO H/B', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO HATCHBACK', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO NB', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO%GTI', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('POLO SPORT', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CROSSPOLO', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CROSS POLO', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CROSS TAURAN', case=False, na=False),'VEHICLE_GROUP']='13.VOLKSWAGEN'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PEUGEOT', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3008', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('5008', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('207', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('208', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('308', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('407', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('408', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('508', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('RCZ', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2008', case=False, na=False),'VEHICLE_GROUP']='14.PEUGEOT'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ISUZU', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('D-MAX', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('DMAX', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('D%MAX', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('N-SERIES', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NHR69', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NHR 69', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKR55', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKR 55', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKR66', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKR 66', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKS58', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NKS 58', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR66', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR 66', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR71', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR 71', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR72', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPR 72', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPS71', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NPS 71', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('V-CROSS', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TROOPER', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FTR32R', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FTR33R', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('INVADER%2.8', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFR54', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFR85', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFS55', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFS77', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFS85', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TFS86', case=False, na=False),'VEHICLE_GROUP']='15.ISUZU'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MAZDA', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BT50', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BT-50', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BT 50', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX 5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX-5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX7', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX 7', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX-7', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX9', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX 9', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CX-9', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX 8', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX-8', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2 1.5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3 1.6', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3 2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('5 2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6 2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6 2.5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('8 2.3', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2  1.5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3  1.6', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3  2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('5  2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6  2.0', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6  2.5', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('8  2.3', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2 SKYACTIV', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3 SKYACTIV', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6 SKYACTIV', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2 SEDAN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('2 SDN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3 SEDAN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('3 SDN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6 SEDAN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('6 SDN', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX8', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX-8', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PREMACY', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BIANTE', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('B2500', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('3 SPORT', case=False, na=False),'VEHICLE_GROUP']='16.MAZDA'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CHEVROLET', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CRUZE', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CAPTIVA', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SONIC', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('OPTRA', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ORLANDO', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('COLORADO', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NABIRA', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('AVEO', case=False, na=False),'VEHICLE_GROUP']='17.CHEVROLET'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('SUBARU', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('IMPREZA', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('FORESTER', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XV 2.0', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XV2.0', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('LEGACY', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('XV ', case=False, na=False),'VEHICLE_GROUP']='18.SUBARU'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CHERY', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TIGGO', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('TRANSCOM', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('EASTER', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('EASTAR', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('QQ ', case=False, na=False),'VEHICLE_GROUP']='19.CHERY'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('LEXUS', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX450', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX 450', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX350', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX 350', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX300', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX 300', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX270', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('RX 270', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CT200', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CT 200', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ES 250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('ES250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS300', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS350', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS 250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS 300', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('GS 350', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('IS250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('IS 250', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NX200', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('NX 200', case=False, na=False),'VEHICLE_GROUP']='20.LEXUS'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('HICOM', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MTB150', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MTB 150', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MTB145', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MTB 145', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PERKASA', case=False, na=False),'VEHICLE_GROUP']='21.HICOM'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('VOLVO', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC90', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC60', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC80', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC 90', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC 60', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('XC 80', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('V40', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('V50', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('V60', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('V70', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S80 ', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S60 ', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S40 ', case=False, na=False),'VEHICLE_GROUP']='22.VOLVO'

 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('AUDI', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('TT', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('Q7 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('Q5 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('Q3 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A7 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A6 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A5 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A4 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('A3 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('R8 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S5 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'
 AITAB9.loc[(AITAB9.MODEL_DESC.str.startswith(('S4 ', case=False, na=False),'VEHICLE_GROUP']='23.AUDI'

AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PORSCHE', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CAYENNE', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('CAYMAN', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('MACAN', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('PANAMERA', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'
AITAB9.loc[AITAB9.MODEL_DESC.str.contains('BOXSTER', case=False, na=False),'VEHICLE_GROUP']='24.PORSCHE'

else '' end as VEHICLE_GROUP
from AITAB8 a

In [ ]:
eonn.close()

e.execute("drop table GIL001")
eonn.commit() 

cek = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name ;", eonn)
cek

#----------------------------------------------/*CUSTOMER LEVEL TABLE*/

BB_ACCT.GCIF = BB_ACCT.GCIF.map(str) 

BB_ACCT.REPORT_DATE = BB_ACCT.REPORT_DATE.map(str) #sbb ni tarikh

BB_ACCT.columns = BB_ACCT.columns.str.replace(" ", "_").str.replace("'", "_").str.replace("+", "_")

eonn = sqlite3.connect(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\02_Business_Financing\01_Portfolio\\'+str(R_DATE)+'\\BF_'+str(R_DATE)+'.db')
e.execute("CREATE TABLE IF NOT EXISTS BB_ACCT ({})".format(','.join(BB_ACCT.columns)))

for row in BB_ACCT.iterrows():
    sql = "INSERT INTO BB_ACCT({}) VALUES ({})".format(','.join(BB_ACCT.columns), ','.join(['?']*len(BB_ACCT.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("""
CREATE TABLE C000 AS SELECT
MBB_Islamic_Ind,
GCIF,
Borrower_Name,
Brr,
FRR,
ISC_NOB,
ISC_PARENT,
Broad_Code AS SECTOR_CODE,
Broad_Sector,
REGION,
BC,
RISK_CAT,
COLLATERAL_TYPE,
SUM(GIF) AS GIF,
SUM(outstanding_balance) AS CUS_BAL
FROM BB_ACCT
WHERE MBB_Islamic_Ind = "I"
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13
;
 """)

eonn.commit()

#------------------------------------/*CUSTOMER LEVEL TABLE WITHOUT DUPLICATION*/

e.execute("""
CREATE TABLE C005 AS SELECT
MBB_Islamic_Ind,
GCIF,
Borrower_Name,
Brr,
FRR,
ISC_NOB,
ISC_PARENT,
Broad_Code AS SECTOR_CODE,
Broad_Sector,
REGION AS REGION,
BC,
COLLATERAL_TYPE,
MAX(FINAL_RATING) AS RATING,
SUM(outstanding_balance) AS CUS_BAL,
SUM(OSM_GIL) as GIL_BAL
FROM BB_ACCT
WHERE MBB_Islamic_Ind = "I"
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
;
 """)

eonn.commit()

#--------------------------------------------------BB_RDMS-------------------------------------------

BB_RDMS['GCIF'] =  BB_RDMS.COUNTERPARTY_ORIGINAL*1

BB_RDMS.GCIF = BB_RDMS.GCIF.map(str) 

RDMS_001 = BB_RDMS.sort_values('GCIF', ascending=True)

RDMS_001.columns = RDMS_001.columns.str.replace("(", "_").str.replace(")", "_")

RDMS_001.VALUE_DATE = RDMS_001.VALUE_DATE.astype(str)
RDMS_001.TRADE_DATE = RDMS_001.TRADE_DATE.astype(str)
RDMS_001.MATURITY_DATE = RDMS_001.MATURITY_DATE.astype(str)

e.execute("CREATE TABLE IF NOT EXISTS RDMS_001 ({})".format(','.join(RDMS_001.columns)))

for row in RDMS_001.iterrows():
    sql = "INSERT INTO RDMS_001({}) VALUES ({})".format(','.join(RDMS_001.columns), ','.join(['?']*len(RDMS_001.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("""
CREATE TABLE RDMS_CUS_ALL AS SELECT
DEALBOOK AS Organizational_Unit,
GCIF,
SUM(EAD) AS CUS_EAD,
SUM(RWA) AS CUS_RWA,
SUM(EL) AS CUS_EL
FROM RDMS_001
WHERE DEALBOOK IN ("MIB_OTH","MIB_RA") 
GROUP BY 1,2
;
 """)

eonn.commit()

e.execute("""
CREATE TABLE C001 AS SELECT
A.*, B.CUS_EAD, B.CUS_RWA, B.CUS_EL
FROM C005 A LEFT JOIN RDMS_CUS_ALL B
ON A.GCIF=B.GCIF
;
 """)

eonn.commit()

C002 = pd.read_sql_query("SELECT * FROM C001", eonn)

C002['RISK_CAT'] = C002.RATING.apply(RISKCD)
C002['NOC'] = 1
C002['GIL_OSM'] = C002['GIL_BAL']/1000000
C002['CUS_OSM'] = C002['CUS_BAL']/1000000

# ====================================
# 05 FIX
# ====================================

In [ ]:
donn = sqlite3.connect(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\20_CRP\6.0 Impaired Loan\\"+str(date)[:4]+"\\"+str(date)[:6]+"\IF_"+str(date)+".db")
d = donn.cursor()

Total_Impaired_Final.columns = Total_Impaired_Final.columns.str.replace(",", "_")

d.execute("CREATE TABLE IF NOT EXISTS Total_Impaired_Final ({})".format(','.join(Total_Impaired_Final.columns)))

for row in Total_Impaired_Final.iterrows():
    sql = "INSERT INTO Total_Impaired_Final({}) VALUES ({})".format(','.join(Total_Impaired_Final.columns), ','.join(['?']*len(Total_Impaired_Final.columns)))
    d.execute(sql, tuple(row[1]))

donn.commit()


Total_Impaired_Final = pd.read_sql_query("SELECT * FROM Total_Impaired_Final",donn)

d.execute("""
CREATE TABLE IF_SUMM_IF AS SELECT 
V_D_CUST_INDUSTRY as NATURE_OF_BUSINESS
,NOB_GROUP2
,NOB_GROUP_DESC2
,NOB_GROUP
,NOB_GROUP_DESC
,MKT_SUB_SEGMENT
,PROD_LV1	
,PROD_LV5
,PROD_LV6
,PRODUCT_GROUP
,F_RPSIA
,F_NCIF_CUST
,F_NCIF_ACCT
,COUNT(V_ORIGINAL_ACCOUNT_NUMBER) AS NOA
,SUM(UWI_CLOSING_BAL) AS UWI_CLOSING_BAL
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13;""")

donn.commit()

SUMM_IF = pd.read_sql_query("SELECT * FROM IF_SUMM_IF", donn)

d.execute("""
CREATE TABLE IF_LIST_IF_PDT AS SELECT
V_ORIGINAL_ACCOUNT_NUMBER
,CUSTOMER_ID
,V_D_CUST_FIRST_NAME
,V_D_CUST_INDUSTRY
,INDUSTRIAL_SECTOR
,ISC_PARENT
,PRODUCT_GROUP
,F_RPSIA
/*,NPF_TAG*/
,F_NCIF_CUST
,OUTSTANDING
,OUTSTANDING_AFTER_EIR
,OUTSTANDING_AFTER_EIR_UWI
,'Y' AS IF_FLAG
FROM Total_Impaired_Final
WHERE PRODUCT_GROUP IN ('01.CB','04.BB','05.SME') AND PROD_LV1 = 'On Balance Sheet'
ORDER BY 7,12;""")

donn.commit()

LIST_IF_PDT = pd.read_sql_query("SELECT * FROM IF_LIST_IF_PDT", donn)

d.execute("""
CREATE TABLE IF_LIST_IF_BYCUS AS SELECT
CUSTOMER_ID
,V_D_CUST_FIRST_NAME
,V_D_CUST_INDUSTRY
,INDUSTRIAL_SECTOR
,ISC_PARENT
,PRODUCT_GROUP
,F_RPSIA
/*,NPF_TAG*/
,F_NCIF_CUST
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
,'Y' AS IF_FLAG
FROM Total_Impaired_Final
WHERE PRODUCT_GROUP IN ('01.CB','04.BB','05.SME') AND PROD_LV1 = 'On Balance Sheet'
GROUP BY 1,2,3,4,5,6,7,8,12
ORDER BY 6,11;""")

donn.commit()

LIST_IF_BYCUS = pd.read_sql_query("SELECT * FROM IF_LIST_IF_BYCUS", donn)

d.execute("""
CREATE TABLE IF_SUMM_IF_PDT AS SELECT 
PRODUCT_GROUP
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE  PROD_LV1 = 'On Balance Sheet' /*to exclude RPSIA tag since ICON offshore is in the MIB book*/
GROUP BY 1;""")

donn.commit()

SUMM_IF_PDT = pd.read_sql_query("SELECT * FROM IF_SUMM_IF_PDT", donn)





d.execute("""
CREATE TABLE IF_SUMM_IF_NOB AS SELECT 
NOB_GROUP2
,NOB_GROUP_DESC2
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE PROD_LV1 = 'On Balance Sheet' /*to exclude RPSIA tag since ICON offshore is in the MIB book*/
GROUP BY 1,2;""")

donn.commit()

SUMM_IF_NOB = pd.read_sql_query("SELECT * FROM IF_SUMM_IF_NOB", donn)
d.execute("""
CREATE TABLE IF_SUMM_IF_ISC AS SELECT 
ISC_PARENT
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE PROD_LV1 = 'On Balance Sheet' /*to exclude RPSIA tag since ICON offshore is in the MIB book*/
GROUP BY 1;""")

donn.commit()

SUMM_IF_ISC = pd.read_sql_query("SELECT * FROM IF_SUMM_IF_ISC", donn)

d.execute("""
CREATE TABLE IF_SUMM_IF_HOUSEHOLD AS SELECT DISTINCT
PRODUCT_GROUP
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE NOB_GROUP2 = '0000' AND PROD_LV1 = 'On Balance Sheet'
GROUP BY 1;""")

donn.commit()

SUMM_IF_HOUSEHOLD = pd.read_sql_query("SELECT * FROM IF_SUMM_IF_HOUSEHOLD", donn)

d.execute("""
CREATE TABLE IF_SUMM_NCIF_PDT AS SELECT 
PRODUCT_GROUP
,SUM(OUTSTANDING) AS OUTSTANDING
,SUM(OUTSTANDING_AFTER_EIR) AS OUTSTANDING_AFTER_EIR
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE F_NCIF_CUST = 'Y' AND PROD_LV1 = 'On Balance Sheet' /*to exclude RPSIA tag since ICON offshore is in the MIB book*/
GROUP BY 1;""")

donn.commit()

SUMM_NCIF_PDT = pd.read_sql_query("SELECT * FROM IF_SUMM_NCIF_PDT", donn)


d.execute("""
CREATE TABLE IF_LIST_NCIF_PDT AS SELECT
V_ORIGINAL_ACCOUNT_NUMBER
,CUSTOMER_ID
,V_D_CUST_FIRST_NAME
,V_D_CUST_INDUSTRY
,INDUSTRIAL_SECTOR
,ISC_PARENT
,PRODUCT_GROUP
,F_RPSIA
/*,NPF_TAG*/
,OUTSTANDING 
,OUTSTANDING_AFTER_EIR 
,OUTSTANDING_AFTER_EIR_UWI
FROM Total_Impaired_Final
WHERE F_NCIF_CUST = 'Y'
AND PRODUCT_GROUP IN ('01.CB','04.BB','05.SME') AND PROD_LV1 = 'On Balance Sheet'
ORDER BY 7,11;""")

donn.commit()

LIST_NCIF_PDT = pd.read_sql_query("SELECT * FROM IF_LIST_NCIF_PDT", donn)

# # ====================================
# 06 FIX
# ====================================

In [ ]:
date = 20220630   #current date

import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

eonn = sqlite3.connect(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\12_Investment_Account\\'+str(date)+'\\IA.db')
e = eonn.cursor()

LN = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\01_Loans\\"+str(date)+"\infocube_01_loan"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
LN.columns = LN.columns.str.replace(" ", "_")
LN.M_Account_No = LN.M_Account_No.astype(str)

OD  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\02_OD\\"+str(date)+"\\infocube_02_OD"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
OD.columns = OD.columns.str.replace(" ", "_")
OD.Account_No = OD.Account_No.astype(str)

INV  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\03_Investment\\"+str(date)+"\infocube_03_inv"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
INV.columns = INV.columns.str.replace(" ", "_")
INV.M_Account_No = INV.M_Account_No.astype(str)

TRADE  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\04_Trade\\"+str(date)+"\infocube_04_Trade"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
TRADE.columns = TRADE.columns.str.replace(" ", "_")
TRADE.Account_No = TRADE.Account_No.astype(str)

FCL  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\05_FCL\\"+str(date)+"\infocube_05_FCL"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
FCL.columns = FCL.columns.str.replace(" ", "_")
FCL.M_Account_No = FCL.M_Account_No.astype(str)

HP  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\06_AITAB\\"+str(date)+"\infocube_06_aitab"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
HP.columns = HP.columns.str.replace(" ", "_")
HP.ACCOUNT_NO = HP.ACCOUNT_NO.astype(str)
#HP['M_Account_No'] = HP.Account_No.str[3:] sbb dah buat dlm HP1 sql

RDMS = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\04_MIB_Rdms\\"+str(date)+"\RDMS_"+str(date)+".txt", sep = ",", header = 0, error_bad_lines = False)
RDMS.columns = RDMS.columns.str.replace(" ", "_")
RDMS.Account_No = RDMS.Account_No.astype(str)

CC  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\12_CC\\"+str(date)+"\infocube_12_CC"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
CC.columns = CC.columns.str.replace(" ", "_")
CC.M_Account_No = CC.M_Account_No.astype(str)

TOTAL_IMPAIRED_FINAL  = pd.read_csv(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\20_CRP\6.0 Impaired Loan\\'+str(date)[:4]+'\\'+str(date)[:6]+'\working\Total_Impaired_Final_'+str(date)+'.txt',sep = ",", header = 0, low_memory = False)
TOTAL_IMPAIRED_FINAL.columns = TOTAL_IMPAIRED_FINAL.columns.str.replace(" ", "_")
TOTAL_IMPAIRED_FINAL.V_ORIGINAL_ACCOUNT_NUMBER = TOTAL_IMPAIRED_FINAL.V_ORIGINAL_ACCOUNT_NUMBER.astype(str)
TOTAL_IMPAIRED_FINAL.columns = TOTAL_IMPAIRED_FINAL.columns.str.replace("(", "_").str.replace(")", "_").str.replace(".", "_").str.replace("-", "_").str.replace("\n", "_").str.replace(" ", "_")


RPSIA_ACCTLEVEL2 = pd.read_csv(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\20_CRP\10.0 RPSIA\\'+str(date)[:4]+'\\IF_RPSIA_ACCTLEVEL2_'+str(date)+'.txt',sep = ",", header = 0, low_memory = False)
RPSIA_ACCTLEVEL2.columns = RPSIA_ACCTLEVEL2.columns.str.replace(" ", "_")


location_cust = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\02_Teradata\01_Credit_Risk_Reporting\01_Cust\\"+str(date)+"\\S001_004_ACRM_CUST"+str(date)+".txt"
cust = pd.read_csv(location_cust, sep = "|", header = 0, error_bad_lines = False)
cust.columns = cust.columns.str.replace(" ", "_")
cust.M_SUB_SUB_MARKET_SEGMENT.replace({'    ': -9999}, inplace=True)


e.execute("CREATE TABLE IF NOT EXISTS TOTAL_IMPAIRED_FINAL ({})".format(','.join(TOTAL_IMPAIRED_FINAL.columns)))

for row in TOTAL_IMPAIRED_FINAL.iterrows():
    sql = "INSERT INTO TOTAL_IMPAIRED_FINAL({}) VALUES ({})".format(','.join(TOTAL_IMPAIRED_FINAL.columns), ','.join(['?']*len(TOTAL_IMPAIRED_FINAL.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_RPSIA_ACCTLEVEL2 ({})".format(','.join(RPSIA_ACCTLEVEL2.columns)))

for row in RPSIA_ACCTLEVEL2.iterrows():
    sql = "INSERT INTO IA_RPSIA_ACCTLEVEL2({}) VALUES ({})".format(','.join(RPSIA_ACCTLEVEL2.columns), ','.join(['?']*len(RPSIA_ACCTLEVEL2.columns)))
    e.execute(sql, tuple(row[1]) ) #tuple(row[1])

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_LN ({})".format(','.join(LN.columns)))

for row in LN.iterrows():
    sql = "INSERT INTO IA_LN({}) VALUES ({})".format(','.join(LN.columns), ','.join(['?']*len(LN.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_OD ({})".format(','.join(OD.columns)))

for row in OD.iterrows():
    sql = "INSERT INTO IA_OD({}) VALUES ({})".format(','.join(OD.columns), ','.join(['?']*len(OD.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_INV ({})".format(','.join(INV.columns)))

for row in INV.iterrows():
    sql = "INSERT INTO IA_INV({}) VALUES ({})".format(','.join(INV.columns), ','.join(['?']*len(INV.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_TRADE ({})".format(','.join(TRADE.columns)))

for row in TRADE.iterrows():
    sql = "INSERT INTO IA_TRADE({}) VALUES ({})".format(','.join(TRADE.columns), ','.join(['?']*len(TRADE.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_FCL ({})".format(','.join(FCL.columns)))

for row in FCL.iterrows():
    sql = "INSERT INTO IA_FCL({}) VALUES ({})".format(','.join(FCL.columns), ','.join(['?']*len(FCL.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_HP ({})".format(','.join(HP.columns)))

for row in HP.iterrows():
    sql = "INSERT INTO IA_HP({}) VALUES ({})".format(','.join(HP.columns), ','.join(['?']*len(HP.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_RDMS ({})".format(','.join(RDMS.columns)))

for row in RDMS.iterrows():
    sql = "INSERT INTO IA_RDMS({}) VALUES ({})".format(','.join(RDMS.columns), ','.join(['?']*len(RDMS.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS IA_CC ({})".format(','.join(CC.columns)))

for row in CC.iterrows():
    sql = "INSERT INTO IA_CC({}) VALUES ({})".format(','.join(CC.columns), ','.join(['?']*len(CC.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("""
CREATE TABLE LOAN AS
SELECT
'01. LOAN' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,CASE
WHEN LEVEL_6 = 'Unit Trust' AND SOURCE_PROD_TYPE_DSC like "%ASB2%" THEN 'Unit Trust-ASB2' 
WHEN LEVEL_6 = 'Unit Trust' AND SOURCE_PROD_TYPE_DSC like "%ASB%" THEN 'Unit Trust-ASB' 
WHEN LEVEL_6 IN ( 'Unit Trust','Housing','Shophouse','Other Mortgage Loan', 'Salary') THEN LEVEL_6 
ELSE 'Others' END AS LEVEL_6
,M_ACCOUNT_NO
,M_CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd
,M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE_SUM) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_LN A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.M_Account_No = B.V_ORIGINAL_ACCOUNT_NUMBER

WHERE M_ACCT_STATUS_CD = 1 AND M_FULL_WRITEOFF_FLG = 'N'
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE OD1 AS
SELECT A.*,
CASE WHEN COMMON_COA_ID = 22000 THEN 0 ELSE M_BNM_BALANCE END AS M_BNM_BALANCE1
FROM IA_OD A;
 """)

eonn.commit()

e.execute("""
CREATE TABLE OD AS
SELECT
'02. OD' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,ACCOUNT_NO
,CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,A.PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_IN_ARREARS
,Security_Type_Cd			/*FOR OCL ONLY*/
,M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE1) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM OD1 A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.Account_No = B.V_ORIGINAL_ACCOUNT_NUMBER

WHERE FULL_WRITEOFF_FLG = 'N' AND ACCT_STATUS_CD <> 3 /*AND COMMON_COA_ID = 12000*/
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE STRC AS
SELECT
'03. STRC' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,M_ACCOUNT_NO
,M_CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_INV A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.M_ACCOUNT_NO = B.V_ORIGINAL_ACCOUNT_NUMBER

WHERE LEVEL_6 in ('Short Term Revolving Credit')
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE INVESTMENT AS
SELECT
'04. INV' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,M_ACCOUNT_NO
,M_CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_INV A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.M_ACCOUNT_NO = B.V_ORIGINAL_ACCOUNT_NUMBER

WHERE LEVEL_6 in ('Foreign Currency Loan','Owned BA Discounted')
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE TRADE AS
SELECT
'05. TRADE' AS DATA_SOURCE
,PDT_DESCRIPTION AS LEVEL_6_ORI
,PDT_DESCRIPTION AS LEVEL_6
,ACCOUNT_NO
,CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,A.PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_TRADE A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.Account_No = B.V_ORIGINAL_ACCOUNT_NUMBER
 
WHERE PDT_DESCRIPTION not in ('OWN IAB ACCEPT DISCOUNT', 'ISLAMIC - ONSHORE FOREIGN CURRENCY LOAN') AND FUNDED_FLG = 'Y'
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE FCL AS
SELECT
'06. FCL' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,M_ACCOUNT_NO
,M_CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd
,M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN 'Y' ELSE 'N' END AS F_RPSIA
,CASE WHEN B.V_ORIGINAL_ACCOUNT_NUMBER <> 0 THEN B.RPSIA_THIRD_PARTY ELSE 'N' END AS RPSIA_THIRD_PARTY
,SUM(B.GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_FCL A

LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.M_Account_No = B.V_ORIGINAL_ACCOUNT_NUMBER

WHERE RECORD_COUNT = 0
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE HP1 AS
SELECT
'07. HP' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,substr(ACCOUNT_NO,4) as ACCOUNT_NO
,CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,'N' AS F_RPSIA
,'N' AS RPSIA_THIRD_PARTY
,0 AS GROSS_LOAN_RPSIA
,SUM(BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_HP     /*changed from FOO*/
WHERE Level_6 NOT IN ('Floor Stocking', 'BNM Fund')
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

#TO HANDLE MULTIPLE RECORD
e.execute("""
CREATE TABLE HP2 AS
SELECT DISTINCT
A.Account_No
,'07. HP' AS DATA_SOURCE
,A.LEVEL_6 AS LEVEL_6_ORI
,A.LEVEL_6
,substr(A.ACCOUNT_NO,4) as ACCOUNT_NO
,A.CUS_NO
,A.M_SUB_MARKET_SEGMENT_CD
,A.PRODUCT_HIERARCHY_CD
,A.SOURCE_PROD_TYPE_CD
,A.SOURCE_PROD_TYPE_DSC
,A.MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,A.Financing_Concept
,A.APPROACH
,A.SECTOR_CATEGORY
,PD_SEGMENT
,A.RSME_INCLUSION_INDICATOR
,A.RS_INCLUSION_INDICATOR
,A.REPORT_INDICATOR
,B.EAD_PROPORTIONAL_MYR
,B.EXPECTED_LOSS_MYR
,B.RWA_AFTER_RISK_MIT_MYR
,SUM(A.BNM_BALANCE) AS M_BNM_BALANCE
FROM IA_HP /*changed from FOO*/ a
LEFT JOIN IA_RDMS B ON A.Account_No = B.Account_No
WHERE Level_6 IN ('Floor Stocking', 'BNM Fund')
GROUP BY 1;""")

eonn.commit()

e.execute("""
CREATE TABLE HP3 AS
SELECT DISTINCT
DATA_SOURCE
,LEVEL_6_ORI
,LEVEL_6
,ACCOUNT_NO
,CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,MTHS_INSTALLMENT_IN_ARREARS
,Security_Type_Cd	
,Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,'N' AS F_RPSIA
,'N' AS RPSIA_THIRD_PARTY
,0 AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM HP2
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE CC AS
SELECT
'08. CC' AS DATA_SOURCE
,LEVEL_6 AS LEVEL_6_ORI
,LEVEL_6
,M_ACCOUNT_NO
,M_CUS_NO
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,APPROACH
,SECTOR_CATEGORY
,CASE WHEN M_SUB_MARKET_SEGMENT_CD = 1 then Rsme_Rating_Grade
when M_SUB_MARKET_SEGMENT_CD in (2,5,6,7,8) then Rating
else PD_SEGMENT end as PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,'N' AS F_RPSIA
,'N' AS RPSIA_THIRD_PARTY
,0 AS GROSS_LOAN_RPSIA
,SUM(M_Bnm_Balance2) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM IA_CC 
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;
 """)

eonn.commit()

e.execute("""
CREATE TABLE A001 AS
SELECT * FROM LOAN
UNION
SELECT * FROM OD
UNION
SELECT * FROM INVESTMENT
UNION
SELECT * FROM STRC
UNION
SELECT * FROM TRADE
UNION
SELECT * FROM FCL
UNION
SELECT * FROM HP1
UNION
SELECT * FROM HP3
UNION
SELECT * FROM CC
;
""")

eonn.commit()



e.execute("""
CREATE TABLE A012 AS SELECT
A.*,
CASE WHEN V_ORIGINAL_ACCOUNT_NUMBER <> 0 and PROD_LV1 = 'On Balance Sheet' THEN 'Y' END AS IMPAIRED_FLAG,
B.F_NCIF_CUST,
B.F_NCIF_ACCT,
B.OUTSTANDING_AFTER_EIR_UWI 
FROM A001 A
LEFT JOIN TOTAL_IMPAIRED_FINAL B
ON A.M_ACCOUNT_NO = B.V_ORIGINAL_ACCOUNT_NUMBER;
""")

eonn.commit()

e.execute("""
CREATE TABLE A022 AS SELECT
DATA_SOURCE
,M_ACCOUNT_NO
,M_CUS_NO
,LEVEL_6_ORI
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,APPROACH
,SECTOR_CATEGORY
,PD_SEGMENT
,RSME_INCLUSION_INDICATOR
,RS_INCLUSION_INDICATOR
,REPORT_INDICATOR
,F_RPSIA
,RPSIA_THIRD_PARTY
,IMPAIRED_FLAG
,F_NCIF_CUST
,F_NCIF_ACCT
,Security_Type_Cd
,M_Financing_Concept
,SUM(OUTSTANDING_AFTER_EIR_UWI) AS OUTSTANDING_AFTER_EIR_UWI
,SUM(GROSS_LOAN_RPSIA) AS GROSS_LOAN_RPSIA
,SUM(M_BNM_BALANCE) AS M_BNM_BALANCE
,SUM(EAD_PROPORTIONAL_MYR)AS EAD_PROPORTIONAL_MYR
,SUM(EXPECTED_LOSS_MYR)AS EXPECTED_LOSS_MYR
,SUM(RWA_AFTER_RISK_MIT_MYR) AS RWA_AFTER_RISK_MIT_MYR
FROM A012 A
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23;
""")


A001 = pd.read_sql_query("SELECT * FROM A022", eonn)
A001 = A001.fillna(0)

def PRODUCT_GROUP_APC(DATA_SOURCE,LEVEL_6,M_Sub_Market_Segment_Cd,M_Product_Hierarchy_Cd):
    #NON-RETAIL FINANCING
    if( ((DATA_SOURCE!='07. HP')&(DATA_SOURCE!='08. CC'))&\
       ((DATA_SOURCE == '01. LOAN')|(DATA_SOURCE == '02. OD')|(DATA_SOURCE == '03. STRC')|(DATA_SOURCE == '04. INV')|\
        (DATA_SOURCE == '05. TRADE')|(DATA_SOURCE == '06. FCL'))&((LEVEL_6!='Salary')&(LEVEL_6!='SMF'))):
        if((M_Sub_Market_Segment_Cd == 5)|(M_Sub_Market_Segment_Cd == 6)|(M_Sub_Market_Segment_Cd == 7)|\
           (M_Sub_Market_Segment_Cd == 8))|((M_Product_Hierarchy_Cd=='HZK01')|(M_Product_Hierarchy_Cd=='HZK02')|\
                                        (M_Product_Hierarchy_Cd=='HZK03')|(M_Product_Hierarchy_Cd=='HZK04')):
            return '01. Corporate Banking'
        elif(M_Sub_Market_Segment_Cd == 2):
            return '02. Business Banking'
        elif(M_Sub_Market_Segment_Cd == 1):
            return '03. RSME Banking'
    #RETAIL FINANCING
    #MORTGAGE FINANCING
    if(((DATA_SOURCE == '01. LOAN')|(DATA_SOURCE == '02. OD')|(DATA_SOURCE == '06. FCL'))&((M_Sub_Market_Segment_Cd == 3)|\
                                                                                           (M_Sub_Market_Segment_Cd == 4))):
        if(LEVEL_6 == 'Housing'):
            return '04. Home Financing'
        elif(LEVEL_6 == 'Shophouse'):
            return '05. Shophouse'
        elif(LEVEL_6 == 'Other Mortgage Loan'):
            return '06. Other Mortgage'
    #HIRE PURCHASE
    if(DATA_SOURCE == '07. HP'):
        return '07. Hire Purchase'
    #PRODUCT EXCLUDE FROM PERSONAL FINANCING ONLY WO CARDS
    if((DATA_SOURCE == '01. LOAN')&((M_Product_Hierarchy_Cd == '711')|(M_Product_Hierarchy_Cd == '714'))):
        return '08. Credit Cards'
    if(DATA_SOURCE == '08. CC'):
        return '08. Credit Cards'
    #UNIT TRUST
    if((DATA_SOURCE == '01. LOAN')&((M_Sub_Market_Segment_Cd == 3)|(M_Sub_Market_Segment_Cd == 4))):
        if((LEVEL_6 == 'Unit Trust')|(LEVEL_6 == 'Unit Trust-ASB')|(LEVEL_6 == 'Unit Trust-ASB2')):
            return '09. Unit Trust'
    #SALARY
    if(LEVEL_6=='Salary'):
        return '11. Salary'
    #OTHER RETAIL FINANCING
    if((DATA_SOURCE == '01. LOAN')&((M_Sub_Market_Segment_Cd == 3)|(M_Sub_Market_Segment_Cd == 4))):
        if(((LEVEL_6!='Unit Trust')&(LEVEL_6!='Unit Trust-ASB')&(LEVEL_6!='Unit Trust-ASB2')&\
            (LEVEL_6!='Housing')&(LEVEL_6!='Shophouse')&(LEVEL_6!='Other Mortgage Loan')&(LEVEL_6!='Salary'))&\
           (DATA_SOURCE == '01. LOAN')&((M_Product_Hierarchy_Cd!='711')&(M_Product_Hierarchy_Cd!='714')&\
                                        (M_Product_Hierarchy_Cd!='HZK01')&(M_Product_Hierarchy_Cd!='HZK02')&\
                                        (M_Product_Hierarchy_Cd!='HZK03')&(M_Product_Hierarchy_Cd!='HZK04'))):
            return '12. Other Retail Financing'
    #CASHLINE
    if((DATA_SOURCE=='02. OD')&((M_Sub_Market_Segment_Cd == 3)|(M_Sub_Market_Segment_Cd == 4))&\
       ((LEVEL_6!='SMF')&(LEVEL_6!='Housing')&(LEVEL_6!='Shophouse')&(LEVEL_6!='Other Mortgage Loan'))):
        return '13. Cashline'
    #SMF
    if(LEVEL_6=='SMF'):
        return '14. SMF'
A001['PRODUCT_GROUP_APC'] = A001.apply(lambda x: PRODUCT_GROUP_APC(x['DATA_SOURCE'], x['LEVEL_6'],x['M_Sub_Market_Segment_Cd'],x['M_Product_Hierarchy_Cd']), axis=1)

#==============================================================================

def ASSET_CLASS(Approach,Sector_Category,Rsme_Inclusion_Indicator,Rs_Inclusion_Indicator,Report_Indicator):
    if(Approach == 2)&((Sector_Category == 1)|(Sector_Category == 2)):
        return 'SOVEREIGN'
    elif(Sector_Category==4): 
        return 'PSE' #APPROACH = 2 AND -changes on August 2018 report only
    elif(Approach==3)&((Sector_Category==0)|(Sector_Category==6)|(Sector_Category==7)|(Sector_Category==8)|\
                        (Sector_Category ==10)):
        return 'CORPORATE(FIRB)'
    elif(Approach==2)&((Sector_Category==0)|(Sector_Category==6)|(Sector_Category==7)|(Sector_Category==8)|\
                        (Sector_Category ==10))&(Report_Indicator==90): 
        return 'CORPORATE(FIRB)'
    elif(Approach == 2)&((Sector_Category==0)|(Sector_Category==6)|(Sector_Category==7)|(Sector_Category==8)|\
                        (Sector_Category ==10)):
        return 'CORPORATE(SA)'
    elif(Approach==6)&(Rs_Inclusion_Indicator!=0)&(Rs_Inclusion_Indicator!='0'):
        return 'RETAIL (AIRB)'
    elif(Approach==6)&(Rsme_Inclusion_Indicator!='0')&(Rsme_Inclusion_Indicator!=0):
        return 'RSME (AIRB)'
    elif(Approach==2)&(Sector_Category==9):
        return 'RETAIL (SA)'
    elif(Approach==3)&(Sector_Category==5):
        return 'BANK(FIRB)'
    elif(Approach==2)&(Sector_Category==5):
        return 'BANK(SA)' #added on 14 Jan 2020
A001['ASSET_CLASS'] = A001.apply(lambda x: ASSET_CLASS(x['Approach'],x['Sector_Category'],x['Rsme_Inclusion_Indicator'],x['Rs_Inclusion_Indicator'],x['Report_Indicator']), axis=1)


A001.loc[A001.LEVEL_6 == 'Unit Trust-ASB', 'P2_RWA_MIL'] = (A001.EAD_PROPORTIONAL_MYR - A001.RWA_AFTER_RISK_MIT_MYR)/1000000
A001.loc[A001.LEVEL_6 != 'Unit Trust-ASB', 'P2_RWA_MIL'] = 0

A001['M_BNM_BALANCE_MIL'] = A001['M_BNM_BALANCE']/1000000;
A001['EAD_PROPORTIONAL_MYR_MIL'] = A001['EAD_PROPORTIONAL_MYR']/1000000;
A001['EXPECTED_LOSS_MYR_MIL'] = A001['EXPECTED_LOSS_MYR']/1000000;
A001['RWA_AFTER_RISK_MIT_MYR_MIL'] = A001['RWA_AFTER_RISK_MIT_MYR']/1000000;
A001['OUTSTANDING_AFTER_EIR_UWI_MIL'] = A001['OUTSTANDING_AFTER_EIR_UWI']/1000000;
A001['GROSS_LOAN_RPSIA_MIL'] =  A001['GROSS_LOAN_RPSIA']/1000000;

e.execute("CREATE TABLE IF NOT EXISTS A032 ({})".format(','.join(A001.columns)))

for row in A001.iterrows():
    sql = "INSERT INTO A032({}) VALUES ({})".format(','.join(A001.columns), ','.join(['?']*len(A001.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("""
CREATE TABLE A042 AS SELECT
DATA_SOURCE
,LEVEL_6_ORI
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,PD_SEGMENT
,F_RPSIA
,RPSIA_THIRD_PARTY
,PRODUCT_GROUP_APC AS PRODUCT_GROUP
,ASSET_CLASS
,SUM(GROSS_LOAN_RPSIA_MIL) AS GROSS_LOAN_RPSIA_MIL
,SUM(M_BNM_BALANCE_MIL) AS M_BNM_BALANCE_MIL
,SUM(EAD_PROPORTIONAL_MYR_MIL)AS EAD_PROPORTIONAL_MYR_MIL
,SUM(EXPECTED_LOSS_MYR_MIL)AS EXPECTED_LOSS_MYR_MIL
,SUM(RWA_AFTER_RISK_MIT_MYR_MIL) AS RWA_AFTER_RISK_MIT_MYR_MIL
,SUM(P2_RWA_MIL) AS P2_RWA_MIL
FROM A032 A
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12;
""") 

eonn.commit()

#/*************************** SURIA*****************************************/

e.execute("""
CREATE TABLE LOAN_SURIA AS
SELECT
M_Account_No
,M_Cus_No
,M_BNM_BALANCE_SUM AS M_BNM_BALANCE
,EAD_PROPORTIONAL_MYR AS EAD_PROPORTIONAL_MYR
,RWA_AFTER_RISK_MIT_MYR AS RWA_AFTER_RISK_MIT_MYR
,EXPECTED_LOSS_MYR AS EXPECTED_LOSS_MYR
,LEVEL_6 AS LEVEL_6_ORI
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_DSC
,APPROACH
,SECTOR_CATEGORY

FROM IA_LN

WHERE M_Account_No in 
('452022604015'
,'461033839807'
,'451575301708'
,'451249110716')
;
""") 

eonn.commit()

#/*************************** SNRA*****************************************/

e.execute("""
CREATE TABLE SNRA AS
SELECT
M_Account_No
,M_Cus_No
,M_BNM_BALANCE AS M_BNM_BALANCE
,EAD_PROPORTIONAL_MYR AS EAD_PROPORTIONAL_MYR
,RWA_AFTER_RISK_MIT_MYR AS RWA_AFTER_RISK_MIT_MYR
,EXPECTED_LOSS_MYR AS EXPECTED_LOSS_MYR
,LEVEL_6 AS LEVEL_6_ORI
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_DSC
,APPROACH
,SECTOR_CATEGORY

FROM IA_INV

WHERE M_Account_No in 
(
'IAM11937073'
,'IAM11937072'
)
;
""") 

eonn.commit()

writer = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\12_Investment_Account\\'+str(date)+'\\IA_'+str(date)+'(python).xlsx',engine='xlsxwriter')

A042 = pd.read_sql_query("SELECT * FROM A042", eonn)
A042.to_excel(writer, sheet_name='IA'+str(date), index = False)

LOAN_SURIA = pd.read_sql_query("SELECT * FROM LOAN_SURIA", eonn)
LOAN_SURIA.to_excel(writer, sheet_name='LOAN_SURIA'+str(date), index = False)

SNRA = pd.read_sql_query("SELECT * FROM SNRA", eonn)
SNRA.to_excel(writer,sheet_name='SNRA'+str(date), index = False)

writer.save()

e.execute("""
CREATE TABLE RPSIACHECK AS SELECT
A.*
,B.RPSIA_THIRD_PARTY
,B.OUTSTANDING_AFTER_EIR/1000000 AS RPSIA_OS_AFTEIR_MIL
,B.OUTSTANDING_AFTER_EIR_UWI/1000000 AS RPSIA_OS_AFTEIRUWI_MIL
,B.GROSS_LOAN_RPSIA/1000000 AS GROSS_LOAN_RPSIA_MIL
FROM A032 A
LEFT JOIN IA_RPSIA_ACCTLEVEL2 B 
ON A.M_Account_No = B.V_ORIGINAL_ACCOUNT_NUMBER
WHERE A.F_RPSIA = "Y";""") 

eonn.commit()

RPSIACHECK = pd.read_sql_query("SELECT * FROM RPSIACHECK", eonn)
RPSIACHECK.to_excel(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\12_Investment_Account\\'+str(date)+'\\IA_RPSIA'+str(date)+'(python).xlsx',sheet_name="IA_RPSIA", index = False)


RDMSCHK = A001.merge(cust[['CUS_NO','NAME']].rename(columns={'CUS_NO': 'M_Cus_No'}), on = 'M_Cus_No', how = 'left')
RDMSCHK1 = RDMSCHK.iloc[np.where((RDMSCHK.ASSET_CLASS.isnull()) & (RDMSCHK.M_BNM_BALANCE_MIL != 0))]

RDMSCHK1.to_excel(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\12_Investment_Account\\'+str(date)+'\\IA_NOCLASS'+str(date)+'(python).xlsx',sheet_name="IA_NO_CLASSIFICATION", index = False)

In [ ]:
e.execute("drop table SNRA")
eonn.commit() 

eonn.close()

cek = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name ;", eonn)
cek

# # # ====================================
# 07 FIX
# ====================================

In [ ]:





e.execute("CREATE TABLE IF NOT EXISTS LN ({})".format(','.join(LN.columns)))

for row in LN.iterrows():
    sql = "INSERT INTO LN({}) VALUES ({})".format(','.join(LN.columns), ','.join(['?']*len(LN.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS OD ({})".format(','.join(OD.columns)))

for row in OD.iterrows():
    sql = "INSERT INTO OD({}) VALUES ({})".format(','.join(OD.columns), ','.join(['?']*len(OD.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS INV ({})".format(','.join(INV.columns)))

for row in INV.iterrows():
    sql = "INSERT INTO INV({}) VALUES ({})".format(','.join(INV.columns), ','.join(['?']*len(INV.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS TRADE ({})".format(','.join(TRADE.columns)))

for row in TRADE.iterrows():
    sql = "INSERT INTO TRADE({}) VALUES ({})".format(','.join(TRADE.columns), ','.join(['?']*len(TRADE.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS FCL ({})".format(','.join(FCL.columns)))

for row in FCL.iterrows():
    sql = "INSERT INTO FCL({}) VALUES ({})".format(','.join(FCL.columns), ','.join(['?']*len(FCL.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS HP ({})".format(','.join(HP.columns)))

for row in HP.iterrows():
    sql = "INSERT INTO HP({}) VALUES ({})".format(','.join(HP.columns), ','.join(['?']*len(HP.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS RDMS ({})".format(','.join(RDMS.columns)))

for row in RDMS.iterrows():
    sql = "INSERT INTO RDMS({}) VALUES ({})".format(','.join(RDMS.columns), ','.join(['?']*len(RDMS.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS CC ({})".format(','.join(CC.columns)))

for row in CC.iterrows():
    sql = "INSERT INTO CC({}) VALUES ({})".format(','.join(CC.columns), ','.join(['?']*len(CC.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS TOTAL_IMPAIRED_FINAL ({})".format(','.join(TOTAL_IMPAIRED_FINAL.columns)))

for row in TOTAL_IMPAIRED_FINAL.iterrows():
    sql = "INSERT INTO TOTAL_IMPAIRED_FINAL({}) VALUES ({})".format(','.join(TOTAL_IMPAIRED_FINAL.columns), ','.join(['?']*len(TOTAL_IMPAIRED_FINAL.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("CREATE TABLE IF NOT EXISTS RPSIA_ACCTLEVEL2 ({})".format(','.join(RPSIA_ACCTLEVEL2.columns)))

for row in RPSIA_ACCTLEVEL2.iterrows():
    sql = "INSERT INTO RPSIA_ACCTLEVEL2({}) VALUES ({})".format(','.join(RPSIA_ACCTLEVEL2.columns),\
                                                  ','.join(['?']*len(RPSIA_ACCTLEVEL2.columns)))
    e.execute(sql, tuple(row[1]))

eonn.commit()

e.execute("""CREATE TABLE LOAN1 AS
SELECT
'01. LOAN' AS DATA_SOURCE
,AS_OF_DATE
,M_ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd
,M_Financing_Concept	
,M_BNM_BALANCE_SUM
FROM LN
WHERE M_ACCT_STATUS_CD = 1 AND M_FULL_WRITEOFF_FLG = 'N';
 """)

eonn.commit()

e.execute("""CREATE TABLE OD1 AS
SELECT
'02. OD' AS DATA_SOURCE
,AS_OF_DATE
,ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_IN_ARREARS
,Security_Type_Cd			/*FOR OCL ONLY*/
,M_Financing_Concept
,M_BNM_BALANCE
FROM OD A
WHERE FULL_WRITEOFF_FLG = 'N' AND ACCT_STATUS_CD <> 3 AND COMMON_COA_ID = 12000;
 """)

eonn.commit()

e.execute("""CREATE TABLE STRC1 AS
SELECT
'03. STRC' AS DATA_SOURCE
,AS_OF_DATE
,M_ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,M_BNM_BALANCE
FROM INV A
WHERE LEVEL_6 in ('Short Term Revolving Credit');
 """)

eonn.commit()

e.execute("""CREATE TABLE INV1 AS
SELECT
'04. INV' AS DATA_SOURCE
,AS_OF_DATE
,M_ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,M_BNM_BALANCE
FROM INV A
WHERE LEVEL_6 in ('Foreign Currency Loan','Owned BA Discounted');
 """)

eonn.commit()

e.execute("""CREATE TABLE TRADE1 AS
SELECT
'05. TRADE' AS DATA_SOURCE
,AS_OF_DATE
,ACCOUNT_NO
,PDT_DESCRIPTION AS LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,0 as M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,M_Financing_Concept
,M_BNM_BALANCE
FROM TRADE
WHERE PDT_DESCRIPTION not in ('OWN IAB ACCEPT DISCOUNT', 'ISLAMIC - ONSHORE FOREIGN CURRENCY LOAN') AND FUNDED_FLG = 'Y';
 """)

eonn.commit()

e.execute("""CREATE TABLE FCL1 AS
SELECT
'06. FCL' AS DATA_SOURCE
,AS_OF_DATE
,M_ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd
,M_Financing_Concept	
,M_BNM_BALANCE
FROM FCL
WHERE RECORD_COUNT = 0;
 """)

eonn.commit()

e.execute("""CREATE TABLE HP1 AS
SELECT DISTINCT 
'07. HP' AS DATA_SOURCE
,AS_OF_DATE
,ACCOUNT_NO /*substr(ACCOUNT_NO,4) as ACCOUNT_NO*/
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,PRODUCT_HIERARCHY_CD
,SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,MTHS_INSTALLMENT_IN_ARREARS
,0 AS Security_Type_Cd	
,Financing_Concept
,SUM(BNM_BALANCE) AS BNM_BALANCE
FROM HP
GROUP BY 3;
 """)

eonn.commit()

e.execute("""CREATE TABLE CC1 AS
SELECT
'08. CC' AS DATA_SOURCE
,AS_OF_DATE
,M_ACCOUNT_NO
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_IN_ARREARS
,0 AS Security_Type_Cd	
,0 as M_Financing_Concept
,M_BNM_BALANCE2
FROM CC;
 """)

eonn.commit()

e.execute("""CREATE TABLE A001 AS
SELECT * FROM LOAN1
UNION 
SELECT * FROM OD1
UNION
SELECT * FROM INV1
UNION
SELECT * FROM STRC1
UNION
SELECT * FROM TRADE1
UNION
SELECT * FROM FCL1
UNION
SELECT * FROM HP1
UNION
SELECT * FROM CC1
;
 """)

eonn.commit()

e.execute("""CREATE TABLE A002 AS SELECT
A.*,
CASE WHEN /*V_ORIGINAL_ACCOUNT_NUMBER <> '' and */PROD_LV1 = 'On Balance Sheet' THEN 'Y' END AS IMPAIRED_FLAG,
B.F_NCIF_CUST,
B.F_NCIF_ACCT,
B.OUTSTANDING_AFTER_EIR_UWI 
FROM A001 A
LEFT JOIN TOTAL_IMPAIRED_FINAL B
ON A.M_ACCOUNT_NO = B.V_ORIGINAL_ACCOUNT_NUMBER;
 """)

eonn.commit()

e.execute("""CREATE TABLE A003 AS SELECT
DATA_SOURCE
,AS_OF_DATE
,LEVEL_6
,M_SUB_MARKET_SEGMENT_CD
,M_PRODUCT_HIERARCHY_CD
,M_SOURCE_PROD_TYPE_CD
,SOURCE_PROD_TYPE_DSC
,M_MTHS_INSTALLMENT_IN_ARREARS
,IMPAIRED_FLAG
,F_NCIF_CUST
,F_NCIF_ACCT
,Security_Type_Cd
,M_Financing_Concept
,SUM(M_BNM_BALANCE_SUM) AS M_BNM_BALANCE
,sum(OUTSTANDING_AFTER_EIR_UWI) as OUTSTANDING_AFTER_EIR_UWI
FROM A002 A
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12,13;
 """)

eonn.commit()

A003 = pd.read_sql_query("SELECT * FROM A003", eonn)

# # # # ====================================
# 08 FIX
# ====================================