ECR

In [1]:
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - SPD\Loan Database"
ECR1 = "ECR 2023"
ECR2 = "ECR 2024"

#df_ori = pd.read_excel(r"C:\Users\syahidhalid\OneDrive - Export-Import Bank of Malaysia (EXIM Bank)\Exim _ Syahid\Analytics\Loan Growth Model\2024\Above SLA Criteria\TAT - working.xlsx", sheet_name='working')
ECR_2304 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Apr23', header=0)
ECR_2305 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='May23', header=0)
ECR_2306 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Jun23', header=0)
ECR_2307 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Jul23', header=0)
ECR_2308 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Aug23', header=0)
ECR_2309 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Sep23', header=0)
ECR_2310 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Oct23', header=0)
ECR_2311 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Nov23', header=0)
ECR_2312 = pd.read_excel(str(Location)+"\\"+str(ECR1)+".xlsx", sheet_name='Dec23', header=0)
ECR_2401 = pd.read_excel(str(Location)+"\\"+str(ECR2)+".xlsx", sheet_name='Jan24', header=0)
ECR_2402 = pd.read_excel(str(Location)+"\\"+str(ECR2)+".xlsx", sheet_name='Feb24', header=0)
ECR_2403 = pd.read_excel(str(Location)+"\\"+str(ECR2)+".xlsx", sheet_name='Mar24', header=0)
ECR_2404 = pd.read_excel(str(Location)+"\\"+str(ECR2)+".xlsx", sheet_name='Apr24', header=0)



ECR_2404['OS_%'] = ECR_2404['Total Outstanding (MYR)']/sum(ECR_2404['Total Outstanding (MYR)'])
ECR_2404['INT_%'] = ECR_2404['Interest Outstanding (MYR)']/sum(ECR_2404['Interest Outstanding (MYR)'])
ECR_2404['CHARGES_%'] = ECR_2404['Other Charges (MYR)']/sum(ECR_2404['Other Charges (MYR)'])
ECR_2404['DISBURSE_%'] = ECR_2404['Disbursement/Drawdown (MYR)']/(ECR_2404['Total Outstanding (MYR)'])
ECR_2404['REPAYMENT_%'] = ECR_2404['Repayment \n(MYR)']/(ECR_2404['Total Outstanding (MYR)'])



ECR_2403['OS_%'] = ECR_2403['Total Outstanding (MYR)']/sum(ECR_2403['Total Outstanding (MYR)'])
ECR_2403['INT_%'] = ECR_2403['Interest Outstanding (MYR)']/sum(ECR_2403['Interest Outstanding (MYR)'])
ECR_2403['CHARGES_%'] = ECR_2403['Other Charges (MYR)']/sum(ECR_2403['Other Charges (MYR)'])
ECR_2403['DISBURSE_%'] = ECR_2403['Disbursement/Drawdown (MYR)']/(ECR_2403['Total Outstanding (MYR)'])
ECR_2403['REPAYMENT_%'] = ECR_2403['Repayment \n(MYR)']/(ECR_2403['Total Outstanding (MYR)'])



ECR_2402['OS_%'] = ECR_2402['Total Outstanding (MYR)']/sum(ECR_2402['Total Outstanding (MYR)'])
ECR_2402['INT_%'] = ECR_2402['Interest Outstanding (MYR)']/sum(ECR_2402['Interest Outstanding (MYR)'])
ECR_2402['CHARGES_%'] = ECR_2402['Other Charges (MYR)']/sum(ECR_2402['Other Charges (MYR)'])
ECR_2402['DISBURSE_%'] = ECR_2402['Disbursement/Drawdown (MYR)']/(ECR_2402['Total Outstanding (MYR)'])
ECR_2402['REPAYMENT_%'] = ECR_2402['Repayment \n(MYR)']/(ECR_2402['Total Outstanding (MYR)'])



ECR_2401['OS_%'] = ECR_2401['Total Outstanding (MYR)']/sum(ECR_2401['Total Outstanding (MYR)'])
ECR_2401['INT_%'] = ECR_2401['Interest Outstanding (MYR)']/sum(ECR_2401['Interest Outstanding (MYR)'])
ECR_2401['CHARGES_%'] = ECR_2401['Other Charges (MYR)']/sum(ECR_2401['Other Charges (MYR)'])
ECR_2401['DISBURSE_%'] = ECR_2401['Disbursement/Drawdown (MYR)']/(ECR_2401['Total Outstanding (MYR)'])
ECR_2401['REPAYMENT_%'] = ECR_2401['Repayment \n(MYR)']/(ECR_2401['Total Outstanding (MYR)'])



ECR_2312['OS_%'] = ECR_2312['Total Outstanding (MYR)']/sum(ECR_2312['Total Outstanding (MYR)'])
ECR_2312['INT_%'] = ECR_2312['Interest Outstanding (MYR)']/sum(ECR_2312['Interest Outstanding (MYR)'])
ECR_2312['CHARGES_%'] = ECR_2312['Other Charges (MYR)']/sum(ECR_2312['Other Charges (MYR)'])
ECR_2312['DISBURSE_%'] = ECR_2312['Disbursement/Drawdown (MYR)']/(ECR_2312['Total Outstanding (MYR)'])
ECR_2312['REPAYMENT_%'] = ECR_2312['Repayment \n(MYR)']/(ECR_2312['Total Outstanding (MYR)'])



ECR_2311['OS_%'] = ECR_2311['Total Outstanding (MYR)']/sum(ECR_2311['Total Outstanding (MYR)'])
ECR_2311['INT_%'] = ECR_2311['Interest Outstanding (MYR)']/sum(ECR_2311['Interest Outstanding (MYR)'])
ECR_2311['CHARGES_%'] = ECR_2311['Other Charges (MYR)']/sum(ECR_2311['Other Charges (MYR)'])
ECR_2311['DISBURSE_%'] = ECR_2311['Disbursement/Drawdown (MYR)']/(ECR_2311['Total Outstanding (MYR)'])
ECR_2311['REPAYMENT_%'] = ECR_2311['Repayment \n(MYR)']/(ECR_2311['Total Outstanding (MYR)'])



ECR_2310['OS_%'] = ECR_2310['Total Outstanding (MYR)']/sum(ECR_2310['Total Outstanding (MYR)'])
ECR_2310['INT_%'] = ECR_2310['Interest Outstanding (MYR)']/sum(ECR_2310['Interest Outstanding (MYR)'])
ECR_2310['CHARGES_%'] = ECR_2310['Other Charges (MYR)']/sum(ECR_2310['Other Charges (MYR)'])
ECR_2310['DISBURSE_%'] = ECR_2310['Disbursement/Drawdown (MYR)']/(ECR_2310['Total Outstanding (MYR)'])
ECR_2310['REPAYMENT_%'] = ECR_2310['Repayment \n(MYR)']/(ECR_2310['Total Outstanding (MYR)'])



ECR_2309['OS_%'] = ECR_2309['Total Outstanding (MYR)']/sum(ECR_2309['Total Outstanding (MYR)'])
ECR_2309['INT_%'] = ECR_2309['Interest Outstanding (MYR)']/sum(ECR_2309['Interest Outstanding (MYR)'])
ECR_2309['CHARGES_%'] = ECR_2309['Other Charges (MYR)']/sum(ECR_2309['Other Charges (MYR)'])
ECR_2309['DISBURSE_%'] = ECR_2309['Disbursement/Drawdown (MYR)']/(ECR_2309['Total Outstanding (MYR)'])
ECR_2309['REPAYMENT_%'] = ECR_2309['Repayment \n(MYR)']/(ECR_2309['Total Outstanding (MYR)'])



ECR_2308['OS_%'] = ECR_2308['Total Outstanding (MYR)']/sum(ECR_2308['Total Outstanding (MYR)'])
ECR_2308['INT_%'] = ECR_2308['Interest Outstanding (MYR)']/sum(ECR_2308['Interest Outstanding (MYR)'])
ECR_2308['CHARGES_%'] = ECR_2308['Other Charges (MYR)']/sum(ECR_2308['Other Charges (MYR)'])
ECR_2308['DISBURSE_%'] = ECR_2308['Disbursement/Drawdown (MYR)']/(ECR_2308['Total Outstanding (MYR)'])
ECR_2308['REPAYMENT_%'] = ECR_2308['Repayment \n(MYR)']/(ECR_2308['Total Outstanding (MYR)'])



ECR_2307['OS_%'] = ECR_2307['Total Outstanding (MYR)']/sum(ECR_2307['Total Outstanding (MYR)'])
ECR_2307['INT_%'] = ECR_2307['Interest Outstanding (MYR)']/sum(ECR_2307['Interest Outstanding (MYR)'])
ECR_2307['CHARGES_%'] = ECR_2307['Other Charges (MYR)']/sum(ECR_2307['Other Charges (MYR)'])
ECR_2307['DISBURSE_%'] = ECR_2307['Disbursement/Drawdown (MYR)']/(ECR_2307['Total Outstanding (MYR)'])
ECR_2307['REPAYMENT_%'] = ECR_2307['Repayment \n(MYR)']/(ECR_2307['Total Outstanding (MYR)'])



ECR_2306['OS_%'] = ECR_2306['Total Outstanding (MYR)']/sum(ECR_2306['Total Outstanding (MYR)'])
ECR_2306['INT_%'] = ECR_2306['Interest Outstanding (MYR)']/sum(ECR_2306['Interest Outstanding (MYR)'])
ECR_2306['CHARGES_%'] = ECR_2306['Other Charges (MYR)']/sum(ECR_2306['Other Charges (MYR)'])
ECR_2306['DISBURSE_%'] = ECR_2306['Disbursement/Drawdown (MYR)']/(ECR_2306['Total Outstanding (MYR)'])
ECR_2306['REPAYMENT_%'] = ECR_2306['Repayment \n(MYR)']/(ECR_2306['Total Outstanding (MYR)'])



ECR_2305['OS_%'] = ECR_2305['Total Outstanding (MYR)']/sum(ECR_2305['Total Outstanding (MYR)'])
ECR_2305['INT_%'] = ECR_2305['Interest Outstanding (MYR)']/sum(ECR_2305['Interest Outstanding (MYR)'])
ECR_2305['CHARGES_%'] = ECR_2305['Other Charges (MYR)']/sum(ECR_2305['Other Charges (MYR)'])
ECR_2305['DISBURSE_%'] = ECR_2305['Disbursement/Drawdown (MYR)']/(ECR_2305['Total Outstanding (MYR)'])
ECR_2305['REPAYMENT_%'] = ECR_2305['Repayment \n(MYR)']/(ECR_2305['Total Outstanding (MYR)'])



ECR_2304['OS_%'] = ECR_2304['Total Outstanding (MYR)']/sum(ECR_2304['Total Outstanding (MYR)'])
ECR_2304['INT_%'] = ECR_2304['Interest Outstanding (MYR)']/sum(ECR_2304['Interest Outstanding (MYR)'])
ECR_2304['CHARGES_%'] = ECR_2304['Other Charges (MYR)']/sum(ECR_2304['Other Charges (MYR)'])
ECR_2304['DISBURSE_%'] = ECR_2304['Disbursement/Drawdown (MYR)']/(ECR_2304['Total Outstanding (MYR)'])
ECR_2304['REPAYMENT_%'] = ECR_2304['Repayment \n(MYR)']/(ECR_2304['Total Outstanding (MYR)'])



ECR_2304['Position'] = '2023-04'
ECR_2305['Position'] = '2023-05'
ECR_2306['Position'] = '2023-06'
ECR_2307['Position'] = '2023-07'
ECR_2308['Position'] = '2023-08'
ECR_2309['Position'] = '2023-09'
ECR_2310['Position'] = '2023-10'
ECR_2311['Position'] = '2023-11'
ECR_2312['Position'] = '2023-12'
ECR_2401['Position'] = '2024-01'
ECR_2402['Position'] = '2024-02'
ECR_2403['Position'] = '2024-03'
ECR_2404['Position'] = '2024-04'


ECR_2304.columns = ECR_2305.columns = ECR_2306.columns = ECR_2307.columns = ECR_2308.columns = ECR_2309.columns = ECR_2310.columns = ECR_2311.columns = ECR_2312.columns = ECR_2401.columns = ECR_2402.columns = ECR_2403.columns = ECR_2404.columns

ECRFIN = pd.concat([ECR_2304,
                    ECR_2305,
                    ECR_2306,
                    ECR_2307,
                    ECR_2308,
                    ECR_2309,
                    ECR_2310,
                    ECR_2311,
                    ECR_2312,
                    ECR_2401,
                    ECR_2402,
                    ECR_2403,
                    ECR_2404])

#ECRFIN.to_csv(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\Dashboard ECR & LDB\Dataset\\ECR_POWERBI.txt", index = False)

In [ ]:
ECRFIN.to_csv(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\Dashboard ECR & LDB\Dataset\\ECR_POWERBI.txt", index = False)

In [2]:
ECRFIN['Position'].value_counts()

Position
2023-04    48
2023-05    48
2023-06    48
2023-07    48
2023-08    48
2023-09    48
2023-10    48
2023-11    48
2023-12    48
2024-01    48
2024-02    48
2024-03    48
2024-04    48
Name: count, dtype: int64

In [12]:
sum(ECR_2304['OS_%'])

1.0

In [23]:
ECR_2304.sort_values(by=['INT_%'],ascending=False).head(3)

,No.,Company ID,Group,Company,Application System Code,Master Account No,Sub Account No,Nature of Account,Facility,Facility Currency,Type of Financing,Status,Corporate Status,Country Exposure,Profit/Interest Margin,Cost/Principal Outstanding (MYR),Interest Outstanding (MYR),Other Charges (MYR),Total Outstanding (MYR),Disbursement/Drawdown (MYR),Cumulative Disbursement/\nDrawdown \n(MYR),Repayment \n(MYR),Cumulative Repayment \n(MYR),OS_%,INT_%,CHARGES_%,DISBURSE_%,REPAYMENT_%
38,39,ECR 020_1,Public Bank Berhad,Public Bank Berhad (Conv),EFD,PUBLIC BANK,PUBLIC BANK,Trade,ECR,MYR,Conventional,Active,SME,Malaysia,3.35,9.15e+06,127020.65,95,9.28e+06,1.66e+06,6.83e+06,4.00e+06,1.16e+07,0.17,0.61,0.15,0.18,0.43
34,35,ECR 018_1,Maybank Berhad,Maybank Berhad (Conv),EFD,MALAYAN,MALAYAN,Trade,ECR,MYR,Conventional,Active,SME,Malaysia,3.35,2.33e+07,65686.61,80,2.33e+07,1.11e+06,1.07e+07,2.35e+06,2.87e+07,0.43,0.32,0.12,0.05,0.10
40,41,ECR 021_1,RHB Bank Berhad,RHB Bank Berhad (Conv),EFD,RHB BANK,RHB BANK,Trade,ECR,MYR,Conventional,Active,SME,Malaysia,3.35,2.00e+06,4859.10,35,2.01e+06,5.51e+05,2.00e+06,4.46e+05,2.71e+06,0.04,0.02,0.05,0.27,0.22

LDB

In [2]:
#from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LogisticRegression
#from sklearn import metrics
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [3]:
LDB1 = "LBD 202312 - 202301 (CSP Sector)"
LDB2 = "LBD 202412 - 202401 (CSP Sector)"
Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - SPD\Loan Database"

LDB_2304 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Apr23', header=0)
LDB_2305 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='May23', header=0)
LDB_2306 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Jun23', header=0)
LDB_2307 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Jul23', header=0)
LDB_2308 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Aug23', header=0)
LDB_2309 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Sep23', header=0)
LDB_2310 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Oct23', header=0)
LDB_2311 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Nov23', header=0)
LDB_2312 = pd.read_excel(str(Location)+"\\"+str(LDB1)+".xlsx", sheet_name='Dec23', header=0)
LDB_2401 = pd.read_excel(str(Location)+"\\"+str(LDB2)+".xlsx", sheet_name='Jan24', header=0)
LDB_2402 = pd.read_excel(str(Location)+"\\"+str(LDB2)+".xlsx", sheet_name='Feb24', header=0)
LDB_2403 = pd.read_excel(str(Location)+"\\"+str(LDB2)+".xlsx", sheet_name='Mar24', header=0)
LDB_2404 = pd.read_excel(str(Location)+"\\"+str(LDB2)+".xlsx", sheet_name='Apr24', header=0)

In [4]:
LDB_2404_1 = LDB_2404.drop('CRMS CG Rating', axis=1).drop('Fund / Guarantee /Program / Insentif', axis=1)
LDB_2403_1 = LDB_2403.drop('CRMS CG Rating', axis=1).drop('Fund / Guarantee /Program / Insentif', axis=1)
LDB_2402_1 = LDB_2402.drop('CRMS CG Rating', axis=1).drop('Fund Type / SJPP/Program', axis=1)
LDB_2401_1 = LDB_2401.drop('CRMS CG Rating', axis=1).drop('Fund Type / SJPP/Program/Incentive', axis=1)
LDB_2312_1 = LDB_2312.drop('CRMS CG Rating', axis=1).drop('Fund Type / SJPP/Program', axis=1)
LDB_2311_1 = LDB_2311.drop('CRMS CG Rating', axis=1).drop('Fund Type / SJPP/Program', axis=1)
LDB_2310_1 = LDB_2310.drop('CRMS CG Rating', axis=1).drop('Fund Type / SJPP', axis=1)

LDB_2309_1 = LDB_2309.drop('Fund Type', axis=1).drop('LGD', axis=1).drop(['Risk Category','Prudential Limit (%) ',"EXIM's Shareholder Fund as at","EXIM's Shareholder Fund as at  (MYR)","Single Customer Exposure Limit (SCEL)(MYR)",'Percentage of Total Banking Exposure(MYR) to SCEL (MYR)','Percentage of Total Overall Banking Exposure (MYR) to SCEL (MYR) (%)'], axis=1)
LDB_2308_1 = LDB_2308.drop('Fund Type', axis=1).drop('LGD', axis=1).drop(['Risk Category','Prudential Limit (%) ',"EXIM's Shareholder Fund as at","EXIM's Shareholder Fund as at  (MYR)","Single Customer Exposure Limit (SCEL)(MYR)",'Percentage of Total Banking Exposure(MYR) to SCEL (MYR)','Percentage of Total Overall Banking Exposure (MYR) to SCEL (MYR) (%)'], axis=1)

LDB_2307_1 = LDB_2307.drop('Fund Type', axis=1)
LDB_2306_1 = LDB_2306.drop('Fund Type', axis=1)
LDB_2305_1 = LDB_2305.drop('Fund Type', axis=1)
LDB_2304_1 = LDB_2304.drop('Fund Type', axis=1)

In [5]:
print(LDB_2404_1.shape)
print(LDB_2403_1.shape)
print(LDB_2402_1.shape)
print(LDB_2401_1.shape)
print(LDB_2312_1.shape)
print(LDB_2311_1.shape)
print(LDB_2310_1.shape)
print(LDB_2309_1.shape)
print(LDB_2308_1.shape)
print(LDB_2307_1.shape)
print(LDB_2306_1.shape)
print(LDB_2305_1.shape)
print(LDB_2304_1.shape)

(486, 148)
(464, 148)
(452, 148)
(445, 148)
(439, 148)
(436, 148)
(434, 148)
(420, 148)
(409, 148)
(407, 148)
(394, 148)
(384, 148)
(384, 148)

In [6]:
LDB_2404_1.columns = LDB_2403_1.columns = LDB_2402_1.columns = LDB_2401_1.columns = LDB_2312_1.columns = LDB_2311_1.columns = LDB_2310_1.columns = LDB_2309_1.columns = LDB_2308_1.columns = LDB_2307_1.columns = LDB_2306_1.columns = LDB_2305_1.columns = LDB_2304_1.columns

LDBFIN = pd.concat([LDB_2404_1,
                    LDB_2403_1,
                    LDB_2402_1,
                    LDB_2401_1,
                    LDB_2312_1,
                    LDB_2311_1,
                    LDB_2310_1,
                    LDB_2309_1,
                    LDB_2308_1,
                    LDB_2307_1,
                    LDB_2306_1,
                    LDB_2305_1,
                    LDB_2304_1])

C:\Users\syahidhalid\AppData\Local\Temp\2\ipykernel_17500\2230223768.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  LDBFIN = pd.concat([LDB_2404_1,
C:\Users\syahidhalid\AppData\Local\Temp\2\ipykernel_17500\2230223768.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  LDBFIN = pd.concat([LDB_2404_1,
C:\Users\syahidhalid\AppData\Local\Temp\2\ipykernel_17500\2230223768.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  LDBFIN = pd.concat([LDB_2404_1,

In [8]:
LDBFIN.to_csv(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\Dashboard ECR & LDB\Dataset\\LDB_POWERBI.txt", index = False)