In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

CC = pd.read_csv(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\07_Credit_Card\04_Dataset\cc_202112.txt', sep = "\t", header = 0)

CC_personal = pd.read_csv(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\07_Credit_Card\04_Dataset\cc_personal_202112.txt', sep = "\t", header = 0)

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
CC.shape, CC_personal.shape

((1290923, 97), (8628, 76))

In [15]:
#AT003_1.OSM = AT003_1.OSM.str.strip()
CC_personal.loc[CC_personal.Outstanding_Amt=='?','Outstanding_Amt'] = 0
CC_personal.Outstanding_Amt = CC_personal.Outstanding_Amt.astype(float)

#AT003_1.EXPECTED_LOSS = AT003_1.EXPECTED_LOSS.str.strip()
CC_personal.loc[CC_personal.EL=='?','EL'] = 0
CC_personal.EL = CC_personal.EL.astype(float)

#AT003_1.EAD = AT003_1.EAD.str.strip()
CC_personal.loc[CC_personal.EAD=='?','EAD'] = 0
CC_personal.EAD = CC_personal.EAD.astype(float)

#AT003_1.RWA = AT003_1.RWA.str.strip()
CC_personal.loc[CC_personal.RWA=='?','RWA'] = 0
CC_personal.RWA = CC_personal.RWA.astype(float)


RISK_pf = CC_personal.fillna(0).groupby(['RISK_GRADE_VAL','STAGE_CLASSIFICATION'])[['Outstanding_Amt','EL','EAD','RWA']].sum().reset_index()

D:\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [19]:
#AT003_1.OSM = AT003_1.OSM.str.strip()
CC.loc[CC.Outstanding_Amt=='?','Outstanding_Amt'] = 0
CC.Outstanding_Amt = CC.Outstanding_Amt.astype(float)

#AT003_1.EXPECTED_LOSS = AT003_1.EXPECTED_LOSS.str.strip()
CC.loc[CC.EL=='?','EL'] = 0
CC.EL = CC.EL.astype(float)

#AT003_1.EAD = AT003_1.EAD.str.strip()
CC.loc[CC.EAD=='?','EAD'] = 0
CC.EAD = CC.EAD.astype(float)

#AT003_1.RWA = AT003_1.RWA.str.strip()
CC.loc[CC.RWA=='?','RWA'] = 0
CC.RWA = CC.RWA.astype(float)


RISK = CC.fillna(0).groupby(['RISK_GRADE_VAL'])[['Outstanding_Amt','EL','EAD','RWA']].sum().reset_index()

D:\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [17]:
RISK_pf

,RISK_GRADE_VAL,STAGE_CLASSIFICATION,Outstanding_Amt,EL,EAD,RWA
0,?,STAGE1,8.23e+07,0.0,8.23e+07,7.55e+07
1,?,STAGE2,6.82e+06,0.0,6.82e+06,6.56e+06
2,?,STAGE3,8.61e+05,0.0,5.18e+05,5.18e+05

In [6]:
RISK

   RISK_GRADE_VAL  Outstanding_Amt        EL       EAD       RWA
0               ?         1.18e+08  1.32e+07  1.18e+08  1.08e+08
1              R1         1.07e+09  4.52e+06  3.35e+09  2.49e+08
2             R10         1.57e+07  4.51e+06  1.83e+07  3.44e+07
3              R2         9.82e+08  4.88e+06  1.88e+09  2.39e+08
4              R3         8.90e+08  7.14e+06  1.55e+09  3.08e+08
5              R4         9.88e+08  1.18e+07  1.41e+09  4.41e+08
6              R5         9.10e+08  1.69e+07  1.15e+09  5.40e+08
7              R6         5.58e+08  1.69e+07  6.72e+08  4.57e+08
8              R7         2.81e+08  1.47e+07  3.09e+08  3.14e+08
9              R8         2.86e+08  2.32e+07  2.94e+08  3.96e+08
10             R9         4.58e+07  8.02e+06  6.31e+07  1.05e+08

In [20]:
#-------------------------------------------SORTBY(EXCEL)

writer2 = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\07_Yearly_Reporting\Budget\BudgetFY21\working - SH\CC_CFS202112(python).xlsx',engine='xlsxwriter')
    

#CC.to_excel(writer2, sheet_name='Base', index = False)
RISK.to_excel(writer2, sheet_name='CC', index = False)
RISK_pf.to_excel(writer2, sheet_name='CC personal', index = False)

writer2.save()

In [7]:
#bukti limit excel

ValueError: This sheet is too large! Your sheet size is: 1290923, 97 Max sheet size is: 1048576, 16384