In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [2]:
date = '20211231'

SME = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\03_Retail_SME_Financing\01_Portfolio\\"+date+"\\"+date+"_SME Loan_v1_working (RD) - to Islamic.xlsx")

In [22]:
SME.columns = SME.columns.str.upper()
SME.columns = SME.columns.str.replace(" ","_")

RSME = SME.iloc[np.where((SME.M_ENTITY_CD=='MIB')&(SME.BOROWING_BE=='Y'))]

In [27]:
RSME['BNM_BALANCE_MIL'] = RSME.M_BNM_BALANCE/1000000
RSME['EXPECTED_LOSS_MYR_MIL'] = RSME['SUM_OF_EXPECTED_LOSS_MYR_SUM_(REMOVED_DUP)']/1000000
RSME['EAD_PROPORTIONAL_MYR_MIL'] = RSME['SUM_OF_EAD_PROPORTIONAL_MYR_SUM_(REMOVED_DUP)']/1000000
RSME['RWA_AFTER_RISK_MIT_MYR_MIL'] = RSME['SUM_OF_RWA_AFTER_RISK_MIT_MYR_SUM_(REMOVED_DUP)']/1000000

RISK = RSME.fillna(0).groupby(['RISK_GRADE_OVERALL_(FINAL)'])[['BNM_BALANCE_MIL',\
                                                              'EXPECTED_LOSS_MYR_MIL',\
                                                              'EAD_PROPORTIONAL_MYR_MIL',\
                                                              'RWA_AFTER_RISK_MIT_MYR_MIL']].sum().reset_index()

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [28]:
RISK

,RISK_GRADE_OVERALL_(FINAL),BNM_BALANCE_MIL,EXPECTED_LOSS_MYR_MIL,EAD_PROPORTIONAL_MYR_MIL,RWA_AFTER_RISK_MIT_MYR_MIL
0,0,119.00,0.00,0.00,0.00
1,R1,1887.74,1.76,1939.28,317.26
2,R11,256.52,46.03,256.33,161.89
3,R2,4374.30,6.61,4524.69,1016.90
4,R3,7124.11,17.01,7322.82,2094.53
5,R4,1880.82,9.59,1944.31,802.29
6,R5,1089.70,9.97,1125.02,569.34
7,R6,571.45,9.32,608.31,335.03
8,R7,181.65,4.38,184.69,96.73
9,R8,36.92,1.70,37.77,26.13
10,R9,49.15,3.05,50.61,36.22

In [30]:
sum(RISK.BNM_BALANCE_MIL)

17571.380854960018

In [31]:
#-------------------------------------------SORTBY(EXCEL)

writer2 = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\07_Yearly_Reporting\Budget\BudgetFY21\working - SH\3. RSME_CFS'+str(date)+'(python).xlsx',engine='xlsxwriter')
    

RSME.to_excel(writer2, sheet_name='Base', index = False)
RISK.to_excel(writer2, sheet_name='RISK GRADE', index = False)


writer2.save()