In [1]:
import pandas as pd
import numpy as np

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [2]:
#----------------------------------------------data-------------------------------------------------------------
Income_curr = "04. Income statement Apr 2024"

Location = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Source"

#Income_prev_raw = pd.read_excel(str(Location)+"\\"+str(Income_prev)+".xlsx", sheet_name='Raw 2024', header=0)
#Income_prev_raw.columns = Income_prev_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_prev_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_prev_keyin.columns = Income_prev_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

Income_curr_raw = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Raw 2024', header=0)
Income_curr_raw.columns = Income_curr_raw.columns.str.replace("\n", "_").str.replace(" ", "_")

#Income_curr_keyin = pd.read_excel(str(Location)+"\\"+str(Income_curr)+".xlsx", sheet_name='Keyin2024', header=4)
#Income_curr_keyin.columns = Income_curr_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

Location_dic = r"C:\\Users\\syahidhalid\\Syahid_PC\\Analytics - FAD\\06. Management Account\\Working"
file_dic = "Income Statement - Dictionary"

dic_keyin = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Keyin', header=0)
dic_keyin.columns = dic_keyin.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_op_rev = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Operating Revenue', header=0)
dic_op_rev.columns = dic_op_rev.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Income', header=0)
dic_int_inc.columns = dic_int_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_int_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Interest Expense', header=0)
dic_int_exp.columns = dic_int_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_undwr_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Underwriting_Takaful results', header=0)
dic_undwr_tkfl.columns = dic_undwr_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_inc_isl_biz = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Income from Islamic business', header=0)
dic_inc_isl_biz.columns = dic_inc_isl_biz.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_oth_inc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Other income', header=0)
dic_oth_inc.columns = dic_oth_inc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_ovh_exp = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Overhead expenses', header=0)
dic_ovh_exp.columns = dic_ovh_exp.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_laf = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowances for losses on LAF', header=0)
dic_allw_laf.columns = dic_allw_laf.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_dim = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for diminution', header=0)
dic_allw_dim.columns = dic_allw_dim.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_cnc = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance for com and con', header=0)
dic_allw_cnc.columns = dic_allw_cnc.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_invsec = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Allowance on investment sec', header=0)
dic_allw_invsec.columns = dic_allw_invsec.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_allw_sundry = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='General allowance -Sundry debt', header=0)
dic_allw_sundry.columns = dic_allw_sundry.columns.str.replace("\n", "_").str.replace(" ", "_")

dic_sur_tkfl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Less_ Surplus attributable', header=0)
dic_sur_tkfl.columns = dic_sur_tkfl.columns.str.replace("\n", "_").str.replace(" ", "_")

tax = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Taxation', header=0)
tax.columns = tax.columns.str.replace("\n", "_").str.replace(" ", "_")

conv = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Conventional', header=0)
conv.columns = conv.columns.str.replace("\n", "_").str.replace(" ", "_")

isl = pd.read_excel(str(Location_dic)+"\\"+str(file_dic)+".xlsx", sheet_name='Islamic', header=0)
isl.columns = isl.columns.str.replace("\n", "_").str.replace(" ", "_")

In [3]:
#----------------------------------------------Keyin-------------------------------------------------------------

Income_curr_raw1 = Income_curr_raw.iloc[np.where(~Income_curr_raw['GL_no.'].isna())]

Income_curr_raw1 = Income_curr_raw1[['GL_no.','Unnamed:_7','Unnamed:_10']].\
    rename(columns={'GL_no.': 'GL_Code_',\
                    'Unnamed:_10':'YTD '+str(Income_curr[21:]),\
                    'Unnamed:_7':'GL_Category'}).fillna(0)

Income_curr_raw1.GL_Code_ = Income_curr_raw1.GL_Code_.astype(str)
Income_curr_raw1.GL_Category = Income_curr_raw1.GL_Category.astype(str)
Income_curr_raw1['YTD '+str(Income_curr[21:])] = Income_curr_raw1['YTD '+str(Income_curr[21:])].astype(float)

In [4]:
#Income_curr_keyin1 = Income_curr_keyin.iloc[np.where(~Income_curr_keyin['GL_Code_'].isna())][['GL_Code_','GL_Category']]

dic_keyin1 = dic_keyin.iloc[np.where(~dic_keyin['GL_Code_'].isna())].fillna(0)

dic_keyin1.GL_Code_ = dic_keyin1.GL_Code_.astype(str)
dic_keyin1.GL_Category = dic_keyin1.GL_Category.astype(str)

dic_keyin1 = dic_keyin1.drop_duplicates('GL_Code_', keep='first')

keyin = dic_keyin1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

In [5]:
#----------------------------------------------Op Rev-------------------------------------------------------------

dic_op_rev1 = dic_op_rev.iloc[np.where(~dic_op_rev['GL_Code_'].isna())].fillna(0)

dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(int)
dic_op_rev1.GL_Code_ = dic_op_rev1.GL_Code_.astype(str)

dic_op_rev1 = dic_op_rev1.drop_duplicates('GL_Code_', keep='first')

OpRev = dic_op_rev1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OpRev['YTD '+str(Income_curr[21:])] = OpRev['YTD '+str(Income_curr[21:])]*-1

In [6]:
OpRev1 = OpRev.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [7]:
#----------------------------------------------Int Inc-------------------------------------------------------------

dic_int_inc1 = dic_int_inc.iloc[np.where(~dic_int_inc['GL_Code_'].isna())].fillna(0)

dic_int_inc1.GL_Code_ = dic_int_inc1.GL_Code_.astype(int)
dic_int_inc1.GL_Code_ = dic_int_inc1.GL_Code_.astype(str)

dic_int_inc1 = dic_int_inc1.drop_duplicates('GL_Code_', keep='first')

IntInc = dic_int_inc1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IntInc['YTD '+str(Income_curr[21:])] = IntInc['YTD '+str(Income_curr[21:])]*-1

In [8]:
IntInc1 = IntInc.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [9]:
#----------------------------------------------Int Exp-------------------------------------------------------------

dic_int_exp1 = dic_int_exp.iloc[np.where(~dic_int_exp['GL_Code_'].isna())].fillna(0)

dic_int_exp1.GL_Code_ = dic_int_exp1.GL_Code_.astype(int)
dic_int_exp1.GL_Code_ = dic_int_exp1.GL_Code_.astype(str)

dic_int_exp1 = dic_int_exp1.drop_duplicates('GL_Code_', keep='first')

IntExp = dic_int_exp1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IntExp['YTD '+str(Income_curr[21:])] = IntExp['YTD '+str(Income_curr[21:])]*-1

In [10]:
IntExp1 = IntExp.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [11]:
frames = [OpRev1, IntInc1, IntExp1] 
appendR = pd.concat(frames)

In [12]:
appendR.set_index('Class', inplace=True)

b = appendR.T
b['Net Interest Income'] = b['Interest Income'] + b['Interest Expense']

c = b.T
newdf =c.reset_index()

In [13]:
#----------------------------------------------Underwriting/Takaful results-------------------------------------------------------------

dic_undwr_tkfl1 = dic_undwr_tkfl.iloc[np.where(~dic_undwr_tkfl['GL_Code_'].isna())].fillna(0)

#dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(int)
dic_undwr_tkfl1.GL_Code_ = dic_undwr_tkfl1.GL_Code_.astype(str)

dic_undwr_tkfl1 = dic_undwr_tkfl1.drop_duplicates('GL_Code_', keep='first')

UndwrTkfl = dic_undwr_tkfl1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

UndwrTkfl['YTD '+str(Income_curr[21:])] = UndwrTkfl['YTD '+str(Income_curr[21:])]*-1

UndwrTkfl1 = UndwrTkfl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit'

In [14]:
#----------------------------------------------Income from Islamic Businesses-------------------------------------------------------------

dic_inc_isl_biz1 = dic_inc_isl_biz.iloc[np.where(~dic_inc_isl_biz['GL_Code_'].isna())].fillna(0)
dic_inc_isl_biz1 = dic_inc_isl_biz1.iloc[np.where(~dic_inc_isl_biz1.GL_Description_2.isin(['Forex loss/gain realised','Forex loss/gain unrealised']))]

dic_inc_isl_biz1.GL_Code_ = dic_inc_isl_biz1.GL_Code_.astype(int)
dic_inc_isl_biz1.GL_Code_ = dic_inc_isl_biz1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

IncIslBiz = dic_inc_isl_biz1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

IncIslBiz['YTD '+str(Income_curr[21:])] = IncIslBiz['YTD '+str(Income_curr[21:])]*-1

#unwind
IncIslBiz.loc[IncIslBiz.GL_Code_ == '5500306' , 'GL_Description_2'] = 'Other Income'

IncIslBiz1 = IncIslBiz.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [15]:
#----------------------------------------------Other Income-------------------------------------------------------------

dic_oth_inc1 = dic_oth_inc.iloc[np.where(~dic_oth_inc['GL_Code_'].isna())].fillna(0)

dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(int)
dic_oth_inc1.GL_Code_ = dic_oth_inc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

OthInc = dic_oth_inc1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OthInc['YTD '+str(Income_curr[21:])] = OthInc['YTD '+str(Income_curr[21:])]*-1

OthInc1 = OthInc.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [16]:
appendnew = pd.concat([newdf, UndwrTkfl1, IncIslBiz1, OthInc1] )

appendnew.set_index('Class', inplace=True)

la = appendnew.T
la['Net Income'] = la['Net Interest Income'] + la['Underwriting/Takaful results'] + la['Income from Islamic business'] + la['Other income']

la1 = la.T
newdf1 =la1.reset_index()

In [17]:
#----------------------------------------------Overhead expenses-------------------------------------------------------------

dic_ovh_exp1 = dic_ovh_exp.iloc[np.where(~dic_ovh_exp['GL_Code_'].isna())].fillna(0)

dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(int)
dic_ovh_exp1.GL_Code_ = dic_ovh_exp1.GL_Code_.astype(str)

dic_ovh_exp1 = dic_ovh_exp1.drop_duplicates('GL_Code_', keep='last')

OvhExp = dic_ovh_exp1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

OvhExp['YTD '+str(Income_curr[21:])] = OvhExp['YTD '+str(Income_curr[21:])]*-1

OvhExp1 = OvhExp.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [18]:
appendnew1 = pd.concat([newdf1, OvhExp1] )

appendnew1.set_index('Class', inplace=True)

laa = appendnew1.T
laa['Operating profit/loss'] = laa['Net Income'] + laa['Overhead expenses']

laa1 = laa.T
newdf2 =laa1.reset_index()

In [19]:
#----------------------------------------------Allowances for losses on loans & financing -------------------------------------------------------------

dic_allw_laf1 = dic_allw_laf.iloc[np.where(~dic_allw_laf['GL_Code_'].isna())].fillna(0)

dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(int)
dic_allw_laf1.GL_Code_ = dic_allw_laf1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwLaf = dic_allw_laf1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwLaf['YTD '+str(Income_curr[21:])] = AllwLaf['YTD '+str(Income_curr[21:])]*-1

AllwLaf1 = AllwLaf.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [20]:
#----------------------------------------------Allowance for diminution in value of investment in subsidiaries  -------------------------------------------------------------

dic_allw_dim1 = dic_allw_dim.iloc[np.where(~dic_allw_dim['GL_Code_'].isna())].fillna(0)

dic_allw_dim1.GL_Code_ = dic_allw_dim1.GL_Code_.astype(int)
dic_allw_dim1.GL_Code_ = dic_allw_dim1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwDim = dic_allw_dim1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwDim['YTD '+str(Income_curr[21:])] = AllwDim['YTD '+str(Income_curr[21:])]*-1

AllwDim1 = AllwDim.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [21]:
#----------------------------------------------Allowance for commitments and contingencies  -------------------------------------------------------------

dic_allw_cnc1 = dic_allw_cnc.iloc[np.where(~dic_allw_cnc['GL_Code_'].isna())].fillna(0)

dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(int)
dic_allw_cnc1.GL_Code_ = dic_allw_cnc1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwCnC = dic_allw_cnc1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwCnC['YTD '+str(Income_curr[21:])] = AllwCnC['YTD '+str(Income_curr[21:])]*-1

AllwCnC1 = AllwCnC.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [22]:
#----------------------------------------------Allowance on investment securities  -------------------------------------------------------------

dic_allw_invsec1 = dic_allw_invsec.iloc[np.where(~dic_allw_invsec['GL_Code_'].isna())].fillna(0)

dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(int)
dic_allw_invsec1.GL_Code_ = dic_allw_invsec1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwInvSec = dic_allw_invsec1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwInvSec['YTD '+str(Income_curr[21:])] = AllwInvSec['YTD '+str(Income_curr[21:])]*-1

AllwInvSec1 = AllwInvSec.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [23]:
#---------------------------------------------General allowance -Sundry debtors-------------------------------------------------------------

dic_allw_sundry1 = dic_allw_sundry.iloc[np.where(~dic_allw_sundry['GL_Code_'].isna())].fillna(0)

dic_allw_sundry1.GL_Code_ = dic_allw_sundry1.GL_Code_.astype(int)
dic_allw_sundry1.GL_Code_ = dic_allw_sundry1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

AllwInvSun = dic_allw_sundry1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

AllwInvSun['YTD '+str(Income_curr[21:])] = AllwInvSun['YTD '+str(Income_curr[21:])]*-1

AllwInvSun1 = AllwInvSun.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [24]:
appendnew2 = pd.concat([newdf2, AllwLaf1, AllwDim1, AllwCnC1, AllwInvSec1, AllwInvSun1] )

appendnew2.set_index('Class', inplace=True)

laaa = appendnew2.T
laaa['Profit/Loss before taxation'] = laaa['Operating profit/loss'] + laaa['Allowances for losses on loans & financing']+ laaa['Allowance for diminution in value of investment in subsidiaries ']+ laaa['Allowance for commitments and contingencies']+ laaa['Allowance on investment securities']+ laaa['General allowance -Sundry debtors']

laaa1 = laaa.T
newdf3 =laaa1.reset_index()

In [25]:
#---------------------------------------------Less: Surplus attributable from Takaful Participants-------------------------------------------------------------

dic_sur_tkfl1 = dic_sur_tkfl.iloc[np.where(~dic_sur_tkfl['GL_Code_'].isna())].fillna(0)

#dic_sur_tkfl1.GL_Code_ = dic_sur_tkfl1.GL_Code_.astype(int)
dic_sur_tkfl1.GL_Code_ = dic_sur_tkfl1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

SurTfkl = dic_sur_tkfl1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

#SurTfkl['YTD '+str(Income_curr[21:])] = SurTfkl['YTD '+str(Income_curr[21:])]*-1

SurTfkl1 = SurTfkl.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [26]:
#---------------------------------------------Taxation-------------------------------------------------------------

tax1 = tax.iloc[np.where(~tax['GL_Code_'].isna())].fillna(0)

tax1.GL_Code_ = tax1.GL_Code_.astype(int)
tax1.GL_Code_ = tax1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

TAXX = tax1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

TAXX['YTD '+str(Income_curr[21:])] = TAXX['YTD '+str(Income_curr[21:])]*-1

#dividen expense
TAXX = TAXX.iloc[np.where(TAXX.GL_Code_!="530001")]

TAXX1 = TAXX.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [27]:
appendnew3 = pd.concat([newdf3, SurTfkl1, TAXX1] )

appendnew3.set_index('Class', inplace=True)

laaaa = appendnew3.T
laaaa['Net Profit/Loss fo the year'] = laaaa['Profit/Loss before taxation'] + laaaa['Less: Surplus attributable from Takaful Participants']+\
laaaa['Taxation']+ laaaa['Zakat']

laaaa1 = laaaa.T
newdf4 =laaaa1.reset_index()

In [28]:
#writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\06. Management Account\\Income Statement '+str(Income_curr[21:])+' (python).xlsx',engine='xlsxwriter')

#newdf4.to_excel(writer2, sheet_name='Profit Loss', index = False)

#writer2._save()

In [ ]:
newdf4

In [ ]:
#---------------------------------------------Conventional-------------------------------------------------------------

conv1 = conv.iloc[np.where(~conv['GL_Code_'].isna())].fillna(0)

conv1.GL_Code_ = conv1.GL_Code_.astype(int)
conv1.GL_Code_ = conv1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

CONVV = conv1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

#CONVV['YTD '+str(Income_curr[21:])] = CONVV['YTD '+str(Income_curr[21:])]*-1

CONVV = CONVV.iloc[np.where(~CONVV.GL_Code_.isin(["530001","4420709",
"4420712","4420710",
"4420713",
"4420719",
"4420726",
"4420730",
"4420725"]))]

CONVV1 = CONVV.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [ ]:
#---------------------------------------------Islamic-------------------------------------------------------------

isl1 = isl.iloc[np.where(~isl['GL_Code_'].isna())].fillna(0)

isl1.GL_Code_ = isl1.GL_Code_.astype(int)
isl1.GL_Code_ = isl1.GL_Code_.astype(str)

#dic_inc_isl_biz1 = dic_inc_isl_biz1.drop_duplicates('GL_Code_', keep='first')

ISLL = isl1.merge(Income_curr_raw1[['GL_Code_','YTD '+str(Income_curr[21:])]],on=['GL_Code_'],how='left').fillna(0)

#ISLL['YTD '+str(Income_curr[21:])] = ISLL['YTD '+str(Income_curr[21:])]*-1

ISLL = ISLL.iloc[np.where(~ISLL.GL_Code_.isin(["530001","4420709",
"4420712","4420710",
"4420713",
"4420719",
"4420726",
"4420730",
"4420725"]))]

ISLL1 = ISLL.fillna(0).groupby(['Class'])[['YTD '+str(Income_curr[21:])]].sum().reset_index() #,'Business_Unit

In [ ]:
ISLL1

In [ ]:
CONVV1

In [ ]:
#===========================islamic

#1. OpDec.Business_Category == Islamic
#2. Income derived from Islamic Banking fund is GL_Description_2 == Banking + Other Income
#3. Financing cost is IncIslBiz == Financing cost
#4. sum of 1 2 3 is Net income from islamic banking fund

In [30]:
test = OpRev.groupby(['Business_Category'])[['YTD Apr 2024']].sum().reset_index()

In [31]:
test

  Business_Category  YTD Apr 2024
0      Conventional      4.96e+07
1           Islamic      4.10e+07
2           Takaful      4.99e+05

In [33]:
test2 = IncIslBiz.iloc[np.where(IncIslBiz.GL_Description_2.isin(['Banking','Other Income']))].groupby(['GL_Description_2'])[['YTD Apr 2024']].sum().reset_index()

In [34]:
test2

  GL_Description_2  YTD Apr 2024
0          Banking      3.90e+07
1     Other Income      1.95e+07

In [35]:
sum(test2['YTD Apr 2024'])

58499732.06

In [37]:
IncIslBiz.GL_Description_2.value_counts()

GL_Description_2
Other Income                                           27
Financing cost                                         16
Banking                                                14
Wakalah fee                                             5
Takaful fees                                            5
Gain/Loss on Sukuk designated FVTPL                     3
Movement in expense liabilities                         1
Gain/Loss on financial instruments designated FVTPL     1
Name: count, dtype: int64

In [38]:
test3 = IncIslBiz.iloc[np.where(IncIslBiz.GL_Description_2.isin(['Financing cost']))].groupby(['GL_Description_2'])[['YTD Apr 2024']].sum().reset_index()

In [39]:
test3

  GL_Description_2  YTD Apr 2024
0   Financing cost     -3.60e+07

In [52]:
OpRev_1 = OpRev[['GL_Description','GL_Code_','GL_Category','Business_Category','Business_Unit','Class','YTD '+str(Income_curr[21:])]]

IncIslBiz_1 = IncIslBiz.rename(columns={'GL_Description_2':'Business_Unit'})[['GL_Description','GL_Code_','GL_Category','Business_Unit','Class','YTD '+str(Income_curr[21:])]]

In [53]:
IncIslBiz_1['Business_Category'] = 'na'
IncIslBiz_1.loc[IncIslBiz_1.Business_Unit.isin(['Banking','Other Income','Financing cost']), 'Business_Category'] = 'Islamic'

In [54]:
print(IncIslBiz_1.shape)
print(OpRev_1.shape)

(72, 7)
(154, 7)

In [79]:
IncIslBiz_1 = IncIslBiz_1[['GL_Description','GL_Code_','GL_Category','Business_Category','Business_Unit','Class','YTD '+str(Income_curr[21:])]]

testR = pd.concat([OpRev_1, IncIslBiz_1])

In [80]:
testR_1 = testR.groupby(['Class','Business_Category'])[['YTD Apr 2024']].sum().reset_index()

In [81]:
#testR.loc[(testR.Business_Unit.isin(['Other Income','Financing cost']))&(testR.Business_Category!=['Islamic','na']), 'Class'] = 'Net income from Islamic banking fund'
#testR_1.loc[(testR_1.Business_Unit.isin(['Other Income','Financing cost']))&(testR_1.BUsiness_Category!=['Islamic','na']), 'YTD '+str(Income_curr[21:])] = testR_1['YTD '+str(Income_curr[21:])]

In [82]:
testR_1

                          Class Business_Category  YTD Apr 2024
0  Income from Islamic business           Islamic      2.25e+07
1  Income from Islamic business                na      4.20e+05
2             Operating Revenue      Conventional      4.96e+07
3             Operating Revenue           Islamic      4.10e+07
4             Operating Revenue           Takaful      4.99e+05

In [83]:
#testR_1.loc[testR_1.index[5, 'Class'] = 'Net income from Islamic banking fund'
testR_1.loc[5] = testR_1.loc[0].rename

In [84]:
testR_1

                          Class Business_Category  YTD Apr 2024
0  Income from Islamic business           Islamic      2.25e+07
1  Income from Islamic business                na      4.20e+05
2             Operating Revenue      Conventional      4.96e+07
3             Operating Revenue           Islamic      4.10e+07
4             Operating Revenue           Takaful      4.99e+05
5  Income from Islamic business           Islamic      2.25e+07

In [34]:
OpRev.Business_Category.value_counts()

Business_Category
Conventional    86
Islamic         40
Takaful         28
Name: count, dtype: int64

In [37]:
IncIslBiz.GL_Description_2.value_counts()

GL_Description_2
Other Income                                           27
Financing cost                                         16
Banking                                                14
Wakalah fee                                             5
Takaful fees                                            5
Gain/Loss on Sukuk designated FVTPL                     3
Movement in expense liabilities                         1
Gain/Loss on financial instruments designated FVTPL     1
Name: count, dtype: int64