# BY INFOCUBE

In [1]:
date = 20220630

import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [2]:
HP  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\06_AITAB\\"+str(date)+"\infocube_06_aitab"+str(date)+".txt", sep = ",", header = 0, low_memory = False)
HP.columns = HP.columns.str.replace(" ", "_")
HP.ACCOUNT_NO = HP.ACCOUNT_NO.astype(str)

In [9]:
HP_Auto = HP.iloc[np.where(HP.PRODUCT_HIERARCHY_CD.isin(['N2','N4']))][['ACCOUNT_NO','CUS_NO','AA_NUMBER','BNM_BALANCE',\
                                                                       'SOURCE_PROD_TYPE_CD','PRODUCT_HIERARCHY_CD','SOURCE_PROD_TYPE_DSC']]

In [15]:
HP_Auto1 = HP_Auto.fillna(0).groupby(['PRODUCT_HIERARCHY_CD','SOURCE_PROD_TYPE_DSC'])[['BNM_BALANCE']].sum().reset_index()

In [16]:
HP_Auto1

  PRODUCT_HIERARCHY_CD SOURCE_PROD_TYPE_DSC  BNM_BALANCE
0                   N2    ISLAMIC DIRECT HP  34479795322
1                   N4   ISLAMIC BLANKET HP    238341211

# BY OFSA

In [18]:
RATE_1 = 20220630

#HP
location_HP = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\09_MIB_HP\\"+str(RATE_1)+"\MIB_HP"+str(RATE_1)+".txt"
HP = pd.read_csv(location_HP, sep = "\t", header = 0)
HP.columns = HP.columns.str.replace(" ", "_")
HP.Account_No = HP.Account_No.astype(str)
HP['Account_No'] = HP.Account_No.str[:20]

#HPFS
location_HPFS = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\09_MIB_HP\\"+str(RATE_1)+"\MIB_HPFS"+str(RATE_1)+".txt"
HPFS = pd.read_csv(location_HPFS, sep = "\t", header = 0)
HPFS.columns = HPFS.columns.str.replace(" ", "_")
HPFS.Account_No = HPFS.Account_No.astype(str)
HPFS['Account_No'] = HPFS.Account_No.str[:20]

#HPBD
location_HPBD = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\09_MIB_HP\\"+str(RATE_1)+"\MIB_HPBD"+str(RATE_1)+".txt"
HPBD = pd.read_csv(location_HPBD, sep = "\t", header = 0)
HPBD.columns = HPBD.columns.str.replace(" ", "_")
HPBD.Account_No = HPBD.Account_No.astype(str)
HPBD['Account_No'] = HPBD.Account_No.str[:20]

#HPS Applicant
location_applicant = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\09_MIB_HP\\"+str(RATE_1)+"\LOS_HPS_APPLICANT_DETAILS"+str(RATE_1)+".txt"
applicant = pd.read_csv(location_applicant,sep = "\t", header = 0)
applicant.columns = applicant.columns.str.replace(" ", "_")

#HPS Application
location_application = r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\09_MIB_HP\\"+str(RATE_1)+"\LOS_HPS_APPLICATION_DETAILS"+str(RATE_1)+".txt"
application = pd.read_csv(location_application,sep = "\t", header = 0)
application.columns = application.columns.str.replace(" ", "_")

In [30]:
HP1 = HP.iloc[np.where(HP.Product_Hierarchy_Cd.isin(['N2','N4']))][['Account_No','Cus_No','Product_Hierarchy_Cd','Bnm_Balance']]
HPBD1 = HPBD.iloc[np.where(HPBD.Product_Hierarchy_Cd.isin(['N2','N4']))][['Account_No','Cus_No','Product_Hierarchy_Cd','Bnm_Balance']]
HPFS1 = HPFS.iloc[np.where(HPFS.Product_Hierarchy_Cd.isin(['N2','N4']))][['Account_No','Cus_No','Product_Hierarchy_Cd','Bnm_Balance']]

In [33]:
HP_1 = pd.concat([HP1, HPBD1, HPFS1])

In [35]:
HP_2 = HP_1.fillna(0).groupby(['Product_Hierarchy_Cd'])[['Bnm_Balance']].sum().reset_index()

In [36]:
HP_2

  Product_Hierarchy_Cd  Bnm_Balance
0                   N2  34479795322
1                   N4    238341211

# BY FRAN

In [2]:
FRAN  = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\99_Adhoc\Syahid\Auto FRAN 20220630.txt", sep = "\t", header = 0, low_memory = False)
FRAN.columns = FRAN.columns.str.replace(" ", "_")
FRAN.columns = FRAN.columns.str.upper()

In [17]:
FRAN1.head(1)

,AS_OF_DATE,AVG_BOOK_BAL_SUM,BRANCH_CODE,COMMON_COA_ID,CREDIT_RATING_CD,CREDIT_STATUS_CD,GL_ACCOUNT_ID,ORG_UNIT_ID,RECORD_COUNT,AA_NUMBER,ACCOUNT_NO,ACCT_STATUS_CD,BNM_BALANCE_SUM,CUS_NO,DATE_SHORTFALL,DATE_REPOSSESSED,FINANCING_TYPE_CD,FULL_WRITEOFF_FLG,GOODS_TYPE,MTHS_INSTALLMENT_IN_ARREARS,NEW_SHORTFALL_FLG,NEW_REPOSSESSED_FLG,NEW_NPL_FLG,NPL_FLG,NPL_DATE,ODI_OUTSTANDING_SUM,RISK_WEIGHTAGE_SUM,RISK_WEIGHTED_AMT_SUM,SHORTFALL_FLG,SOURCE_PROD_TYPE_CD,GOODS_STATUS,LEDGER_BAL_SUM,FINANCING_CONCEPT,M_SUB_MARKET_SEGMENT_CD,PRODUCT_HIERARCHY_CD
163,30-JUN-2022,1168.35,8707,12000,0,0,120100113111,31317,1,887072009P326,788707131148,1,1168,10219566,01-JAN-1900,01-JAN-1900,C,N,2.0,0,N,N,N,N,01-JAN-1900,269.67,0.0,0.0,N,N1,N,1168.35,0.0,3.0,N1

In [43]:
FRAN1 = FRAN.iloc[np.where((FRAN.LEDGER_BAL_SUM>=0)&\
                           ~(FRAN.ACCT_STATUS_CD.isin([3,41]))&\
                           (FRAN.FULL_WRITEOFF_FLG=='N')&\
                           ~(FRAN.BRANCH_CODE.isin([8703,8734,8735,9703,9734,9735,8760,9760]))&\
                           (FRAN.RECORD_COUNT==1))]

In [54]:
FRAN1.loc[FRAN1.SHORTFALL_FLG=='Y','ageing_range'] ='h:Shortfall'
FRAN1.loc[~(FRAN1.DATE_REPOSSESSED.isnull())|~(FRAN1.DATE_REPOSSESSED=='01-JAN-1900'),'ageing_range'] ='g:Repossessed'
FRAN1.loc[FRAN1.MTHS_INSTALLMENT_IN_ARREARS==0,'ageing_range'] ='Prompt'
FRAN1.loc[FRAN1.MTHS_INSTALLMENT_IN_ARREARS==1,'ageing_range'] ='1 mia'
FRAN1.loc[FRAN1.MTHS_INSTALLMENT_IN_ARREARS==2,'ageing_range'] ='2 mia'
FRAN1.loc[FRAN1.MTHS_INSTALLMENT_IN_ARREARS==3,'ageing_range'] ='3 mia'
FRAN1.loc[(FRAN1.MTHS_INSTALLMENT_IN_ARREARS>=4)&(FRAN1.MTHS_INSTALLMENT_IN_ARREARS<=6),'ageing_range'] = '4-6 mths'
FRAN1.loc[(FRAN1.MTHS_INSTALLMENT_IN_ARREARS>6),'ageing_range'] ='7 & Abv Mths'

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [55]:
N2 = FRAN1.iloc[np.where(FRAN1.PRODUCT_HIERARCHY_CD.isin(['N2']))]
N4 = FRAN1.iloc[np.where(FRAN1.PRODUCT_HIERARCHY_CD.isin(['N4']))]
N2['NOA'] = 1
N4['NOA'] = 1

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [56]:
N2_1 = N2.groupby(['ageing_range'])[['NOA','ODI_OUTSTANDING_SUM','BNM_BALANCE_SUM']].sum().reset_index()
N4_1 = N4.groupby(['ageing_range'])[['NOA','ODI_OUTSTANDING_SUM','BNM_BALANCE_SUM']].sum().reset_index()

In [57]:
N4_1

  ageing_range   NOA  ODI_OUTSTANDING_SUM  BNM_BALANCE_SUM
0        1 mia   117              1416.43         17972158
1        2 mia    94              7957.66          6673086
2       Prompt  2204              5266.54        213695967

In [58]:
N2_1

   ageing_range     NOA  ODI_OUTSTANDING_SUM  BNM_BALANCE_SUM
0         1 mia   77135            435091.77       3239562152
1         2 mia   21511            329795.76        763464642
2         3 mia    5409            155725.59        170480405
3      4-6 mths    1044             40956.89         24377523
4  7 & Abv Mths    2332            292899.02         63343000
5        Prompt  644766            762832.65      30218567600

D:\anaconda3\lib\site-packages\pandas\core\indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
D:\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [43]:
FRAN1.iloc[np.where(FRAN1.ageing_range=='h:Shortfall')]

,AS_OF_DATE,BRANCH_CODE,CREDIT_RATING_CD,GL_ACCOUNT_ID,INTEREST_RATE_CD,ID_NUMBER,AA_NUMBER,ACCOUNT_NO,ACCT_STATUS_CD,BNM_BALANCE_SUM,FULL_WRITEOFF_FLG,FINANCING_TYPE_CD,RISK_WEIGHTAGE_SUM,RISK_WEIGHTED_AMT_SUM,SHORTFALL_FLG,SOURCE_PROD_TYPE_CD,CREDIT_STATUS_CD,FINANCING_CONCEPT,PRODUCT_HIERARCHY_CD,M_CUSTOMER_SEGMENT_CD,M_SUB_MARKET_SEGMENT_CD,GOODS_STATUS,M_ENTITY_CD,INSTALLMENT_IN_ARREARS_SUM,CUS_NO,COMMON_COA_ID,AVG_BOOK_BAL_SUM,GOODS_TYPE,MTHS_INSTALLMENT_IN_ARREARS,ageing_range
14298,31-JUL-2022,9834,0,120103113111,0,7898345585681,898342019P1251,789834558568,38,55061,N,I,100.0,0.0,Y,N2,0,0.0,N2,4.0,3,U,MIB,0.0,16125611,12000,55061.08,2.0,0,h:Shortfall
15051,31-JUL-2022,9841,0,120103113111,0,7898412757221,898412017P5420,789841275722,38,65347,N,I,100.0,0.0,Y,N2,0,0.0,N2,4.0,3,R,MIB,0.0,2726097,12000,65347.48,2.0,0,h:Shortfall
15391,31-JUL-2022,9843,0,120103113111,0,7898431987931,898432013P2585,789843198793,38,50531,N,I,100.0,0.0,Y,N2,0,0.0,N2,4.0,3,R,MIB,49615.0,10774413,12000,50531.28,2.0,0,h:Shortfall

In [40]:
a = FRAN1.groupby(['ageing_range','PRODUCT_HIERARCHY_CD'])[['BNM_BALANCE_SUM']].sum().reset_index()

In [41]:
a

  ageing_range PRODUCT_HIERARCHY_CD  BNM_BALANCE_SUM
0  h:Shortfall                   N2           170939

In [41]:
N4.FINANCING_TYPE_CD.value_counts()

I    2415
Name: FINANCING_TYPE_CD, dtype: int64

In [30]:
FRAN1.FINANCING_CONCEPT.dtypes

dtype('float64')