In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [5]:
CB_jun = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - jun 22.xlsx", sheet_name='Nawar Jun Listing')

CB_dec = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - jun 22.xlsx", sheet_name='Nawar Dec Listing')

In [10]:
CB_jun.columns = CB_jun.columns.str.upper()
CB_jun.columns = CB_jun.columns.str.replace(" ", "_")

CB_dec.columns = CB_dec.columns.str.upper()
CB_dec.columns = CB_dec.columns.str.replace(" ", "_")

In [7]:
CB_rating_jun = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - jun 22.xlsx", sheet_name='CB - base')

CB_rating_dec = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - dec 21.xlsx", sheet_name='CB - base')

In [17]:
CB_jun.M_CUS_NO = CB_jun.M_CUS_NO.astype(str)
CB_jun.M_CUS_NO = CB_jun.M_CUS_NO.str.strip()
CB_jun.M_CUS_NO = CB_jun.M_CUS_NO.str.upper()

CB_rating_jun.M_CUS_NO = CB_rating_jun.M_CUS_NO.astype(str)
CB_rating_jun.M_CUS_NO = CB_rating_jun.M_CUS_NO.str.strip()
CB_rating_jun.M_CUS_NO = CB_rating_jun.M_CUS_NO.str.upper()

jun = CB_jun.merge(CB_rating_jun[['M_CUS_NO','SECTOR_DESC','FINAL_RATING','RAM']],on='M_CUS_NO',how='left')

In [19]:
jun.RAM.fillna('Unrated',inplace=True)

In [20]:
jun.RAM.value_counts()

Unrated    4970
A           141
BBB          99
AA           44
BB           38
D            10
C             7
AAA           3
B             2
Name: RAM, dtype: int64

In [13]:
CB_jun.head(1)

,M_CUS_NO,NAME,M_MSIC_CODE,TOTAL,RPSIA,OS_AFTER_RPSIA
0,23549043,LEMBAGA PEMBIAYAAN PERUMAHAN SEKTOR AWAM,64999,1.02e+10,8.40e+09,1.80e+09

In [16]:
CB_rating_jun.head(1)

,M_CUS_NO,NAME,BNM_SECTOR_CD,SECTOR_DESC,SECTOR_PARENT,SEGMENT,RDMS,CUSTOMER_FIELD19,PSE/SOV,CRRS,3RD_PARTY_PARENT,3RD_PARTY,FINAL_RATING,M_FINANCING_TYPE_CD,M_BNM_BALANCE_SUM,_merge,RAM
0,23549043,LEMBAGA PEMBIAYAAN PERUMAHAN SEKTOR AWAM,64999,"OTHER FINANCIAL SERVICE ACTIVITIES, EXCEPT INSURANCE/TAKAFUL AND PENSION FUNDING N.E.C.",11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,2,PSE(FIRB),NaN,2,N,NaN,2,I,1.02e+10,both,AAA

In [ ]:
writer2 = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - jun 22 (exclude RPSIA).xlsx',engine='xlsxwriter')
CB_RPSIA.to_excel(writer2,sheet_name='CB - RPSIA' ,index = False)
CB_1.to_excel(writer2,sheet_name='CB - base' ,index = False)
CB_2.to_excel(writer2,sheet_name='CB' ,index = False)
TOTAL_IMPAIRED_FINAL4.to_excel(writer2,sheet_name='CB IF' ,index = False)
TOTAL_IMPAIRED_FINAL3.to_excel(writer2,sheet_name='CB IF - base' ,index = False)
IF_RPSIA.to_excel(writer2,sheet_name='CB IF - RPSIA' ,index = False)
writer2.save()