In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan


#sheet_name='SourceCM'
#sheet_name = 'cb os by mkt seg 2'

#import
date = "Sep'22"
date2='20220930'
sheet_name = 'SourceCM'

#export
date1='2022-09'


FXCurrency = pd.read_excel(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\01_Corporate_Financing\01_Portfolio\\'+date2+'\GB Monthly Loan Outstanding '+date+'.xlsx', sheet_name = 'SourceCM')


description = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\Python\User defined\description.xlsx", sheet_name='description')

In [4]:
FXCurrency.columns = FXCurrency.columns.str.upper()
FXCurrency.columns = FXCurrency.columns.str.strip()
FXCurrency.columns = FXCurrency.columns.str.replace(" ", "_")

#FXCurrency.M_FINANCING_TYPE_CD = FXCurrency.M_FINANCING_TYPE_CD.str.upper()
#FXCurrency.M_FINANCING_TYPE_CD = FXCurrency.M_FINANCING_TYPE_CD.str.strip()

#FXCurrency.ISO_CURRENCY_CD = FXCurrency.ISO_CURRENCY_CD.str.upper()
#FXCurrency.ISO_CURRENCY_CD = FXCurrency.ISO_CURRENCY_CD.str.strip()

#FXCurrency.COMMON_COA_ID = FXCurrency.COMMON_COA_ID.astype(int)

FXCurrencya = FXCurrency.iloc[np.where((FXCurrency.COMMON_COA_ID==12000)&(FXCurrency.M_FINANCING_TYPE_CD=='I')&(FXCurrency.ISO_CURRENCY_CD !='MYR'))]

FXCurrency1 = FXCurrencya[['M_CUS_NO','NAME','CB_GROUP_NAME','ISO_CURRENCY_CD','FACILITY_2','CUR_BOOK_BAL_SUM','M_BNM_BALANCE_SUM']]

FXCurrency2 = FXCurrency1.groupby(['M_CUS_NO','NAME','CB_GROUP_NAME','ISO_CURRENCY_CD','FACILITY_2'])[['CUR_BOOK_BAL_SUM','M_BNM_BALANCE_SUM']].sum().reset_index()

FXCurrency2.sort_values(by=['M_BNM_BALANCE_SUM'],ascending=[False],inplace=True)

FXCurrency2['FX'] = FXCurrency2['M_BNM_BALANCE_SUM']/FXCurrency2['CUR_BOOK_BAL_SUM']

FCY = FXCurrency2.merge(FXCurrencya[['M_CUS_NO','M_NEW_ID_NUMBER','M_MSIC_CODE']].drop_duplicates('M_CUS_NO'), on='M_CUS_NO', how='left')

FCY['ACOUNT_CLASSIFICATION'] = 'NA'
FCY['BRR'] = 'NA'


FCY.M_MSIC_CODE = FCY.M_MSIC_CODE.map(str)
FCY.M_MSIC_CODE = FCY.M_MSIC_CODE.str.strip()
FCY.M_MSIC_CODE = FCY.M_MSIC_CODE.str.upper()


description.columns = description.columns.str.strip()
description.columns = description.columns.str.replace(" ", "_")
description.columns = description.columns.str.upper()


description.ISC_NOB = description.ISC_NOB.map(str)
description.ISC_NOB = description.ISC_NOB.str.strip()
description.ISC_NOB = description.ISC_NOB.str.upper()


FCYb = FCY.merge(description[['ISC_NOB','ISC_PARENT2','INDUSTRIAL_SECTOR_CODE_(ISC_DESC)2']].drop_duplicates().rename(columns = {'ISC_NOB':'M_MSIC_CODE'}), on='M_MSIC_CODE', how='left')


FCYa = FCYb.rename(columns={'M_CUS_NO':'GCIF_NO',\
                          'M_NEW_ID_NUMBER':'BRIC',\
                          'NAME':'CUSTOMER_NAME',\
                          'CB_GROUP_NAME':'CUSTOMER_GROUP',\
                          'ISO_CURRENCY_CD':'FINANCING_CURRENCY',\
                          'CUR_BOOK_BAL_SUM':'FCY',\
                          'M_BNM_BALANCE_SUM':'RM',\
                          'FACILITY_2':'FINANCING_TYPE',\
                          'M_MSIC_CODE':'INDUSTRIAL_SECTOR_CODE',\
                          'ISC_PARENT2':'INDUSTRIAL_SECTOR',\
                          'INDUSTRIAL_SECTOR_CODE_(ISC_DESC)2':'INDUSTRIAL_SECTOR_DESCRIPTION'})


FCY1 = FCYa[['GCIF_NO','BRIC','CUSTOMER_NAME','CUSTOMER_GROUP','FINANCING_CURRENCY','FCY','RM','FX','ACOUNT_CLASSIFICATION','FINANCING_TYPE','INDUSTRIAL_SECTOR_CODE','INDUSTRIAL_SECTOR','INDUSTRIAL_SECTOR_DESCRIPTION','BRR']].sort_values(by=['RM','INDUSTRIAL_SECTOR'],ascending=[False,True])


FCY2 = FCY1.sort_values(by=['CUSTOMER_GROUP'],ascending=[False])

In [47]:
FCY2.to_excel(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\06_BNM Request\\'+date1+'\FCY '+date1+'(python).xlsx', sheet_name='FX', index=False)

In [15]:
#FXCurrencya.iloc[np.where(FXCurrencya.NAME.str.contains('SHARJAH'))]

In [16]:
#FCY1.iloc[np.where(FCY1.CUSTOMER_NAME.str.contains('SHARJAH'))]

In [17]:
working = pd.read_excel(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\06_BNM Request\2022-08\FCY 2022-08(python).xlsx')
working.columns = working.columns.str.upper()
working.columns = working.columns.str.replace(" ","_")

In [21]:
test = working.merge(FCY2.rename(columns={'GCIF_NO':'GCIF_NO'}), on='GCIF_NO', how='left', indicator=True)
test._merge.value_counts()

both          70
left_only      1
right_only     0
Name: _merge, dtype: int64

In [22]:
test.iloc[np.where(test._merge=='left_only')]

,GCIF_NO,BRIC_x,CUSTOMER_NAME_x,CUSTOMER_GROUP_x,FINANCING_CURRENCY_x,FCY_x,RM_x,FX_x,ACOUNT_CLASSIFICATION_x,FINANCING_TYPE_x,INDUSTRIAL_SECTOR_CODE_x,INDUSTRIAL_SECTOR_x,INDUSTRIAL_SECTOR_DESCRIPTION_x,BRR_x,BRIC_y,CUSTOMER_NAME_y,CUSTOMER_GROUP_y,FINANCING_CURRENCY_y,FCY_y,RM_y,FX_y,ACOUNT_CLASSIFICATION_y,FINANCING_TYPE_y,INDUSTRIAL_SECTOR_CODE_y,INDUSTRIAL_SECTOR_y,INDUSTRIAL_SECTOR_DESCRIPTION_y,BRR_y,_merge
0,6089413,236761P,ZETRO SERVICES SDN. BHD.,ZETRO,USD,0.0,0.0,NaN,NaN,TB,7110X,"PROFESSIONAL, SCIENTIFIC AND TECHNICAL ACTIVITIES",ARCHITECTURAL AND ENGINEERING ACTIVITIES AND RELATED TECHNICAL CONSULTANCY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [32]:
a = FXCurrency.iloc[np.where(FXCurrency.M_CUS_NO==6089413)]

In [42]:
b = a.iloc[np.where((a.ISO_CURRENCY_CD !='MYR')&(a.M_FINANCING_TYPE_CD=='I'))]#&(a.COMMON_COA_ID==12000)

In [45]:
b.COMMON_COA_ID.value_counts()

22000    12
Name: COMMON_COA_ID, dtype: int64