# Load

In [10]:
# Other Charges Payment (Facility Currency) 
# Other Charges Payment (MYR)
# Profit Payment/Interest Repayment (Facility Currency)
# Profit Payment/Interest Repayment (MYR) 

Location = r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202407\Finance"
File = "Data Mirror Jul 2024"

#control + F + dropdown new to search bar to find and replace 
import pandas as pd
import numpy as np
import xlsxwriter

#warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

Other_payment_conv = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='Oth Chgs Payment Conventional', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'
Other_payment_isl = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='Oth Chgs Payment Islamic', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'
Interest = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='Interest Payment', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'
Profit = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='Profit Payment', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'
PIS = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='PIS Payment', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'
IIS = pd.read_excel(str(Location)+"\\"+str(File)+".xlsx", sheet_name='IIS Payment', header=8) # skiprows = 2, nrows=18,  usecols= 'A:D'

Year = 202408
LDB_prev = pd.read_excel(r"C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\\"+str(Year-1)+"\\Loan Database as Jul 2024 (python) - Final.xlsx", sheet_name='Export Worksheet', header=1) # skiprows = 2, nrows=18,  usecols= 'A:D'

# Process

In [11]:
Other_payment_conv['Type_of_Financing'] = 'Conventional'
Other_payment_isl['Type_of_Financing'] = 'Islamic'

Interest['Type_of_Financing'] = 'Conventional'
Profit['Type_of_Financing'] = 'Islamic'

IIS['Type_of_Financing'] = 'Conventional'
PIS['Type_of_Financing'] = 'Islamic'

In [12]:
Other_payment_isl.columns = Other_payment_isl.columns.str.replace("\n", "_")
Other_payment_isl.columns = Other_payment_isl.columns.str.replace(" ", "_")
Other_payment_isl.columns = Other_payment_isl.columns.str.replace(".", "_")

Other_payment_conv.columns = Other_payment_conv.columns.str.replace("\n", "_")
Other_payment_conv.columns = Other_payment_conv.columns.str.replace(" ", "_")
Other_payment_conv.columns = Other_payment_conv.columns.str.replace(".", "_")

Profit.columns = Profit.columns.str.replace("\n", "_")
Profit.columns = Profit.columns.str.replace(" ", "_")
Profit.columns = Profit.columns.str.replace(".", "_")

Interest.columns = Interest.columns.str.replace("\n", "_")
Interest.columns = Interest.columns.str.replace(" ", "_")
Interest.columns = Interest.columns.str.replace(".", "_")

IIS.columns = IIS.columns.str.replace("\n", "_")
IIS.columns = IIS.columns.str.replace(" ", "_")
IIS.columns = IIS.columns.str.replace(".", "_")

PIS.columns = PIS.columns.str.replace("\n", "_")
PIS.columns = PIS.columns.str.replace(" ", "_")
PIS.columns = PIS.columns.str.replace(".", "_")

In [13]:
#penalty
#IIS.head(1)

In [14]:
#Other_payment_isl.iloc[np.where(Other_payment_isl.Text.str.contains('SJPP'))]

In [15]:
#Other_payment_isl.Text.value_counts() #Tabco Food - Guarantee Fee - SJPP klau SJPP kena zero kn

In [19]:
Other_payment_isl.iloc[np.where(~(Other_payment_isl.Account.isna())&(Other_payment_isl.Text.str.contains("SJPP")))]

Empty DataFrame
Columns: [Unnamed:_0, Unnamed:_1, St, Account, Typ, Assignment, Unnamed:_6, DocumentNo, Doc__Date, S, Pstng_Date, DD, ___Amt_in_loc_cur_, LCurr, ______Amount_in_DC, Curr_, Text, _Eff_ex_rate, Type_of_Financing]
Index: []

In [18]:
IIS.iloc[np.where(~(IIS.Account.isna())&(IIS.Text.str.contains("Penalty")))]

,Unnamed:_0,Unnamed:_1,St,Account,Typ,Assignment,Unnamed:_6,DocumentNo,Doc__Date,S,Pstng_Date,DD,___Amt_in_loc_cur_,LCurr,______Amount_in_DC,Curr_,Text,_Eff_ex_rate,Type_of_Financing
1,NaN,NaN,NaN,500555.0,DZ,NaN,NaN,1.40e+09,22.07.2024,V,22.07.2024,NaN,-1910.94,MYR,-1910.94,MYR,Solartif - Penalty Charges,1.0,Conventional

In [7]:
#IIS.Text.value_counts()

#if any
IIS.loc[IIS.Text=="Solartif - Penalty Charges","Ta`widh Payment/Penalty Repayment (Facility Currency)"] = IIS['______Amount_in_DC']
IIS.loc[IIS.Text=="Solartif - Penalty Charges","Ta`widh Payment/Penalty Repayment (MYR)"] = IIS['___Amt_in_loc_cur_']

IIS.loc[IIS.Text=="Solartif - Penalty Charges","______Amount_in_DC"] = 0
IIS.loc[IIS.Text=="Solartif - Penalty Charges","___Amt_in_loc_cur_"] = 0


#Other_payment_isl.Text.value_counts()

#Other_payment_isl.iloc[np.where(Other_payment_isl.Text=="Tabco Food - Guarantee Fee - SJPP")]

#SJPP
#Other_payment_isl.loc[Other_payment_isl.Text=="Tabco Food - Guarantee Fee - SJPP","______Amount_in_DC"] = 0
#Other_payment_isl.loc[Other_payment_isl.Text=="Tabco Food - Guarantee Fee - SJPP","___Amt_in_loc_cur_"] = 0

In [9]:
Other_payment_conv1 = Other_payment_conv.iloc[np.where(~(Other_payment_conv.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()
Other_payment_conv1['___Amt_in_loc_cur_'] = -1*Other_payment_conv1['___Amt_in_loc_cur_']
Other_payment_conv1['______Amount_in_DC'] = -1*Other_payment_conv1['______Amount_in_DC']
Other_payment_conv1['Account'] = Other_payment_conv1['Account'].astype(int)

Other_payment_isl1 = Other_payment_isl.iloc[np.where(~(Other_payment_isl.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()
Other_payment_isl1['___Amt_in_loc_cur_'] = -1*Other_payment_isl1['___Amt_in_loc_cur_']
Other_payment_isl1['______Amount_in_DC'] = -1*Other_payment_isl1['______Amount_in_DC']
Other_payment_isl1['Account'] = Other_payment_isl1['Account'].astype(int)

Profit1 = Profit.iloc[np.where(~(Profit.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()
Profit1['___Amt_in_loc_cur_'] = -1*Profit1['___Amt_in_loc_cur_']
Profit1['______Amount_in_DC'] = -1*Profit1['______Amount_in_DC']
Profit1['Account'] = Profit1['Account'].astype(int)

Interest1 = Interest.iloc[np.where(~(Interest.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()
Interest1['___Amt_in_loc_cur_'] = -1*Interest1['___Amt_in_loc_cur_']
Interest1['______Amount_in_DC'] = -1*Interest1['______Amount_in_DC']
Interest1['Account'] = Interest1['Account'].astype(int)


IIS1 = IIS.iloc[np.where(~(IIS.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC',
"Ta`widh Payment/Penalty Repayment (Facility Currency)",
"Ta`widh Payment/Penalty Repayment (MYR)"]].sum().reset_index()

IIS1['___Amt_in_loc_cur_'] = -1*IIS1['___Amt_in_loc_cur_']
IIS1['______Amount_in_DC'] = -1*IIS1['______Amount_in_DC']
IIS1['Ta`widh Payment/Penalty Repayment (MYR)'] = -1*IIS1['Ta`widh Payment/Penalty Repayment (MYR)']
IIS1['Ta`widh Payment/Penalty Repayment (Facility Currency)'] = -1*IIS1['Ta`widh Payment/Penalty Repayment (Facility Currency)']
IIS1['Account'] = IIS1['Account'].astype(int)

PIS1 = PIS.iloc[np.where(~(PIS.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()
PIS1['___Amt_in_loc_cur_'] = -1*PIS1['___Amt_in_loc_cur_']
PIS1['______Amount_in_DC'] = -1*PIS1['______Amount_in_DC']
PIS1['Account'] = PIS1['Account'].astype(int)

C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\723044310.py:11: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Profit1 = Profit.iloc[np.where(~(Profit.Account.isna()))].fillna(0).groupby(['Account','Type_of_Financing'])[['___Amt_in_loc_cur_','______Amount_in_DC']].sum().reset_index()

In [10]:
Interest1['Ta`widh Payment/Penalty Repayment (MYR)'] = 0
Interest1['Ta`widh Payment/Penalty Repayment (Facility Currency)'] = 0
Profit1['Ta`widh Payment/Penalty Repayment (MYR)'] = 0
Profit1['Ta`widh Payment/Penalty Repayment (Facility Currency)'] = 0
PIS1['Ta`widh Payment/Penalty Repayment (MYR)'] = 0
PIS1['Ta`widh Payment/Penalty Repayment (Facility Currency)'] = 0

In [11]:
merge = pd.concat([Other_payment_conv1,Other_payment_isl1]).fillna(0).rename(columns={'___Amt_in_loc_cur_':'Other_Charges_Payment_MYR','______Amount_in_DC':'Other_Charges_Payment_FC'})

merge1 = pd.concat([Interest1,IIS1,Profit1,PIS1]).fillna(0).rename(columns={'___Amt_in_loc_cur_':'Profit_Payment_Interest_Repayment_MYR','______Amount_in_DC':'Profit_Payment_Interest_Repayment_FC'})

#merge2 = pd.concat([]).fillna(0).rename(columns={'___Amt_in_loc_cur_':'Income_Interest_in_Suspense_MYR','______Amount_in_DC':'Income_Interest_in_Suspense_FC'})

C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\3762621756.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merge1 = pd.concat([Interest1,IIS1,Profit1,PIS1]).fillna(0).rename(columns={'___Amt_in_loc_cur_':'Profit_Payment_Interest_Repayment_MYR','______Amount_in_DC':'Profit_Payment_Interest_Repayment_FC'})
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\3762621756.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merge1 = pd.concat([Interest1,IIS1,Profit1,PIS1]).fillna(0).rename(columns={'___Amt_in_loc_cur_':'Profit_Payment_Interest_Repayment_MYR','______Amount_in_DC':'Profit_Payment_Interest_Repayment_FC'})

In [12]:
#LDB_prev.tail(1)

In [13]:
#LDB_prev['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'].value_counts()

In [14]:
merge['Account'] = merge['Account'].astype(str)
merge1['Account'] = merge1['Account'].astype(str)

LDB_prev['Finance(SAP) Number'] = LDB_prev['Finance(SAP) Number'].astype(str)

LDB_prev.columns = LDB_prev.columns.str.replace("\n", "")

LDB_prev['Cumulative Profit Payment/Interest Repayment (Facility Currency)'].fillna(0,inplace=True)
LDB_prev['Cumulative Profit Payment/Interest Repayment (MYR)'].fillna(0,inplace=True)
LDB_prev['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
LDB_prev['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'].fillna(0,inplace=True)
LDB_prev['Cumulative Other Charges Payment (Facility Currency)'].fillna(0,inplace=True)
LDB_prev['Cumulative Other Charges Payment (MYR)'].fillna(0,inplace=True)

merge_ldb = merge.merge(LDB_prev[['Finance(SAP) Number','EXIM Account No.','CIF Number',
                                              'Facility Currency',
                                              'Cumulative Other Charges Payment (Facility Currency)',
                                              'Cumulative Other Charges Payment (MYR)']].drop_duplicates('Finance(SAP) Number',keep='first').rename(columns={'Finance(SAP) Number':'Account'}),on=['Account'],how='outer', suffixes=('_x', ''),indicator=True)

merge1_ldb = merge1.merge(LDB_prev[['Finance(SAP) Number','EXIM Account No.','CIF Number',
                                              'Facility Currency',
                                              'Cumulative Profit Payment/Interest Repayment (Facility Currency)',
                                              'Cumulative Profit Payment/Interest Repayment (MYR)',
                                              'Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)',
                                              'Cumulative Ta`widh Payment/Penalty Repayment  (MYR)']].drop_duplicates('Finance(SAP) Number',keep='first').rename(columns={'Finance(SAP) Number':'Account'}),on=['Account'],how='outer', suffixes=('_x', ''),indicator=True)

merge_ldb['Other_Charges_Payment_MYR'].fillna(0,inplace=True)
merge_ldb['Other_Charges_Payment_FC'].fillna(0,inplace=True)
merge_ldb['Cumulative Other Charges Payment (Facility Currency)'].fillna(0,inplace=True) 
merge_ldb['Cumulative Other Charges Payment (MYR)'].fillna(0,inplace=True)

merge1_ldb['Profit_Payment_Interest_Repayment_MYR'].fillna(0,inplace=True)
merge1_ldb['Profit_Payment_Interest_Repayment_FC'].fillna(0,inplace=True)
merge1_ldb['Ta`widh Payment/Penalty Repayment (MYR)'].fillna(0,inplace=True) 
merge1_ldb['Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
merge1_ldb['Cumulative Profit Payment/Interest Repayment (Facility Currency)'].fillna(0,inplace=True)
merge1_ldb['Cumulative Profit Payment/Interest Repayment (MYR)'].fillna(0,inplace=True)
merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'].fillna(0,inplace=True)

C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Profit Payment/Interest Repayment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Profit Payment/Interest Repayment (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Other Charges Payment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LDB_prev['Cumulative Other Charges Payment (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge_ldb['Other_Charges_Payment_MYR'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge_ldb['Other_Charges_Payment_FC'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge_ldb['Cumulative Other Charges Payment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge_ldb['Cumulative Other Charges Payment (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Profit_Payment_Interest_Repayment_MYR'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Profit_Payment_Interest_Repayment_FC'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Ta`widh Payment/Penalty Repayment (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:36: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Cumulative Profit Payment/Interest Repayment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Cumulative Profit Payment/Interest Repayment (MYR)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)'].fillna(0,inplace=True)
C:\Users\syahidhalid\AppData\Local\Temp\4\ipykernel_29364\2424663408.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'].fillna(0,inplace=True)

In [15]:
merge_ldb['Cumulative Other Charges Payment (MYR) New'] = merge_ldb['Other_Charges_Payment_MYR'] +  merge_ldb['Cumulative Other Charges Payment (MYR)'] 
merge_ldb['Cumulative Other Charges Payment (Facility Currency) New'] = merge_ldb['Other_Charges_Payment_FC'] +  merge_ldb['Cumulative Other Charges Payment (Facility Currency)']

In [16]:

merge1_ldb['Cumulative Profit Payment/Interest Repayment (MYR) New'] = merge1_ldb['Cumulative Profit Payment/Interest Repayment (MYR)'] +  merge1_ldb['Profit_Payment_Interest_Repayment_MYR'] 
merge1_ldb['Cumulative Profit Payment/Interest Repayment (Facility Currency) New'] = merge1_ldb['Cumulative Profit Payment/Interest Repayment (Facility Currency)'] +  merge1_ldb['Profit_Payment_Interest_Repayment_FC'] 
merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment  (MYR) New'] = merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment  (MYR)'] +  merge1_ldb['Ta`widh Payment/Penalty Repayment (MYR)'] 
merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency) New'] = merge1_ldb['Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)'] +  merge1_ldb['Ta`widh Payment/Penalty Repayment (Facility Currency)']

In [17]:
#appendfinal2.sort_values('Disbursement_Drawdown_MYR', ascending=False, inplace=True)

In [18]:
merge_ldb = merge_ldb[[ 'CIF Number','EXIM Account No.','Account','Type_of_Financing', 
       'Facility Currency',
       'Other_Charges_Payment_FC', 'Other_Charges_Payment_MYR',
       'Cumulative Other Charges Payment (Facility Currency)',
       'Cumulative Other Charges Payment (MYR)',
       'Cumulative Other Charges Payment (Facility Currency) New',
       'Cumulative Other Charges Payment (MYR) New']]

In [19]:
merge1_ldb = merge1_ldb[['CIF Number','EXIM Account No.','Account', 'Type_of_Financing',
       'Facility Currency',
       'Profit_Payment_Interest_Repayment_FC',
       'Profit_Payment_Interest_Repayment_MYR',
       'Cumulative Profit Payment/Interest Repayment (Facility Currency)',
       'Cumulative Profit Payment/Interest Repayment (MYR)',
       'Cumulative Profit Payment/Interest Repayment (Facility Currency) New',
       'Cumulative Profit Payment/Interest Repayment (MYR) New',
       'Ta`widh Payment/Penalty Repayment (Facility Currency)',
       'Ta`widh Payment/Penalty Repayment (MYR)',
       'Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency)',
       'Cumulative Ta`widh Payment/Penalty Repayment  (MYR)', 
       'Cumulative Ta`widh Payment/Penalty Repayment (Facility Currency) New',
       'Cumulative Ta`widh Payment/Penalty Repayment  (MYR) New']]

In [20]:
writer2 = pd.ExcelWriter(r'C:\Users\syahidhalid\Syahid_PC\Analytics - FAD\00. Automation LDB\Data Source\202408\Working\\05. Data Mirror '+str(File[-8:])+' (python).xlsx',engine='xlsxwriter')

merge_ldb.to_excel(writer2, sheet_name='Other_Charges_Payment', index = False)
merge1_ldb.to_excel(writer2, sheet_name='Profit_Payment', index = False)
#merge2.to_excel(writer2, sheet_name='Income in Suspense', index = False)

writer2._save()

In [ ]:
#merge1.Account.value_counts()

In [26]:
File

'Data Mirror August 2024'

In [ ]:
str(Location)+'\\05. Data Mirror '+str(File[-8:])+' (python).xlsx'

In [16]:
print(sum(merge.Other_Charges_Payment_MYR))
print(sum(merge.Other_Charges_Payment_FC))

73047.46
17110.41

In [17]:
print(sum(Other_payment_conv1.___Amt_in_loc_cur_))
print(sum(Other_payment_conv1.______Amount_in_DC))

0
0

In [18]:
print(sum(Other_payment_isl1.___Amt_in_loc_cur_))
print(sum(Other_payment_isl1.______Amount_in_DC))

73047.46
17110.41

In [19]:
print(sum(Profit1.___Amt_in_loc_cur_))
print(sum(Profit1.______Amount_in_DC))

8582054.92
4601231.83