In [1]:
import pandas as pd
import numpy as np

In [3]:
MITI = pd.read_excel(r'C:\Users\syahidhalid\OneDrive - Export-Import Bank of Malaysia (EXIM Bank)\Desktop\Work\01 FAZLEE\MITI\DataSet-MITI as at 08072023.xlsx')

In [4]:
MITI.head(1)

,Bil.,Tajuk,Pembekal,Kluster,Keterangan,Status,Tarikh Cipta,Tarikh Kemaskini,Tindakan,Justifikasi
0,1,Industri Getah,Kementerian Perdagangan Antarabangsa dan Indus...,Perdagangan Antarabangsa,Eksport dan Import Getah untuk Tahun 2019 sehi...,Set Data Pindaan,27/06/2022 9:43 pm,13/07/2022 10:14 am,\n \n \n \n ...,NaN

In [5]:
MITI.shape

(405, 10)

In [10]:
MITI['Status'].value_counts()

Set Data Terbit     345
Set Data Dihapus     46
Set Data Pindaan     10
Set Data Ditolak      3
Set Data Draf         1
Name: Status, dtype: int64

In [7]:
MITI['Pembekal'].value_counts()

Kementerian Perdagangan Antarabangsa dan Industri (MITI)     132
Malaysia External Trade Development Corporation (MATRADE)     66
Malaysia Productivity Corporation (MPC)                       51
Institut Automotif, Robotik dan IoT Malaysia (MARii)          41
Export-Import Bank of Malaysia Berhad (EXIM Bank)             32
Malaysian Investment Development Authority (MIDA)             26
Malaysian Industrial Development Finance (MIDF)               17
MIMOS Berhad                                                  13
Department of Standards Malaysia (JSM)                         9
SIRIM Berhad                                                   8
InvestKL                                                       6
Malaysia Steel Institute (MSI)                                 4
Name: Pembekal, dtype: int64

In [8]:
MITI['Kluster'].value_counts()

Lain-lain                   105
Tiada Kluster                93
Perdagangan Antarabangsa     87
Pendaftaran Syarikat         44
Statistik Kebangsaan         29
Pendidikan                   13
Pengangkutan                 11
Pemetaan                      5
Perundangan                   5
Bajet                         4
Bancian                       3
Kontrak Awam                  2
Alam Sekitar                  2
Perbelanjaan Kerajaan         1
Kesihatan                     1
Name: Kluster, dtype: int64

# EXIM

In [13]:
A = MITI.iloc[np.where(MITI['Pembekal']=='Export-Import Bank of Malaysia Berhad (EXIM Bank)')]
A.head(2)

,Bil.,Tajuk,Pembekal,Kluster,Keterangan,Status,Tarikh Cipta,Tarikh Kemaskini,Tindakan,Justifikasi
24,25,EXIM Bank Trade Loans Approved By Corporate St...,Export-Import Bank of Malaysia Berhad (EXIM Bank),Perdagangan Antarabangsa,This data set shows number of EXIM Bank trade ...,Set Data Terbit,12/12/2019 3:38 am,13/12/2019 3:41 am,\n \n \n \n ...,NaN
27,28,EXIM Bank Non Trade Loans Approved By Corporat...,Export-Import Bank of Malaysia Berhad (EXIM Bank),Bajet,This dataset shows number of EXIM Bank non tra...,Set Data Terbit,03/12/2019 5:58 am,03/12/2019 8:39 am,\n \n \n \n ...,NaN

In [19]:
A.iloc[np.where(A.Tajuk.isin(["EXIM Bank's Credit Insurance By Region","EXIM Bank's Credit Insurance By Sector"]))]

,Bil.,Tajuk,Pembekal,Kluster,Keterangan,Status,Tarikh Cipta,Tarikh Kemaskini,Tindakan,Justifikasi
77,78,EXIM Bank's Credit Insurance By Sector,Export-Import Bank of Malaysia Berhad (EXIM Bank),Tiada Kluster,This dataset shows the percentage of credit in...,Set Data Terbit,13/12/2018 2:30 pm,05/12/2019 8:11 am,\n \n \n \n ...,NaN
81,82,EXIM Bank's Credit Insurance By Region,Export-Import Bank of Malaysia Berhad (EXIM Bank),Tiada Kluster,This dataset shows the percentage of credit in...,Set Data Terbit,10/12/2018 9:47 am,05/12/2019 8:09 am,\n \n \n \n ...,NaN

In [20]:
A.Status.value_counts()

Set Data Terbit     30
Set Data Dihapus     2
Name: Status, dtype: int64

In [17]:
A.Tajuk.value_counts()

EXIM Bank Trade Loans Approved By Corporate Status                      1
EXIM Bank Non Trade Loans Approved By Corporate Status                  1
EXIM Bank's Credit Insurance By Region                                  1
Classification of EXIM Bank's Loans by Contractual Maturity             1
EXIM Bank's Credit Insurance By Sector                                  1
EXIM Bank's Loan Performance                                            1
Classification of EXIM Bank's  Loans by Country                         1
Classification of EXIM Bank's Loans by Facility Currency                1
Classification of EXIM Bank's Loans by Facility Type                    1
Classification of EXIM Bank's Loans by Residency Status                 1
Classification of EXIM Bank's Loans by Sector                           1
EXIM Bank's Profitability Trending                                      1
EXIM Bank’s Non-Trade Conventional Loan by Region                       1
EXIM Bank’s Non-Trade Islamic Loan by Region                            1
EXIM Bank’s Trade Conventional Loan by Region                           1
EXIM Bank’s Trade Islamic Loan by Region                                1
EXIM Bank's Employees by Level                                          1
EXIM Bank's Employees by Gender                                         1
Number of  EXIM Bank's Non-Trade Loans Approved by Sector               1
Number of EXIM Bank's Non-Trade Loans Approved  by Country              1
Number of  EXIM Bank's Non-Trade Loans Approved by Residency Status     1
Number of  EXIM Bank's Non-Trade Loans Approved by Facility Currency    1
Number of EXIM Bank's Non-Trade Loans Approved by Facility Type         1
Number of  EXIM Bank's Trade Loans Approved by Country                  1
Number of  EXIM Bank's Trade Loans Approved by Facility Currency        1
Number of EXIM Bank's Trade Loans Approved by Facility Type             1
Number of EXIM Bank's Trade Loans Approved by Residency Status          1
Number of EXIM Bank's Trade Loans Approved by Sector (2013-2017)        1
EXIM Bank's  number of employees in HQ office  by race                  1
EXIM Bank's  number of employees in regional offices  by race           1
Classification of EXIM Bank’s Loan by Corporate Status                  1
EXIM Bank's  Asset Performance                                          1
Name: Tajuk, dtype: int64

In [15]:
A.Kluster.value_counts()

Tiada Kluster               19
Perdagangan Antarabangsa     6
Lain-lain                    6
Bajet                        1
Name: Kluster, dtype: int64

In [14]:
A.Tajuk.value_counts()

EXIM Bank Trade Loans Approved By Corporate Status                      1
EXIM Bank Non Trade Loans Approved By Corporate Status                  1
EXIM Bank's Credit Insurance By Region                                  1
Classification of EXIM Bank's Loans by Contractual Maturity             1
EXIM Bank's Credit Insurance By Sector                                  1
EXIM Bank's Loan Performance                                            1
Classification of EXIM Bank's  Loans by Country                         1
Classification of EXIM Bank's Loans by Facility Currency                1
Classification of EXIM Bank's Loans by Facility Type                    1
Classification of EXIM Bank's Loans by Residency Status                 1
Classification of EXIM Bank's Loans by Sector                           1
EXIM Bank's Profitability Trending                                      1
EXIM Bank’s Non-Trade Conventional Loan by Region                       1
EXIM Bank’s Non-Trade Islamic Loan by Region                            1
EXIM Bank’s Trade Conventional Loan by Region                           1
EXIM Bank’s Trade Islamic Loan by Region                                1
EXIM Bank's Employees by Level                                          1
EXIM Bank's Employees by Gender                                         1
Number of  EXIM Bank's Non-Trade Loans Approved by Sector               1
Number of EXIM Bank's Non-Trade Loans Approved  by Country              1
Number of  EXIM Bank's Non-Trade Loans Approved by Residency Status     1
Number of  EXIM Bank's Non-Trade Loans Approved by Facility Currency    1
Number of EXIM Bank's Non-Trade Loans Approved by Facility Type         1
Number of  EXIM Bank's Trade Loans Approved by Country                  1
Number of  EXIM Bank's Trade Loans Approved by Facility Currency        1
Number of EXIM Bank's Trade Loans Approved by Facility Type             1
Number of EXIM Bank's Trade Loans Approved by Residency Status          1
Number of EXIM Bank's Trade Loans Approved by Sector (2013-2017)        1
EXIM Bank's  number of employees in HQ office  by race                  1
EXIM Bank's  number of employees in regional offices  by race           1
Classification of EXIM Bank’s Loan by Corporate Status                  1
EXIM Bank's  Asset Performance                                          1
Name: Tajuk, dtype: int64