In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

In [2]:
CB = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\18_Rating_CBBBRSME\BRR_CBBBRSME_202112(python).xlsx")

In [3]:
CB_source = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\01_Corporate_Financing\01_Portfolio\20211231\GB Monthly Loan Outstanding as at 31-Dec-2021.xlsx")

In [4]:
CB_source.columns = CB_source.columns.str.upper()
CB_source.columns = CB_source.columns.str.replace(" ", "_")

In [5]:
CB_source1 = CB_source.iloc[np.where(CB_source.M_FINANCING_TYPE_CD=='I')].fillna(0).groupby(['M_CUS_NO','M_FINANCING_TYPE_CD'])[['M_BNM_BALANCE_SUM_1']].sum().reset_index()

In [6]:
CB_1 = CB.merge(CB_source1, on='M_CUS_NO', how='left', indicator=True)

In [7]:
CB_1.FINAL_RATING = CB_1.FINAL_RATING.str.strip()

CB_1.loc[CB_1.FINAL_RATING == '1', 'RAM'] = 'AAA'
CB_1.loc[CB_1.FINAL_RATING == '2', 'RAM'] = 'AAA'
CB_1.loc[CB_1.FINAL_RATING == '3', 'RAM'] = 'AAA'
CB_1.loc[CB_1.FINAL_RATING == '4', 'RAM'] = 'AA'
CB_1.loc[CB_1.FINAL_RATING == '5', 'RAM'] = 'AA'
CB_1.loc[CB_1.FINAL_RATING == '6', 'RAM'] = 'AA'
CB_1.loc[CB_1.FINAL_RATING == '7', 'RAM'] = 'AA'
CB_1.loc[CB_1.FINAL_RATING == '8', 'RAM'] = 'A'
CB_1.loc[CB_1.FINAL_RATING == '9', 'RAM'] = 'A'
CB_1.loc[CB_1.FINAL_RATING == '10', 'RAM'] = 'A'
CB_1.loc[CB_1.FINAL_RATING == '11', 'RAM'] = 'A'
CB_1.loc[CB_1.FINAL_RATING == '12', 'RAM'] = 'BBB'
CB_1.loc[CB_1.FINAL_RATING == '13', 'RAM'] = 'BBB'
CB_1.loc[CB_1.FINAL_RATING == '14', 'RAM'] = 'BBB'
CB_1.loc[CB_1.FINAL_RATING == '15', 'RAM'] = 'BB'
CB_1.loc[CB_1.FINAL_RATING == '16', 'RAM'] = 'BB'
CB_1.loc[CB_1.FINAL_RATING == '17', 'RAM'] = 'BB'
CB_1.loc[CB_1.FINAL_RATING == '18', 'RAM'] = 'BB'
CB_1.loc[CB_1.FINAL_RATING == '19', 'RAM'] = 'B'
CB_1.loc[CB_1.FINAL_RATING == '20', 'RAM'] = 'B'
CB_1.loc[CB_1.FINAL_RATING == '21', 'RAM'] = 'C'
CB_1.loc[CB_1.FINAL_RATING == '22', 'RAM'] = 'D'
CB_1.loc[CB_1.FINAL_RATING == '23', 'RAM'] = 'D'
CB_1.loc[CB_1.RAM.isna(), 'RAM'] = 'Unrated'

In [8]:
RPSIA = pd.read_excel(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\01_Monthly_Reporting\17_Sustainability_ESG high risk sectors\20220331\RPSIA Fikri\RPSIA_Mar22.xlsx", sheet_name='Sheet1')


RPSIA1 = RPSIA.fillna(0)#.groupby(['GCIF'])[['Outstanding']].sum().reset_index()

RPSIA1.GCIF = RPSIA1.GCIF.astype(str)
RPSIA1.GCIF = RPSIA1.GCIF.str.strip()
RPSIA1.GCIF = RPSIA1.GCIF.str.upper()

CB_1.M_CUS_NO = CB_1.M_CUS_NO.astype(str)
CB_1.M_CUS_NO = CB_1.M_CUS_NO.str.strip()
CB_1.M_CUS_NO = CB_1.M_CUS_NO.str.upper()

ex_RPSIA = CB_1.merge(RPSIA1[['GCIF']].drop_duplicates('GCIF').rename(columns={'GCIF':'M_CUS_NO'}), on='M_CUS_NO', how='left', indicator='True')

ex_RPSIA_FINAL = ex_RPSIA.iloc[np.where(ex_RPSIA['True']!='both')]

In [9]:
CB_2 = ex_RPSIA_FINAL.groupby(['RAM'])[['M_BNM_BALANCE_SUM_1']].sum().reset_index()

In [17]:
CB_RPSIA = ex_RPSIA.iloc[np.where(ex_RPSIA['True']=='both')]
CB_RPSIA

,M_CUS_NO,NAME,BNM_SECTOR_CD,SECTOR_DESC,SECTOR_PARENT,SEGMENT,RDMS,CUSTOMER_FIELD19,PSE/SOV,CRRS,3RD_PARTY_PARENT,3RD_PARTY,FINAL_RATING,M_FINANCING_TYPE_CD,M_BNM_BALANCE_SUM_1,_merge,RAM,True
0,23549043,LEMBAGA PEMBIAYAAN PERUMAHAN SEKTOR AWAM,64999,"OTHER FINANCIAL SERVICE ACTIVITIES, EXCEPT INSURANCE/TAKAFUL AND PENSION FUNDING N.E.C.",11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,2,PSE(FIRB),NaN,2,N,NaN,2,I,1.02e+10,both,AAA,both
1,20924517,SAPURA TMC SDN. BHD.,0910XG,OTHER SUPPORT ACTIVITIES FOR OIL & GAS EXTRACTION N.E.C.,02. MINING AND QUARRYING,01. CB,16,CORP(FIRB),NaN,16,N,NaN,16,I,4.71e+09,both,BB,both
2,6903241,PERMODALAN NASIONAL BHD.,64309,"TRUSTS, FUNDS AND SIMILAR FINANCIAL ENTITIES N.E.C.",11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,5,CORP(FIRB),NaN,5,N,NaN,5,I,3.15e+09,both,AA,both
3,17997345,PERBADANAN TABUNG PENDIDIKAN TINGGI NASI,64999,"OTHER FINANCIAL SERVICE ACTIVITIES, EXCEPT INSURANCE/TAKAFUL AND PENSION FUNDING N.E.C.",11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,11,PSE(FIRB),NaN,11,N,NaN,11,I,2.50e+09,both,A,both
4,11852516,S P SETIA BERHAD,41001B,"DEVELOPER - LANDED RESIDENTIAL UNITS (E.G. LINK, SEMI-D & DETACHED HOUSES) FOR SALE",06. CONSTRUCTION,01. CB,9,CORP(FIRB),NaN,9,N,NaN,9,I,2.29e+09,both,A,both
5,1153935,PADIBERAS NASIONAL BERHAD,106XX,"MANUFACTURE OF GRAIN MILL PRODUCTS, STARCHES AND STARCH PRODUCTS",03. MANUFACTURING,01. CB,10,CORP(FIRB),NaN,10,N,NaN,10,I,2.01e+09,both,A,both
6,13251262,PRASARANA MALAYSIA BHD,4911X,"PASSENGER RAIL TRANSPORT, INTERURBAN",08. TRANSPORTATION AND STORAGE,01. CB,13,CORP(FIRB),NaN,13,N,NaN,13,I,1.91e+09,both,BBB,both
7,18174668,LEMBAGA KEMAJUAN TANAH PERSEKUTUAN,01261A,"GROWING OF OIL PALM WITH PLANTATION ESTATES > 10,000 HECTARES","01. AGRICULTURE, FORESTRY AND FISHING",01. CB,10,PSE(FIRB),NaN,10,N,NaN,10,I,1.55e+09,both,A,both
8,15499781,SIME DARBY PLANTATION BERHAD,01261B,"GROWING OF OIL PALM WITH PLANTATION ESTATES OF 1,000 TO 10,000 HECTARES","01. AGRICULTURE, FORESTRY AND FISHING",01. CB,8,CORP(FIRB),NaN,8,N,NaN,8,I,1.24e+09,both,A,both
11,24436602,MALAYSIA RAIL LINK SDN. BHD.,4210XC,CONSTRUCTION OF RAILWAYS AND SUBWAYS,06. CONSTRUCTION,01. CB,3,CORP(FIRB),NaN,3,N,NaN,3,I,9.60e+08,both,AAA,both
12,22660558,QSR STORES SDN BHD,56103,FAST-FOOD RESTAURANTS,09. ACCOMMODATION AND FOOD SERVICE ACTIVITIES,01. CB,6,CORP(FIRB),NaN,6,N,NaN,6,I,9.19e+08,both,AA,both
13,19492758,TRURICH RESOURCES SDN BHD,01261A,"GROWING OF OIL PALM WITH PLANTATION ESTATES > 10,000 HECTARES","01. AGRICULTURE, FORESTRY AND FISHING",01. CB,23,CORP(FIRB),NaN,23,N,NaN,23,I,9.04e+08,both,D,both
15,15868077,TENAGA NASIONAL BERHAD,3510XG,"TRANSMISSION, DISTRIBUTION AND SALES OF ELECTRICITY","04. ELECTRICITY, GAS, STEAM AND AIR CONDITIONING SUPPLY",01. CB,4,CORP(FIRB),NaN,4,N,NaN,4,I,8.27e+08,both,AA,both
16,20861949,EDOTCO MALAYSIA SDN. BHD.,6190X,OTHER TELECOMMUNICATIONS ACTIVITIES,10. INFORMATION AND COMMUNICATION,01. CB,6,CORP(FIRB),NaN,6,N,NaN,6,I,8.24e+08,both,AA,both
17,4346602,DRB-HICOM BERHAD,64200,ACTIVITIES OF HOLDING COMPANIES,11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,13,CORP(FIRB),NaN,13,N,NaN,13,I,7.22e+08,both,BBB,both
18,17244961,AXIATA GROUP BERHAD,6190X,OTHER TELECOMMUNICATIONS ACTIVITIES,10. INFORMATION AND COMMUNICATION,01. CB,12,CORP(FIRB),NaN,12,N,NaN,12,I,6.67e+08,both,BBB,both
21,15890763,PROJEK LINTASAN KOTA HOLDINGS SDN. BHD.,64200,ACTIVITIES OF HOLDING COMPANIES,11. FINANCIAL AND INSURANCE/ TAKAFUL ACTIVITIES,01. CB,6,CORP(FIRB),NaN,6,N,NaN,6,I,5.84e+08,both,AA,both
24,24996495,PULAU INDAH POWER PLANT SDN. BHD.,3510XC,OTHER ELECTRICITY POWER GENERATION - NON-RENEWABLE ENERGY/THERMAL N.E.C.,"04. ELECTRICITY, GAS, STEAM AND AIR CONDITIONING SUPPLY",01. CB,11,CORP SL (FIRB),NaN,11,N,NaN,11,I,5.25e+08,both,A,both
25,21636663,PJS DAMANSARA SDN BHD,68109,REAL ESTATE ACTIVITIES WITH OWN OR LEASED PROPERTY N.E.C.,12. REAL ESTATE ACTIVITIES,01. CB,13,CORP(FIRB),NaN,13,N,NaN,13,I,5.19e+08,both,BBB,both
26,17199004,FGV HOLDINGS BERHAD,10401A,INTEGRATED PLAYER FOR MANUFACTURE OF CRUDE PALM OIL,03. MANUFACTURING,01. CB,11,CORP(FIRB),NaN,11,N,NaN,11,I,5.10e+08,both,A,both
35,1570868,PETALING GARDEN SDN BHD,41001B,"DEVELOPER - LANDED RESIDENTIAL UNITS (E.G. LINK, SEMI-D & DETACHED HOUSES) FOR SALE",06. CONSTRUCTION,01. CB,8,CORP(FIRB),NaN,8,N,NaN,8,I,3.75e+08,both,A,both
50,1491682,PONTIAN UNITED PLANTATIONS BHD,01261A,"GROWING OF OIL PALM WITH PLANTATION ESTATES > 10,000 HECTARES","01. AGRICULTURE, FORESTRY AND FISHING",01. CB,14,CORP(FIRB),NaN,14,17199004,11.0,14,I,2.56e+08,both,BBB,both
54,21493946,PR1MA CORPORATION MALAYSIA,41001C,DEVELOPER - AFFORDABLE HOUSING SCHEME (AS APPROVED BY GOVERNMENT) FOR SALE,06. CONSTRUCTION,01. CB,13,PSE(FIRB),NaN,13,N,NaN,13,I,2.20e+08,both,BBB,both
100,18277935,NORTHERN MALL SDN. BHD.,68102D,"BUYING, SELLING, RENTING AND OPERATING OF SELF-OWNED OR LEASED OF SHOPPING COMPLEXES OR MALLS",12. REAL ESTATE ACTIVITIES,01. CB,23,CORP(FIRB),NaN,23,N,NaN,23,I,1.04e+08,both,D,both
113,4134301,KUMPULAN PERUBATAN (JOHOR) SDN. BHD.,861XX,HOSPITAL ACTIVITIES,17. HUMAN HEALTH AND SOCIAL WORK ACTIVITIES,01. CB,10,CORP(FIRB),NaN,10,N,NaN,10,I,9.08e+07,both,A,both

In [10]:
CB_2

       RAM  M_BNM_BALANCE_SUM_1
0        A             1.25e+10
1       AA             4.59e+09
2      AAA             5.24e+07
3        B             2.59e+07
4       BB             3.33e+09
5      BBB             6.09e+09
6        C             3.17e+08
7        D             8.21e+07
8  Unrated             1.14e+09

In [11]:
RDATE = 20211231

In [12]:
TOTAL_IMPAIRED_FINAL  = pd.read_csv(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\02_Data_Source\20_CRP\6.0 Impaired Loan\\'+str(RDATE)[:4]+'\\'+str(RDATE)[:6]+'\working\Total_Impaired_Final_'+str(RDATE)+'.txt',sep = ",", header = 0, low_memory = False)
TOTAL_IMPAIRED_FINAL.columns = TOTAL_IMPAIRED_FINAL.columns.str.upper()
TOTAL_IMPAIRED_FINAL.V_ORIGINAL_ACCOUNT_NUMBER = TOTAL_IMPAIRED_FINAL.V_ORIGINAL_ACCOUNT_NUMBER.astype(str)

In [13]:
TOTAL_IMPAIRED_FINAL1 = TOTAL_IMPAIRED_FINAL.iloc[np.where(TOTAL_IMPAIRED_FINAL.PRODUCT_GROUP=='01.CB')]

In [14]:
TOTAL_IMPAIRED_FINAL2 = TOTAL_IMPAIRED_FINAL1.fillna(0).groupby(['CUSTOMER_ID'])[['OUTSTANDING_AFTER_EIR_UWI']].sum().reset_index()

In [15]:
TOTAL_IMPAIRED_FINAL3 = TOTAL_IMPAIRED_FINAL2.merge(CB[['M_CUS_NO','NAME','FINAL_RATING']].rename(columns={'M_CUS_NO':'CUSTOMER_ID'}), on='CUSTOMER_ID',how='left',indicator=True)

In [16]:
TOTAL_IMPAIRED_FINAL3.FINAL_RATING = TOTAL_IMPAIRED_FINAL3.FINAL_RATING.str.strip()

TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '1', 'RAM'] = 'AAA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '2', 'RAM'] = 'AAA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '3', 'RAM'] = 'AAA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '4', 'RAM'] = 'AA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '5', 'RAM'] = 'AA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '6', 'RAM'] = 'AA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '7', 'RAM'] = 'AA'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '8', 'RAM'] = 'A'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '9', 'RAM'] = 'A'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '10', 'RAM'] = 'A'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '11', 'RAM'] = 'A'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '12', 'RAM'] = 'BBB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '13', 'RAM'] = 'BBB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '14', 'RAM'] = 'BBB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '15', 'RAM'] = 'BB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '16', 'RAM'] = 'BB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '17', 'RAM'] = 'BB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '18', 'RAM'] = 'BB'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '19', 'RAM'] = 'B'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '20', 'RAM'] = 'B'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '21', 'RAM'] = 'C'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '22', 'RAM'] = 'D'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.FINAL_RATING == '23', 'RAM'] = 'D'
TOTAL_IMPAIRED_FINAL3.loc[TOTAL_IMPAIRED_FINAL3.RAM.isna(), 'RAM'] = 'Unrated'

In [18]:
TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID = TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID.astype(str)
TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID = TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID.str.strip()
TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID = TOTAL_IMPAIRED_FINAL3.CUSTOMER_ID.str.upper()

ex_TOTAL_IMPAIRED_FINAL3 = TOTAL_IMPAIRED_FINAL3.merge(RPSIA1[['GCIF']].drop_duplicates('GCIF').rename(columns={'GCIF':'CUSTOMER_ID'}), on='CUSTOMER_ID', how='left', indicator='True')

In [19]:
IF_RPSIA = ex_TOTAL_IMPAIRED_FINAL3.iloc[np.where(ex_TOTAL_IMPAIRED_FINAL3['True']=='both')]
IF_RPSIA

,CUSTOMER_ID,OUTSTANDING_AFTER_EIR_UWI,NAME,FINAL_RATING,_merge,RAM,True
13,18277935,1.03e+08,NORTHERN MALL SDN. BHD.,23,both,D,both
17,19492758,8.47e+08,TRURICH RESOURCES SDN BHD,23,both,D,both

In [20]:
ex_TOTAL_IMPAIRED_FINAL3_FINAL = ex_TOTAL_IMPAIRED_FINAL3.iloc[np.where(ex_TOTAL_IMPAIRED_FINAL3['True']!='both')]

In [21]:
TOTAL_IMPAIRED_FINAL4 = ex_TOTAL_IMPAIRED_FINAL3_FINAL.groupby(['RAM'])[['OUTSTANDING_AFTER_EIR_UWI']].sum().reset_index()

In [22]:
writer2 = pd.ExcelWriter(r'T:\MIB Risk Management\Credit Risk Analytics - Historical\01_Reporting\03_Adhoc_Reporting\2022\202208_RAM\Corp & SME Q15 & Q16\RAM_CB - dec 21 (exclude RPSIA).xlsx',engine='xlsxwriter')
CB_RPSIA.to_excel(writer2,sheet_name='CB - RPSIA' ,index = False)
CB_1.to_excel(writer2,sheet_name='CB - base' ,index = False)
CB_2.to_excel(writer2,sheet_name='CB' ,index = False)
TOTAL_IMPAIRED_FINAL4.to_excel(writer2,sheet_name='CB IF' ,index = False)
TOTAL_IMPAIRED_FINAL3.to_excel(writer2,sheet_name='CB IF - base' ,index = False)
IF_RPSIA.to_excel(writer2,sheet_name='CB IF - RPSIA' ,index = False)
writer2.save()