In [1]:
import numpy as np
import pandas as pd
import pandasql
import sqlite3

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_colwidth", 1000) #huruf dlm column
pd.set_option("display.max_rows", 100)
pd.set_option("display.precision", 2) #2 titik perpuluhan

date = 20220930

append = pd.read_csv(r"T:\MIB Risk Management\Credit Risk Analytics - Historical\04_Infocube\99_Data_Source\01_Datawarehouse\01_Credit_Risk_Reporting\12_Append for YTD\append"+str(date)+".txt", sep = ",", header = 0)

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
append.head(1)

,As_Of_Date,M_Account_No,Avg_Book_Bal,M_Interest_Income_Myr,M_Funds_Charge_Myr
0,28-FEB-2022,451016000327,13978.25,80.25,67.7

In [3]:
append.dtypes

As_Of_Date                object
M_Account_No              object
Avg_Book_Bal             float64
M_Interest_Income_Myr    float64
M_Funds_Charge_Myr       float64
dtype: object